                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Attendance', checkinouts_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Attendance - <span class="semi-bold"> Monthly Reports</span></h3>	
                </div>
                <div class="row">
		  
		  
		  
                    <div class="col-md-12">
                        <div class="grid simple ">
			    
			    <form id="CheckinoutsFilter" action="<%= detail_checkinouts_url %>" method="get">
				<input type="hidden" name="user_id" value="<%= @user.id %>" />
                                      <div class="form-group">
                                              <select name="year" style="width:100px" onchange="$('#CheckinoutsFilter').submit()">
                                                <option value="2014"><%= @year %></option>
                                                <% (2010..2030).each do |i| %>
                                                  <% if Checkinout.min_date <= @timezone.parse(i.to_s+"-12-31") %>
                                                    <option <% if @year == i %>selected="selected"<% end %> value="<%= i %>"><%= i.to_s %></option>
                                                  <% end %>
                                                <% end %>
                                              </select>

                                              <select name="month" style="width:150px" onchange="$('#CheckinoutsFilter').submit()">
                                                <% (1..12).each do |i| %>
                                                  <% if Checkinout.min_date <= @timezone.parse(@year.to_s+"-"+i.to_s+"-01") %>
                                                    <option <% if @month == i %>selected="selected"<% end %> value="<%= i %>"><%= Date::MONTHNAMES[i] %></option>
                                                  <% end %>
                                                <% end %>
                                              </select>
                                      </div>
                                        
                            </form>
				    
                            <div class="grid-title no-border">
                                <h4><span class="semi-bold"><%= @user.name %></span> - Listing  Attendances - <span class="green"><strong><%= Date::MONTHNAMES[@month] %>, <%= @year %></strong></span> (<%= (@work_time/3600).round(2).to_s %>/208 hours)</h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables no-filter">
                                        <thead>
                                            <tr>
                                                <th width="27%">Check-in Date</th>
                                                <th>Check-in Time</th>
                                                <th>Total Work Time</th>
                                                <th>Result</th>
                                                <!--<th width="8%">Note</th>-->
                                                <th style="text-align:right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            <% @checks.each do |check| %>
                                                  <tr>
						    <td><%= check.check_date.strftime("%a")+", "+check.check_date.to_formatted_s(:long) %></td>
                                                    <td><%= check.check_time_formatted.html_safe %></td>
                                                    <td><%= check.work_time_formatted.html_safe %></td>
                                                    <td><%= check.get_result.html_safe %></td>
                                                    <!--<td><%= check.note.html_safe %></td>-->
                                                    <td style="text-align:right">
							<a href="<%= new_checkinout_request_path(check_time: check.check_time) %>" class="btn btn-info btn-sm btn-mini" type="button">Request</a>
							
							<% if can? :manage, Checkinout%>
							    <% if check.id.nil? %>
							      <a href="<%= new_checkinout_path(att_no: @user.ATT_No, check_date: check.check_date, tab_page: 1) %>" class="btn btn-primary btn-sm btn-mini" type="button">Update</a>
							    <% else %>
							      <a href="<%= edit_checkinout_path(check) %>" class="btn btn-primary btn-sm btn-mini" type="button">Update</a>
							      <%= link_to 'Delete', check, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm btn-mini btn-danger" %>
							    <% end %>
							<% end %>
                                                    </td>
						  </tr>
                                            <% end %>
                                            
                                            <tr>
                                              <td></td>
                                              <td style="text-align: right">Tổng cộng</td>
                                              <td><strong><%= @user.work_time_by_month(@month, @year) %> hours (<%= @user.checkinouts_by_month(@month, @year).count %> days)</strong></td>
                                              <td></td>
                                              <td></td>
                                              
                                            </tr>
					    
                                          </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
    
<script>
  $(document).ready(function() {
            //Filter
	    $('select[name="year"]').select2();
	    $('select[name="month"]').select2();
  });
</script>
