                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Attendance', checkinouts_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Attendance - <span class="semi-bold"> Monthly Reports</span></h3>	
                </div>
                <div class="row">
		  
		  
		  
                    <div class="col-md-12">
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4><span class="semi-bold">My  Attendance Report</span> - <span class="green"><strong><%= Date::MONTHNAMES[@month] %>, <%= @year %></strong></span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables no-filter">
                                        <thead>
                                            <tr>
                                                <th width="27%">Name</th>
                                                <th style="text-align: center">Default Hours</th>
                                                <th style="text-align: center">Work Hours</th>
                                                <th style="text-align: center">Days of work (days/26)</th>
                                                <th width="8%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td><%= current_user.name %></td>
                                              <td style="text-align: center">208</td>
                                              <td style="text-align: center"><%= current_user.work_time_by_month(@month, @year) %></td>
                                              <td style="text-align: center"><%= current_user.checkinouts_by_month(@month, @year).count %></td>
                                              <td><a href="<%= detail_checkinouts_url(user_id: current_user.id, month: @month, year: @year) %>" class="btn btn-primary btn-sm btn-small" type="button">View Details</a></td>
                                            </tr>
                                          </tbody>
                                    </table>
                            </div>
                            
                            
                            <% if can? :manage, Checkinout %>
                              <div class="grid-title no-border">
                                  <h4><span class="semi-bold">Other Attendance Reports</span> - <span class="green"><strong><%= Date::MONTHNAMES[@month] %>, <%= @year %></strong></span></h4>
                                  <div class="tools">
                                      
                                      <!--<a href="javascript:;" class="collapse"></a>
                                      <a href="#grid-config" data-toggle="modal" class="config"></a>
                                      <a href="javascript:;" class="reload"></a>
                                      <a href="javascript:;" class="remove"></a>-->
                                      
                                  </div>
                              </div>
                              
                              
                                <div class="grid-body no-border">
                                    <table class="table table-striped no-more-tables no-filter">
                                        <thead>
                                            <tr>
                                                <th width="27%">Name</th>
                                                <th style="text-align: center">Default Hours</th>
                                                <th style="text-align: center">Work Hours</th>
                                                <th style="text-align: center">Days of work (days/26)</th>
                                                <th width="8%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% @users.each do |user| %>
                                            <tr>
                                              <td><%= user.name %></td>
                                              <td style="text-align: center">208</td>
                                              <td style="text-align: center"><%= user.work_time_by_month(@month, @year) %></td>
                                              <td style="text-align: center"><%= user.checkinouts_by_month(@month, @year).count %></td>
                                              <td><a href="<%= detail_checkinouts_url(user_id: user.id, month: @month, year: @year) %>" class="btn btn-primary btn-sm btn-small" type="button">View Details</a></td>
                                            </tr>
                                          <% end %>
                                          </tbody>
                                    </table>
                                </div>
                              
                            <% end %>
                        </div>
                    </div>
                </div>
