<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order_status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order_status.description %>
</p>

<%= link_to 'Edit', edit_order_status_path(@order_status) %> |
<%= link_to 'Back', order_statuses_path %>
