       <div class="row">
            <div class="col-md-6">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Category <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @customer_po.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@customer_po.errors.count, "error") %> prohibited this category from being saved:</h5>
                  
                        <ul>
                        <% @customer_po.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@customer_po, :multipart => true) do |f| %>
                           
                      <div class="form-group">
                        <label class="form-label"><%= f.label :code %></label>
                        <span class="help">(required)</span>
						<div class="input-with-icon  right">                                       
							<i class=""></i>
                            <%= f.text_field :code, :class => "form-control required" %>
						</div>
                      </div>                     
                      <div class="form-group">
                        <label class="form-label"><%= f.label :filename %></label>
                        <span class="help">(required)</span>
						<div class="input-with-icon  right">                                       
							<i class=""></i>
                            <div class="nice"><%= f.file_field :filename %></div>
						</div>
                      </div>
                      
                      
                      <div class="form-actions">  
                        <div class="pull-right">
                          <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                          <%= link_to 'Cancel', customer_pos_path, :class => "btn btn-white btn-cons" %>
                        </div>
                      </div>
				<% end %>
                </div>
              </div>
            </div>		
      </div>




