<p id="notice"><%= notice %></p>

<h1>Listing City Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_types.each do |city_type| %>
      <tr>
        <td><%= city_type.name %></td>
        <td><%= link_to 'Show', city_type %></td>
        <td><%= link_to 'Edit', edit_city_type_path(city_type) %></td>
        <td><%= link_to 'Destroy', city_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City type', new_city_type_path %>
