       <div class="row" style="margin: 0">	  
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Product <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                
                <div class="grid-body no-border ajax_outer">
                  
                  
                  <% if @order_detail.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h5>
                  
                        <ul>
                        <% @order_detail.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
		  
		    <% if !@order_detail.id.nil? %>
			 <% @action = "ajax_update" %>
			 <input type="hidden" name="id" value="<%= @order_detail.id %>" />
		    <% else %>
			 <% @action = "ajax_create" %>
		    <% end %>
		<%= form_for(@order_detail, :url => {:action => @action,}, :html => {:id => "ajax-order-detail-form"}) do |f| %>
                         
			 <% if !@order_detail.order.nil? %>
			      <input type="hidden" name="order_detail[order_id]" value="<%= @order_detail.order.id %>" />
			 <% end %>
			 
			 <% if !@order_detail.id.nil? %>
			      <input type="hidden" name="id" value="<%= @order_detail.id %>" />
			 <% end %>
                           
                    <div class="row column-seperation">
                           
                            <div class="col-md-12">
			      
			      <div class="form-group">
                                <label class="form-label"><%= f.label :product_id %></label>
                                <span class="help">(required)</span>
                                <div class="input-with-icon  right">                                       
                                  <i class=""></i>
                                  <select name="order_detail[product_id]" class="modern_select" style="min-width: 400px;">
                                    <option value="">Select Product</option>
                                    <% Product.all.each do |product| %>
                                        <option value="<%= product.id %>" <% if !@order_detail.product.nil? && @order_detail.product.id == product.id %>selected="selected"<% end %>>
                                          <%= product.name %>
                                        </option>
                                    <% end %>
                                  </select>
                                </div>
                              </div>
			      <input type="hidden" name="order_detail[product_name]" value="<%= @order_detail.product_name %>" />
			      
			      <div class="form-group">
				   <label class="form-label"><%= f.label :product_description %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_area :product_description, :product_description => "form-control" %>
				     </div>
			      </div>
			      
			      <div class="form-group">
				   <label class="form-label"><%= f.label :unit %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :unit, :class => "form-control" %>
				     </div>
			      </div>
			      
			      
			      <div class="form-group">
                                <label class="form-label"><%= f.label :supplier %></label>
                                <span class="help">(required)</span>
                                <div class="input-with-icon  right">                                       
                                  <i class=""></i>
                                  <select name="order_detail[supplier_id]" class="modern_select" style="min-width: 400px;">
                                    <option value="">Select Supplier</option>
                                    <% Contact.all.each do |contact| %>
                                        <option value="<%= contact.id %>" <% if !@order_detail.supplier.nil? && @order_detail.supplier.id == contact.id %>selected="selected"<% end %>>
                                          <%= contact.name %>
                                        </option>
                                    <% end %>
                                  </select>
                                </div>
                              </div>
			      
			      
			      
			      <div class="form-group">
				   <label class="form-label"><%= f.label :supplier_price %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :supplier_price, :class => "form-control" %>
				     </div>
			      </div>
			      <div class="form-group">
				   <label class="form-label"><%= f.label :price %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :price, :class => "form-control" %>
				     </div>
			      </div>
			      <div class="form-group">
				   <label class="form-label"><%= f.label :quantity %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :quantity, :class => "form-control" %>
				     </div>
			      </div>
			      <div class="form-group">
				   <label class="form-label"><%= f.label :warranty %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :warranty, :class => "form-control" %>
				     </div>
			      </div>
                              
			      
                                                        
                                                        
                            </div>
                            
                            
                            
                        
                        
                    </div>
                      
				  <div class="form-actions">  
					<div class="pull-right">
					  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                          
					</div>
					</div>
		<% end %>
                </div>
              </div>
            </div>		
      </div>
       
