                                  <tr class="order_details_line quantity-<%= order_detail.quantity %>" order_id="<%= order_detail.id %>" rel="<%= order_detail.product_id %>">
                                      <td class="name">
                                          <input type="hidden" name="order_details[<%= order_detail.product_id %>][id]" value="<%= order_detail.id %>" />
                                          <input type="hidden" name="order_details[<%= order_detail.product_id %>][product_id]" value="<%= order_detail.product_id %>" />
                                        <input type="hidden" name="order_details[<%= order_detail.product_id %>][product_price_id]" value="<%= order_detail.product_price_id %>" />

                                          
                                          <label class="col_label top0">Name/Description:</label>
                                          <textarea class="form-control width100" name="order_details[<%= order_detail.product_id %>][product_name]"><%= order_detail.product_name %></textarea>
                                          <textarea class="form-control width100" name="order_details[<%= order_detail.product_id %>][product_description]"><%= order_detail.product_description %></textarea>
                                          <!--<input class="form-control" type="text" name="order_details[<%= order_detail.product_id %>][product_name]" value="<%= order_detail.product_name %>" />
                                          <input class="form-control" type="text" name="order_details[<%= order_detail.product_id %>][product_description]" value="<%= order_detail.product_description %>" />-->
                                          <!--<br />-->
                                        

                                      </td>
                                      <td class="unit">
                                        <label class="col_label top0">Unit:</label>
                                        <input class="text-center form-control" type="text" name="order_details[<%= order_detail.product_id %>][unit]" value="<%= order_detail.unit %>" />
                                        
                                      </td>                                    
                                      <td class="">
                                        <label class="col_label top0">Price:</label>
                                        <input class="form-control price_input price" type="text" name="order_details[<%= order_detail.product_id %>][price]" value="<%= order_detail.price %>" />
                                        <label class="col_label">Quantity:</label>
                                        <input class="form-control number_input quantity" type="text" name="order_details[<%= order_detail.product_id %>][quantity]" value="<%= order_detail.quantity %>" />

                                        <label class="col_label">Tax:</label>
                                        <select name="order_details[<%= order_detail.product_id %>][tax_id]" class="modern_select tax-select">                                    
                                          <% Tax.all.order("created_at DESC").each do |tax| %>
                                              <option rel="<%= tax.rate %>" value="<%= tax.id %>" <% if !order_detail.tax_id.nil? && order_detail.tax_id == tax.id %>selected="selected"<% end %>>
                                                <%= tax.name %>
                                              </option>
                                          <% end %>
                                        </select>
                                      </td>
                                      <td class="text-right">
                                        <label class="col_label top0">Total:</label>
                                        <span class="total bold"><%= format_price(order_detail.total) %></span>
                                        <label class="col_label"><i class="icon-ambulance"></i> Ship.Cost:</label>
                                        <%= text_field_tag "order_details[#{order_detail.product_id}][shipment_amount]", order_detail.shipment_amount, {:class => "form-control price_input line_shipment_amount"} %>
                                        
                                      </td>
                                        <td class="warranty">
                                            <label class="col_label top0">Warranty:</label>
                                            <input class="form-control text-center" type="text" name="order_details[<%= order_detail.product_id %>][warranty]" value="<%= order_detail.warranty %>" />
                                        </td>
                                        <td class="line_discount text-right">
                                            <label class="col_label top0">Discount:</label>
                                            
                                            <%= text_field_tag "order_details[#{order_detail.product_id}][discount_amount]", order_detail.discount_amount.present? && order_detail.discount_amount > 0 ? order_detail.discount_amount : "" , {placeholder: "VND", :class => "form-control price_input  line_discount_amount"} %>
                                            <div class="input-group transparent">
                                                    <span class="input-group-addon ">
                                                      %
                                                    </span>
                                                    <%= text_field_tag :line_discount_percent, "", {:class => "form-control price_input line_discount_percent"} %>
                                             </div>
                                        </td>
                                        
                                        <td class="line_tip text-right">
                                            <label class="col_label top0">Tip:</label>
                                            
                                            <%= text_field_tag "order_details[#{order_detail.product_id}][tip_amount]", order_detail.tip_amount.present? && order_detail.tip_amount > 0 ? order_detail.tip_amount : "" , {placeholder: "VND", :class => "form-control price_input line_tip_amount"} %>
                                            <div class="input-group transparent">
                                                    <span class="input-group-addon ">
                                                      %
                                                    </span>
                                                    <%= text_field_tag :line_tip_percent, "", {:class => "form-control price_input line_tip_percent"} %>
                                             </div>
                                        </td>
                                        
                                        <td>
                                            <%= link_to 'X', ajax_destroy_order_details_url(id: order_detail.id), rel: order_detail.product_id, :class => "btn btn-danger btn-xs btn-mini delete_product_order_detail edit-order-detail", data: { confirm: 'Are you sure?' } %>
                                        </td>

                                  </tr>
                                  
                                  
                                  