                                  <ul class="quantity-<%= order_detail.quantity %>" order_id="<%= order_detail.id %>" rel="<%= order_detail.product_id %>">
                                      <li class="name">                                          
                                          <%= order_detail.product_name %>
                                      </li>
                                      <li class="unit">
                                        <%= order_detail.unit %>
                                      </li>                                    
                                      <li class="text-right">
                                        <%= order_detail.formated_price %>
                                      </li>
                                      <li class="text-center">
                                        <%= order_detail.quantity %>
                                      </li>
                                      <li class="total text-right">
                                        <%= order_detail.total %>
                                      </li>
                                        <li class="warranty text-center">
                                          <%= order_detail.warranty %>
                                        </li>
                                      
                                  </ul>