                                  <tr class="order_details_line quantity-<%= order_detail.quantity %>" order_id="<%= order_detail.id %>" rel="<%= order_detail.product_id %>">
                                      <td class="name">
                                        <input type="hidden" name="order_details[<%= order_detail.product_id %>][id]" value="<%= order_detail.id %>" />
                                        <input type="hidden" name="order_details[<%= order_detail.product_id %>][product_id]" value="<%= order_detail.product_id %>" />
                                          <%= order_detail.product_name %>
                                          <br /><%= order_detail.product_description %>
                                      </td>
                                      <td class="unit text-center">
                                        <%= order_detail.unit %>
                                      </td>                                    
                                      <td class="text-right">
                                        <%= format_price(order_detail.price) %> / <%= order_detail.quantity %>
                                      </td>
                                      <td class="total text-right">
                                        <%= format_price(order_detail.total) %>
                                        <label class="col_label"><i class="icon-ambulance"></i> Shipment Cost:</label>
                                        <%= format_price(order_detail.shipment_amount) %>
                                      </td>
                                        <td class="warranty text-center">
                                          <%= order_detail.warranty %>
                                        </td>
                                      <td class="line_discount text-right">
                                            <%= format_price(order_detail.discount_amount) %>
                                            
                                        </td>
                                      <td class="line_tip text-right">
                                            
                                            
                                            <%= text_field_tag "order_details[#{order_detail.product_id}][tip_amount]", order_detail.tip_amount.present? && order_detail.tip_amount > 0 ? order_detail.tip_amount : "" , {placeholder: "VND", :class => "form-control price_input line_tip_amount"} %>
                                            <div class="input-group transparent">
                                                    <span class="input-group-addon ">
                                                      %
                                                    </span>
                                                    <%= text_field_tag :line_tip_percent, "", {:class => "form-control price_input line_tip_percent"} %>
                                             </div>
                                        </td>
                                  </tr>