                                  <ul class="quantity-<%= order_detail.quantity %>" order_id="<%= order_detail.id %>" rel="<%= order_detail.product_id %>">
                                      <li class="name">
                                          <input type="hidden" name="order_details[<%= order_detail.product_id %>][id]" value="<%= order_detail.id %>" />
                                          <input type="hidden" name="order_details[<%= order_detail.product_id %>][product_id]" value="<%= order_detail.product_id %>" />
                                        <input type="hidden" name="order_details[<%= order_detail.product_id %>][product_price_id]" value="<%= order_detail.product_price_id %>" />

                                          
                                          
                                          <textarea name="order_details[<%= order_detail.product_id %>][product_name]"><%= order_detail.product_name %></textarea>
                                          <textarea name="order_details[<%= order_detail.product_id %>][product_description]"><%= order_detail.product_description %></textarea>
                                          <!--<input class="form-control" type="text" name="order_details[<%= order_detail.product_id %>][product_name]" value="<%= order_detail.product_name %>" />
                                          <input class="form-control" type="text" name="order_details[<%= order_detail.product_id %>][product_description]" value="<%= order_detail.product_description %>" />-->
                                          <br />
                                        <%= link_to 'Remove Item', ajax_destroy_order_details_url(id: order_detail.id), rel: order_detail.product_id, :class => "btn btn-danger btn-xs btn-mini delete_product_order_detail edit-order-detail", data: { confirm: 'Are you sure?' } %>

                                      </li>
                                      <li class="unit">
                                        <input class="text-center form-control" type="text" name="order_details[<%= order_detail.product_id %>][unit]" value="<%= order_detail.unit %>" />
                                        
                                      </li>                                    
                                      <li class="">
                                        <input class="form-control price_input price" type="text" name="order_details[<%= order_detail.product_id %>][price]" value="<%= order_detail.price %>" />
                                        <input class="form-control number_input quantity" type="text" name="order_details[<%= order_detail.product_id %>][quantity]" value="<%= order_detail.quantity %>" />
                                      </li>
                                      <li class="total text-right">
                                        <%= format_price(order_detail.total) %>
                                      </li>
                                        <li class="warranty">
                                            <input class="form-control text-center" type="text" name="order_details[<%= order_detail.product_id %>][warranty]" value="<%= order_detail.warranty %>" />
                                        </li>
                                        <li class="line_discount text-right">
                                            
                                            
                                            <%= text_field_tag "order_details[#{order_detail.product_id}][discount_amount]", order_detail.discount_amount.present? && order_detail.discount_amount > 0 ? order_detail.discount_amount : "" , {placeholder: "VND", :class => "form-control price_input  line_discount_amount"} %>
                                        </li>
                                        
                                        <li class="line_tip text-right">
                                            
                                            
                                            <%= text_field_tag "order_details[#{order_detail.product_id}][tip_amount]", order_detail.tip_amount.present? && order_detail.tip_amount > 0 ? order_detail.tip_amount : "" , {placeholder: "VND", :class => "form-control price_input line_tip_amount"} %>
                                        </li>

                                  </ul>
                                  
                                  
                                  