<%= form_for(@customer_pos_order) do |f| %>
  <% if @customer_pos_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_pos_order.errors.count, "error") %> prohibited this customer_pos_order from being saved:</h2>

      <ul>
      <% @customer_pos_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :customer_po_id %><br>
    <%= f.number_field :customer_po_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
