       <div class="row" style="margin: 0">	  
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Product <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                
                <div class="grid-body no-border ajax_outer">
                  
                  
                  <% if @supplier_order_detail.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@supplier_order_detail.errors.count, "error") %> prohibited this supplier order detail from being saved:</h5>
                  
                        <ul>
                        <% @supplier_order_detail.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
		  
		    <% if !@supplier_order_detail.id.nil? %>
			 <% @action = "ajax_update" %>
		    <% else %>
			 <% @action = "ajax_create" %>
		    <% end %>
		    
		    
		<%= form_for(@supplier_order_detail, :url => {:action => @action,}, :html => {:id => "ajax-order-detail-form"}) do |f| %>
                         
			 <% if !@supplier_order_detail.supplier_order.nil? %>
			      <input type="hidden" name="supplier_order_detail[supplier_order_id]" value="<%= @supplier_order_detail.supplier_order.id %>" />
			 <% end %>
			 
			 <% if !@supplier_order_detail.id.nil? %>
			      <input type="hidden" name="id" value="<%= @supplier_order_detail.id %>" />
			 <% end %>
                           
                    <div class="row column-seperation">
                           
                         <div class="col-md-12">
			      
			      <div class="form-group">
                                <label class="form-label"><%= f.label :product_id %></label>
                                <span class="help">(required)</span>
                                <div class="input-with-icon  right">                                       
                                  <i class=""></i>
				  <input style="width:100%;margin-bottom: 5px;" name="supplier_order_detail[product_id]" url="<%= products_path(format: "json") %>" class="select2-ajax-products" value="<%= @supplier_order_detail.product_id %>" text="<%= @supplier_order_detail.product.name if !@supplier_order_detail.product.nil? %>" />
                                  
				  <br />
				   <%= link_to "Create new Product", ajax_new_products_path ,class: "btn btn-primary btn-sm btn-small fancybox.ajax ajax_add_product" %>
				  
                                </div>
                              </div>
			      <input type="hidden" name="supplier_order_detail[product_name]" value="<%= @supplier_order_detail.product_name %>" />
			      
			      <div class="form-group">
				   <label class="form-label"><%= f.label :product_description %></label>
				   <span class="help"></span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_area :product_description, :product_description => "form-control" %>
				     </div>
			      </div>
			      
			      <div class="form-group">
				   <label class="form-label"><%= f.label :unit %></label>
				   <span class="help">(required)</span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :unit, :class => "form-control" %>
				     </div>
			      </div>
			      
			      
			      
			      
			      
			      
			      
			      <div class="form-group">
				   <label class="form-label"><%= f.label :price %></label>
				   <span class="help">(required)</span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :price, :class => "form-control price_input" %>
				     </div>
			      </div>
			      <div class="form-group">
				   <label class="form-label"><%= f.label :quantity %></label>
				   <span class="help">(required)</span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :quantity, :class => "form-control" %>
				     </div>
			      </div>
			      <div class="form-group">
				   <label class="form-label"><%= f.label :warranty %></label>
				   <span class="help">(required)</span>
				     <div class="input-with-icon  right">                                       
				       <i class=""></i>
				       <%= f.text_field :warranty, :class => "form-control" %>
				     </div>
			      </div>
                              
			      
                                                        
                                                        
                         </div>
			 
			                    
                            
                            
                        
                        
                    </div>
                      
				  <div class="form-actions">  
					<div class="pull-right">
					  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                          
					</div>
					</div>
		<% end %>
                </div>
              </div>
            </div>		
      </div>
       
