<%= form_for(@supplier_order_detail) do |f| %>
  <% if @supplier_order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier_order_detail.errors.count, "error") %> prohibited this supplier_order_detail from being saved:</h2>

      <ul>
      <% @supplier_order_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_order_id %><br>
    <%= f.number_field :supplier_order_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
