                                  <ul rel="<%= supplier_order_detail.id %>">
                                    <li class="name">
                                      <input type="hidden" name="supplier_order[supplier_order_detail_ids][]" value="<%= supplier_order_detail.id %>" />
                                      <%= supplier_order_detail.product_name %>
                                    </li>
                                    <li class="unit"><%= supplier_order_detail.unit %></li>                                    
                                    <li class="price" rel="<%= supplier_order_detail.price %>"><%= supplier_order_detail.formated_price %></li>
                                    <li class="quantity"><%= supplier_order_detail.quantity %></li>
                                    <li class="price_total" rel="<%= supplier_order_detail.total %>"><%= supplier_order_detail.formated_total %></li>
                                    <li class="warranty"><%= supplier_order_detail.warranty %></li>
                                    <li class="action">                                      
                                      <%= link_to '<i class="icon-paste"></i>'.html_safe, ajax_edit_supplier_order_details_path(:id => supplier_order_detail.id), :class => "btn btn-info btn-xs btn-mini edit-order-detail fancybox.ajax" %>
                                      <%= link_to 'X', ajax_destroy_supplier_order_details_path(:id => supplier_order_detail.id), :class => "btn btn-danger btn-xs btn-mini delete_product_order_detail", data: { confirm: 'Are you sure?' } %>
                                    </li>
                                  </ul>