<h1>Listing supplier_order_details</h1>

<table>
  <thead>
    <tr>
      <th>Supplier order</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Product name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_order_details.each do |supplier_order_detail| %>
      <tr>
        <td><%= supplier_order_detail.supplier_order_id %></td>
        <td><%= supplier_order_detail.product_id %></td>
        <td><%= supplier_order_detail.quantity %></td>
        <td><%= supplier_order_detail.price %></td>
        <td><%= supplier_order_detail.product_name %></td>
        <td><%= link_to 'Show', supplier_order_detail %></td>
        <td><%= link_to 'Edit', edit_supplier_order_detail_path(supplier_order_detail) %></td>
        <td><%= link_to 'Destroy', supplier_order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier order detail', new_supplier_order_detail_path %>
