<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @notification.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @notification.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @notification.url %>
</p>

<p>
  <strong>Viewed:</strong>
  <%= @notification.viewed %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @notification.type %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
