		
		<div class="page-title"> <i class="icon-user"></i>
				<h3>Forgot your password?</h3>
		</div>      
      
		<div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                
                  
						<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                          
								<% if devise_error_messages! != "" %>
								  <div class="alert alert-error login-msg">
									<button data-dismiss="alert" class="close"></button>
									<div id="error_explanation">
									  <h5><%= devise_error_messages! %></h5>
									</div>
								  </div>
								<% end %>

                          
                          <div class="form-group">
                                  <label class="form-label"><%= f.label :email %></label>
                                  <span class="help">(required)</span>
                                  <div class="input-with-icon  right">                                       
                                          <i class=""></i>
                                          <%= f.email_field :email, :autofocus => true, :class => "form-control required" %>
                                  </div>
                          </div>
                        
                                                  
                          <div><%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %></div>
                        <% end %>
                        <br />
                        <%= render "devise/shared/links" %>
				
              </div>
			  
            </div>
				
      </div>
      
