<div class="wrapper page delivery-page" style="">

<%
  header_com = Contact.HK

%>


<table class="cominfo">
  <tr>
    <% if header_com.image.present? %>
      <td rowspan="2" width="15%">
        <img src="<%= params[:action] == "download_pdf" ? "file://"+header_com.logo_path(:thumb2x) : header_com.logo(:thumb2x) %>" width="170" style="margin-top: -10px;margin-right: 10px" valign="top" />
      </td>
    <% end %>
    <td colspan="2">
      <h2><%= header_com.name %></h2>
    </td>
  </tr>
  <tr>
    <td>
      <p><%= header_com.full_address %></p>
      
      <p><label>ĐT: </label><%= header_com.phone %> - <label>Fax: </label><%= header_com.fax %> - <label>Hotline: </label><%= header_com.hotline %></p>
      <p><label>STK: </label><%= header_com.account_number %> <%= header_com.bank %></p>
    </td>
    <td class="top-left" valign="top">
      <p><label>MST: </label><%= header_com.tax_code %></p>
      <p><label>Email: </label><%= header_com.email %></p>
      <p><label>Website: </label><%= header_com.website %></p>
    </td>
  </tr>
</table>

<table class="top-info" cellspacing="0">
  <tr>
    <td class="maintitle" align="center" style="padding-bottom: 30px;">
      <h1>
        <%= @delivery.ticket_title %>
      </h1>
    </td>    
  </tr>
</table>


<table class="cols-info">  
  <tr>
    <td width="16%"></td>
    <td width="4%"><strong>Số <div class="point2">:</div> </strong></td>
    <td width="24%"><%= @order.quotation_code %>-<%= @delivery.id %></td>
    <td width="11%"><strong>Ngày xuất <div class="point2">:</div> </strong></td>
    <td><%= @delivery.delivery_date.strftime("%d/%m/%Y") %></td>
    <td></td>
  </tr>
  
  <tr>
    <td colspan="7"><br /></td>    
  </tr>  
  
  <% if !@order.is_purchase %>
      <tr>
        <td align="" valign="top"><strong>Bên <%= @delivery.is_return == 1 ? "trả" : "nhận" %> hàng <div class="point2">:</div> </strong></td>
        <td colspan="6"><strong><%= @order.buyer_company %></strong></td>
      </tr>
      <tr>
        <td align="" valign="top">Địa chỉ <div class="point2">:</div> </td>
        <td colspan="6"><%= @order.buyer_address %></td>
      </tr>
      <tr>
        <td align="" valign="top">Điện thoại <div class="point2">:</div> </td>
        <td colspan="2"><%= @order.buyer_phone %></td>    
        <td colspan="3">Fax: <%= @order.buyer_fax %></td>
      </tr>
  <% else %>
      <tr>
        <td align="" valign="top"><strong>Bên giao hàng <div class="point2">:</div> </strong></td>
        <td colspan="6"><strong><%= @order.supplier.name %></strong></td>
      </tr>
      <tr>
        <td align="" valign="top">Địa chỉ <div class="point2">:</div> </td>
        <td colspan="6"><%= @order.supplier.full_address %></td>
      </tr>
      <tr>
        <td align="" valign="top">Điện thoại <div class="point2">:</div> </td>
        <td colspan="2"><%= @order.supplier.phone %></td>    
        <td colspan="3">Fax: <%= @order.supplier.fax %></td>
      </tr>
  <% end %>
  
</table>

<br />
<p>
  <strong>Người nhận ký tên khi đã kiểm tra đủ số lượng, tình trạng hàng hóa và các điều khoản  bảo hành như sau:</strong>
</p>

<table class="list" cellspacing="0">
  
  
  
  <tr>
    <th>STT</th>
    <th width="55%" style="max-width: 50%;">TÊN THIẾT BỊ- CẤU HÌNH</th>
    <th>Số lượng</th>
    <th>Bảo hành</th>
    <th>Đơn giá</th>
    <th>Thành tiền</th>
  </tr>

    <% if !@delivery.delivery_details.nil? %>
      <% @count = 0 %>
      <% @delivery.delivery_details.each do |detail| %>
        <% @count = @count + 1 %>
          <tr>
            <td><%= @count %></td>
            <td style="text-align: left;">
              <%= detail.order_detail.product_name %><br />
              <%= detail.order_detail.product_description %>
            </td>
            <td><%= detail.quantity.abs %> (<%= detail.order_detail.unit %>)</td>
            <td><%= detail.order_detail.warranty %> (tháng)</td>
            <td style="text-align: right"><%= detail.order_detail.formated_price %></td>
            <td style="text-align: right"><%= detail.formated_total %></td>
          </tr>
      <% end %>
    <% end %>
    
  <tr>
    <td colspan="5" style="text-align: right">Cộng tiền hàng</td>
    <td style="text-align: right"><%= @delivery.total_formated %></td>

  </tr>
  <tr>
    <td colspan="5" style="text-align: right">Tiền thuế GTGT (<%= @order.tax.name %>)</td>
    <td style="text-align: right"><%= @delivery.vat_amount_formated %></td>

  </tr>
  <tr>
    <td colspan="5" style="text-align: right">Tổng cộng tiền thanh toán</td>
    <td style="text-align: right"><%= @delivery.total_vat_formated %></td>

  </tr>
  

</table>


<br />
<p><strong>GHI CHÚ:</strong></p>
<p>
  1.	Hàng hóa đã được giao đầy đủ, đúng quy cách, phẩm chất của nhà sản xuất.								
	
</p>

<p>
  2.	 Sản phẩm và phụ kiện được dán tem bảo hành đúng quy định.
</p>
<p>
  3.	Hàng hóa sẽ được bảo hành theo đúng quy định của nhà sản xuất.						
</p>
<p>
  4.	Khi khách hàng ký nhận, mọi mất mát, gãy vỡ (nếu có) sẽ không được giải quyết.						
</p>
<p>
  5.	Xuất phiếu bảo hành và tem công ty hoàng khang khi bảo hành thiết bị, tem hoặc phiếu bảo hành phải còn nguyên vẹn không cạo sửa.						
</p>
<p>
  6.	Công ty hoàng khang không chịu trách nhiệm bảo hành với những trường hợp: lỗi do người dùng, rơi vỡ do cháy nổ, thiên tai, sử dụng sai quy định, ...
</p>



<br />
<table>
  <tr>
    <td align="center" valign="top">
      <strong>NGƯỜI GIAO</strong>
      <br />
      <br />
      <br />
      <% if !@delivery.delivery_person.nil? && !@order.is_purchase %>
        <%
          #@delivery.delivery_person.name
        %>
      <% end %>
    </td>
    <td align="center" valign="top">
      <strong>NGƯỜI NHẬN</strong>
      <br />
      <br />
      <br />
      <% if !@delivery.delivery_person.nil? && @order.is_purchase %>
        <%
          #@delivery.delivery_person.name
        %>
      <% end %>
    </td>
    <td align="center" valign="top">
      <strong>THỦ KHO</strong>
    </td>
  </tr>
</table>

</div>
