<div class="wrapper page delivery-page" style="">


<%
  header_com = Contact.HK

%>

<table class="cominfo">
  <tr>
    <td rowspan="2" width="15%">
      <img src="http://hoangkhang.com.vn/images/Logo_HK.png" width="170" style="margin-top: -10px;margin-right: 10px" valign="top" />
    </td>
    <td colspan="2">
      <h2><%= @order.supplier.name %></h2>
    </td>
  </tr>
  <tr>
    <td>
      <p><%= @order.supplier.address %></p>
      <% if !@order.supplier.children.empty? %><p><label style="font-weight: normal">VPGD: </label><strong><%= @order.supplier.children.first.address %></strong></p><% end %>
      <p><label>ĐT: </label><%= @order.supplier.phone %> - <label>Fax: </label><%= @order.supplier.fax %> - <label>Hotline: </label><%= @order.supplier.hotline %></p>
      <p><label>STK: </label><%= @order.supplier.account_number %> <%= @order.supplier.bank %></p>
    </td>
    <td class="top-left" valign="top">
      <p><label>MST: </label><%= @order.supplier.tax_code %></p>
      <p><label>Email: </label><%= @order.supplier.email %></p>
      <p><label>Website: </label><%= @order.supplier.website %></p>
    </td>
  </tr>
</table>

<table class="top-info" cellspacing="0">
  <tr>
    <td class="maintitle" align="center" style="padding-bottom: 30px;">
      <h1>PHIẾU BẢO HÀNH VÀ BIÊN BẢN BÀN GIAO</h1>
    </td>    
  </tr>
</table>


<table class="cols-info">  
  <tr>
    <td width="16%"></td>
    <td width="8%"><strong>Số <div class="point2">:</div> </strong></td>
    <td width="20%"><%= @order.quotation_code %>-<%= @delivery.id %></td>
    <td width="16%"><strong>Ngày <div class="point2">:</div> </strong></td>
    <td><%= @delivery.created_at.strftime("%d/%m/%Y") %></td>
    <td width="5%"><strong>PO <div class="point2">:</div> </strong></td>
    <td width="18%"><%= @order.customer_po %></td>
  </tr>
  <tr>
    <td></td>
    <td align=""><strong>HĐ số <div class="point2">:</div> </strong></td>
    <td><%= @order.printed_order_number %></td>
    <td align=""><strong>Người đặt hàng <div class="point2">:</div> </strong></td>
    <td><%= @order.buyer_name %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="7"><br /></td>    
  </tr>  
  <tr>
    <td align="" valign="top"><strong>Bên giao hàng <div class="point2">:</div> </strong></td>
    <td colspan="6"><strong><%= @order.supplier.name %></strong></td>
  </tr>
  <tr>
    <td align="" valign="top">Địa chỉ <div class="point2">:</div> </td>
    <td colspan="6"><%= @order.supplier.address %></td>
  </tr>
  <tr>
    <td align="" valign="top">Điện thoại <div class="point2">:</div> </td>
    <td colspan="2"><%= @order.supplier.phone %></td>    
    <td colspan="3">Fax: <%= @order.supplier.fax %></td>
  </tr>
  <tr>
    <td colspan="7" valign="top"><br /></td>    
  </tr>  
  <tr>
    <td align="" valign="top"><strong>Bên nhận hàng <div class="point2">:</div> </strong></td>
    <td colspan="6"><strong><%= @order.buyer_company %></strong></td>
  </tr>
  <tr>
    <td align="" valign="top">Địa chỉ <div class="point2">:</div> </td>
    <td colspan="6"><%= @order.buyer_address %></td>
  </tr>
  <tr>
    <td align="" valign="top">Điện thoại <div class="point2">:</div> </td>
    <td colspan="2"><%= @order.buyer_phone %></td>    
    <td colspan="3">Fax: <%= @order.buyer_fax %></td>
  </tr>
  
</table>

<br />
<p>
  <strong>Khách hàng ký tên khi đã kiểm tra đủ số lượng, tình trạng hàng hóa và các điều khoản  bảo hành như sau:</strong>
</p>

<table class="list" cellspacing="0">
  
  
  
  <tr>
    <th>STT</th>
    <th width="55%" style="max-width: 50%;">TÊN THIẾT BỊ- CẤU HÌNH</th>
    <th>S/N</th>
    <th>Số lượng</th>
    <th>Bảo hành</th>
    
  </tr>

    <% if !@delivery.delivery_details.nil? %>
      <% @count = 0 %>
      <% @delivery.delivery_details.each do |detail| %>
        <% @count = @count + 1 %>
          <tr>
            <td><%= @count %></td>
            <td style="text-align: left;">
              <%= detail.order_detail.product_name %><br />
              <%= detail.order_detail.product_description %>
            </td>
            <td>
              <% if detail.serial_numbers.present? %>
                <%= detail.serial_numbers_html.html_safe %>
              <% else %>
                Bảo hành theo tem
              <% end %>
              <span style="color: #fff">.</span></td>
            <td><%= detail.quantity %> (<%= detail.order_detail.unit %>)</td>
            <td>
              <% if detail.order_detail.warranty > 0 %>
                <%= detail.order_detail.warranty %> (tháng)
              <% else %>
                -
              <% end %>
            </td>
            
          </tr>
      <% end %>
    <% end %>
  

</table>


<br />
<p><strong>GHI CHÚ:</strong></p>
<p>
  1.	Hàng hóa đã được giao đầy đủ, đúng quy cách, phẩm chất của nhà sản xuất.								
	
</p>

<p>
  2.	 Sản phẩm và phụ kiện được dán tem bảo hành đúng quy định.
</p>
<p>
  3.	Hàng hóa sẽ được bảo hành theo đúng quy định của nhà sản xuất.						
</p>
<p>
  4.	Khi khách hàng ký nhận, mọi mất mát, gãy vỡ (nếu có) sẽ không được giải quyết.						
</p>
<p>
  5.	Xuất phiếu bảo hành và tem công ty hoàng khang khi bảo hành thiết bị, tem hoặc phiếu bảo hành phải còn nguyên vẹn không cạo sửa.						
</p>
<p>
  6.	Công ty hoàng khang không chịu trách nhiệm bảo hành với những trường hợp: lỗi do người dùng, rơi vỡ do cháy nổ, thiên tai, sử dụng sai quy định, ...
</p>


<br />

<p>
  <strong>Biên bản này được thành lập 02  (hai) bản có giá trị pháp lý như nhau, mỗi bên giữ 01 (một) bản.</strong>
</p>

<br />
<table>
  <tr>
    <td align="center">
      <strong>ĐẠI DIỆN BÊN GIAO</strong><br />
      (Ghi rõ họ tên)
    </td>
    <td align="center">
      <strong>ĐẠI DIỆN BÊN NHẬN</strong><br />
      (Ghi rõ họ tên)
    </td>

  </tr>
</table>

</div>
