                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>Delivery</li>
                </ul>
                <div class="page-title">
                        <i class="icon-archive"></i>
                    	<h3>Storage - <span class="semi-bold"> <%= params[:purchase] ? "Purchase" : "Sales" %> Delivery</span></h3>	
                </div>
                <div class="row">
                    <div class="col-md-12">			
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Orders</span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables no-filter">
                                        <thead>
                                            <tr>
                                                <th>Order</th>
						<th>
                                                  <%= params[:purchase] ? "Supplier" : "Customer" %>
                                                </th>
						<th class="text-center">Delivered</th>
                                                <th class="text-center">Date</th>
												<!--<th class="text-center">Payment</th>-->
                                                <th class="text-center">Status</th>
                                                <th class="text-right">Action</th>   
                                            </tr>
                                        </thead>
					<tbody>
					    <% @orders.each do |order| %>
						<tr>
                                                    <td>
							<%= order.quotation_code %>
						    </td>
						    <td>
							<%= params[:purchase] ? order.supplier.name : order.customer.name %>
						    </td>
						    
						    <td class="text-center">
							<%= order.items_delivered %>/<%= order.items_total %>
						    </td>
						    
						    <td class="text-center">
							<%= order.created_at.strftime("%Y-%m-%d") %>
						    </td>
							
							
						    
						    <td class="text-center">
							<%= order.delivery_status.html_safe %>
							<div>------</div>
							<%= order.payment_status %>
						    </td>
						    
						    <td class="actions text-right">
							<%= link_to 'Deliver', {action: "deliver", order_id: order.id}, :class => 'btn btn-small btn-primary' if !order.is_delivered? %>
                                                        
                                                        
                                                        
                                                        <% if order.all_deliveries.count > 0 %>
                                                          <div class="btn-group">
                                                            <button type="button" class="btn btn-small btn-white dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                              Deliveries <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                              <% order.all_deliveries.each do |delivery| %>
                                                                <li>
								    <%= link_to delivery.created_at.strftime("%Y-%m-%d, %H:%M:%S"), {action: "show", id: delivery.id, :export_ticket => true}, :class => 'fancybox.iframe ajax_iframe' %>
                                                                </li>
                                                              <% end %>
                                                            </ul>
                                                          </div>
                                                        <% end %>
                                                        
						    </td>
						</tr>
					    <% end %>
					</tbody>
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>
