<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<%
@list_path = @delivery.order.is_purchase ? deliveries_url(purchase: true) : deliveries_url
%>

<%= stylesheet_link_tag "print_html.css?v=1" %>



<div class="show_order_page">
  
		  <div class="order_histories" style="float: right">
		  <%= link_to 'Create PDF', download_pdf_deliveries_path(:id => @delivery.id, :export_ticket => params[:export_ticket]), :class => "btn btn-info btn-xs btn-mini", :target => "_blank" %>
			
		  </div>
		  
		  
		  
		  <div class="order_histories" style="float: left; max-width: 640px">
			<% @order.all_deliveries.each do |d| %>
			  <%
				active = d.id == @delivery.id
				t_class = params[:export_ticket].present? && active ? "success" : "white"
				w_class = !params[:export_ticket].present? && active ? "success" : "white"
			  %>
			  
			  <div class="print_group">
				<h4>
				  <%= d.display_name %>
				</h4>
				
				<% if d.is_return != 1 %>
				<%= link_to "Export", {:id => d.id, :export_ticket => true}, :class => "btn btn-#{t_class} btn-xs btn-mini fancybox.iframe show_order" %>
				<%= link_to "Warranty", d, :class => "btn btn-#{w_class} btn-xs btn-mini fancybox.iframe show_order" %>
				<% else %>
				<%= link_to "Return", {:id => d.id, :export_ticket => true}, :class => "btn btn-#{t_class} btn-xs btn-mini fancybox.iframe show_order" %>
				<% end %>
			  </div>
		  
			<% end %>
		  </div>
		  
		  <br style="clear: both" />
		  <% if params[:export_ticket].present? %>
			<%= render 'export_ticket' %>
		  <% else %>
			<%= render 'show' %>
		  <% end %>
			
		  <br style="clear: both" />
		  
		  <div class="order_histories" style="float: right;margin: 10px 0 0 0">
			<%= link_to 'Create PDF', download_pdf_deliveries_path(:id => @delivery.id, :export_ticket => params[:export_ticket]), :class => "btn btn-info btn-xs btn-mini", :target => "_blank" %>
			<%= link_to 'X Trash'.html_safe, {controller: "deliveries", action: "trash", :id => @delivery.id, tab_page: 1}, :class => "btn btn-info btn-xs btn-mini" %>
			
		  </div>
		  
</div>
		  
		  
<script>
  $('.show_order').fancybox({
		    width: "80%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    //$(".ajax_outer .modern_select").select2();
			}
		    }
	    });
</script>