          <div class="grid simple ">
		    <div class="grid-body no-border filters">
			<div class="row order-filters">
			    <div class="col-md-4">
				  <h4>Order Date</h4>
				  <div class="date_select_filter">
					  <div class="input-with-icon  right">                                       
					  <%= date_select(:filter, :date, {include_blank: true, use_two_digit_numbers: true}) %>
					  </div>
				  </div>
			    </div>
				
				<% if params[:purchase] || ["purchase_orders"].include?(params[:action]) %>
					<div class="col-md-4">
						<h4>Supplier</h4>
						<div class="">
							<div class="input-with-icon  right">                                       
							<i class=""></i>
							<input style="width:100%;margin-bottom: 5px;" name="supplier_id" url="<%= contacts_path(format: "json") %>" class="select2-ajax-suppliers" value="" text="" data-placeholder="All"/>
							</div>
						</div>
					</div>
				<% else %>
					<div class="col-md-4">
						<h4>Customer</h4>
						<div class="">
							<div class="input-with-icon  right">                                       
							<i class=""></i>
							<input style="width:100%;margin-bottom: 5px;" name="customer_id" url="<%= contacts_path(format: "json") %>" class="select2-ajax-customers" value="" text="" data-placeholder="All"/>
							</div>
						</div>
					</div>
				<% end %>
				
				<% if ["deliveries"].include?(params[:controller]) %>
				  
				  <div class="col-md-2">
					  <h4>Delivery Status</h4>
					  <div class="">
						  <div class="input-with-icon  right">                                       
							  <i class=""></i>
							  <select name="delivery_status" class="modern_select width100">
								  <option value="">All</option>
								  <option value="waiting" <%= 'selected="selected"' if ["deliveries"].include?(params[:controller]) %>>Waiting...</option>
								  <option value="not_delivered">Not Delivered</option>
								  <option value="combinable">Combinable</option>
								  <option value="out_of_stock">Out Of Stock</option>
								  <option value="return_back">Return Back</option>
								  <option value="delivered">Delivered</option>
							  </select>
						  </div>
					  </div>
				  </div>
				  
				<% end %>
				
				<% if ["accounting"].include?(params[:controller]) %>
				  
				  <div class="col-md-2">
					  <h4>Payment Status</h4>
					  <div class="">
						  <div class="input-with-icon  right">                                       
							  <i class=""></i>
							  <select name="payment_status" class="modern_select width100">
								  <option value="">All</option>
								  <option value="waiting">Waiting...</option>
								  <option value="not_deposited">Not Deposited</option>
								  <option value="out_of_date">Out of Date</option>
								  <option value="debt">Debt</option>
								  <option value="pay_back">Pay Back</option>
								  <option value="paid">Paid</option>
							  </select>
						  </div>
					  </div>
				  </div>
				  
				<% end %>
				
				<% if ["accounting","orders"].include?(params[:controller]) %>
				  <div class="col-md-2">
					  <h4>Order Status</h4>
					  <div class="">
						  <div class="input-with-icon  right">                                       
							  <i class=""></i>
							  <select name="order_status" class="modern_select width100">
								  <option value="">All</option>
								  <option value="waiting" <%= 'selected="selected"' if ["orders"].include?(params[:controller]) %>>Waiting...</option>
								  <option value="new">New</option>
								  <option value="items_confirmed">Items Confirmed</option>
								  <option value="price_confirmed">Price Confirmed</option>
								  <option value="confirmed">Confirmed</option>
								  <option value="finished">Finished</option>
								  <option value="canceled">Canceled</option>
							  </select>
						  </div>
					  </div>
				  </div>
				<% end %>
				
			</div>
		    </div>		    
		</div>