                                      <div class="row">
                                          <div class="col-md-6">
                                                 <div class="form-group">
                                                   <label class="form-label"><%= f.label :order_date %></label>
                                                   <span class="help"></span>
                                                     <div class="input-with-icon  right">                                       
                                                       <i class=""></i>
                                                       <div class="input-append success date col-md-10 no-padding">
                                                         <%= f.text_field :order_date, :class => "form-control" %>
                                                         <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                                       </div>
                                                       <br style="clear: both" />
                                                     </div>
                                                 </div>
                                          </div>
                                          <div class="col-md-6">                              
                              
                                                 <div class="form-group">
                                                   <label class="form-label"><%= f.label :order_deadline %></label>
                                                   <span class="help">(default: + 7 days)</span>
                                                     <div class="input-with-icon  right">                                       
                                                       <i class=""></i>
                                                       <div class="input-append success date col-md-10 no-padding">
                                                         <%= f.text_field :order_deadline, :class => "form-control" %>
                                                         <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                                       </div>
                                                       <br style="clear: both" />
                                                     </div>
                                                 </div>
                                                 
                                          </div>
                                      </div>
                              
                              
                              
                              
                                      <div class="row">
                                          <div class="col-md-4">
                                                 <div class="form-group">
                                                   <label class="form-label"><%= f.label :payment_method %></label>
                                                   <span class="help"></span>
                                                     <div class="input-with-icon  right">                                       
                                                       <i class=""></i>
                                                       <select name="order[payment_method_id]" class="modern_select" style="width: 100%">
                                                               <% PaymentMethod.all_payments.each do |payment| %>
                                                                   <option value="<%= payment.id %>" <% if !@order.payment_method_id.nil? && @order.payment_method_id == payment.id %>selected="selected"<% end %>>
                                                                     <%= payment.name %>
                                                                   </option>
                                                               <% end %>
                                                               <option <% if !@order.payment_method_id.present? %>selected="selected"<% end %> value="">Tiền mặt/Chuyển khoản</option>
                                                        </select>
                                                     </div>
                                                 </div>
                                          </div>
                                          <div class="col-md-8">
                                                 <div class="form-group">
                                                        <label class="form-label"><%= f.label :tip_for %></label>
                                                      <span class="help">(required)</span>
                                                        <div class="input-with-icon  right">                                       
                                                          <i class=""></i>
                                                           <table>
                                                               <tr>
                                                                      <td class="width100">
                                                                             <input style="width:100%;margin-bottom: 5px;" name="order[tip_contact_id]" data="<%= contacts_path(format: "json") %>" class="select2-ajax-customers required" value="<%= @order.tip_contact_id %>" text="<%= @order.tip_contact.name if !@order.tip_contact.nil? %>" />
                                                                      </td>
                                                                      <td>
                                                                             <%= link_to '+', ajax_new_contacts_path(:type_id => ContactType.supplier), :class => 'btn btn-sm btn-small btn-white fancybox.ajax add-agent-button' %>
                                                                      </td>
                                                               </tr>
                                                           </table>
                                                        </div>
                                                 </div>
                                          </div>
                                      </div>
                              
                              
                              
                              
                              
                                      <div class="row">
                                           
                                           <div class="col-md-3">
                                                <div class="form-group">
                                                     <label class="form-label"><%= f.label :deposit %></label>
                                                       <div class="input-with-icon  right">                                       
                                                         <i class=""></i>
                                                         <%= f.select :deposit, options_for_select(0.upto(100).map { |u| [u, u] },@order.deposit), {},  {:class => "modern_select width100"} %>
                                                       </div>
                                                </div>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="form-label"><%= f.label :debt_days %></label>
                                                   <span class="help"></span>
                                                   <div class="input-with-icon  right">                                       
                                                           <i class=""></i>
                                                           <%= text_field_tag "order_debt_days", @order.debt_days, {:class => "form-control number_input"} %>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-md-5">
                                               <div class="form-group">
                                                   <label class="form-label"><%= f.label :debt_date %></label>
                                                   <span class="help"></span>
                                                   <div class="input-with-icon  right">                                       
                                                           <i class=""></i>
                                                           <div class="input-append success date col-md-10 no-padding">
                                                             <%= f.text_field :debt_date, :class => "form-control" %>
                                                             <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                                           </div>
                                                           <br style="clear: both" />
                                                   </div>
                                               </div>
                                           </div>
                                      </div>
                              
                              
                                    
                                      <div class="row">
                                             
                                             <div class="col-md-6">
                                                    <div class="form-group">
                                                           <label class="form-label"><%= f.label :shipment_contact %></label>
                                                         <span class="help">(required)</span>
                                                           <div class="input-with-icon  right">                                       
                                                             <i class=""></i>
                                                                  <table>
                                                                                <tr>
                                                                                       <td class="width100">
                                                                                              <input style="width:100%;margin-bottom: 5px;" name="order[shipment_contact_id]" data="<%= contacts_path(format: "json") %>" class="select2-ajax-customers" value="<%= @order.shipment_contact_id %>" text="<%= @order.shipment_contact.name if !@order.shipment_contact.nil? %>" />
                                                                                       </td>
                                                                                       <td>
                                                                                              <%= link_to '+', ajax_new_contacts_path(:type_id => ContactType.supplier), :class => 'btn btn-sm btn-small btn-white fancybox.ajax add-agent-button' %>
                                                                                       </td>
                                                                                </tr>
                                                                  </table>
                                                           </div>
                                                    </div>
                                             </div>
                                             
                                             <div class="col-md-6">
                                                    <div class="form-group">
                                                           <label class="form-label"><%= f.label :address %></label>
                                                         <span class="help">(required)</span>
                                                           <div class="input-with-icon  right">                                       
                                                             <i class=""></i>
                                                              
                                                              
                                                                  <%= f.text_field :shipping_place, :class => "form-control" %>
                                                                  
                                                           </div>
                                                    </div>
                                             </div>
                                      </div>
                                   