                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Orders', orders_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Order - <span class="semi-bold"> Management</span></h3>	
                </div>
                <div class="row">                  
                    <div class="col-md-12">
                      <%= link_to 'New Order', new_order_path, :class => 'btn btn-primary btn-cons' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Orders</span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables">
                                        <thead>
                                            <tr>
                                                <th style="width:1%" >
                                                    <div class="checkbox check-default">
							<input id="checkbox10" type="checkbox" value="1" class="checkall">
							<label for="checkbox10"></label>
						    </div>
                                                </th>
                                                <th width="25%">Customer</th>
                                                <th>Total Price</th>
                                                <th>Product Count</th>
                                                <th width="20%">Created At</th>
                                                <th width="24%">Action</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            <% @orders.each do |order| %>
                                                <tr>
                                                  <td class="v-align-middle">
                                                          <div class="checkbox check-default">
                                                              <input id="checkbox1<%= order.id %>" type="checkbox" value="<%= order.id %>">
                                                              <label for="checkbox1<%= order.id %>"></label>
                                                          </div>
                                                  </td>
                                                  <td><%= order.customer.name %></td>
                                                  <td>
                                                    <%= order.formated_total %>
                                                  </td>
                                                  <td>
                                                    <%= order.order_details.count %>
                                                  </td>
                                                  <td>
                                                    <%= order.created_at %>
                                                  </td>
                                                  <td>
                                                          
                                                          <%= link_to 'Show', order, :class => "btn btn-success btn-xs btn-mini" %>
                                                          <%= link_to 'PDF', download_pdf_orders_path(:id => order.id), :class => "btn btn-success btn-xs btn-mini" %>
                                                          <%= link_to edit_order_path(order), :class => "btn btn-info btn-xs btn-mini" do %>							
                                                              <i class="icon-paste"></i>
                                                              Edit
                                                          <% end %>
                                                          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" %>
                                                  </td>
                                                </tr>
                                                
                                            <% end %>
					    
                                          </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>

