                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Orders', orders_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Customer Order - <span class="semi-bold"> Management</span></h3>	
                </div>
		
		
                <div class="row">
                    <div class="col-md-12">                      
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Orders</span></h4>
                                <div class="tools">				    
									<a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
				    
                                <table class="table table-striped no-more-tables no-filter">
                                        <thead>
                                            <tr>
                                                <th style="width:1%" >Code</th>
                                                <th>Customer</th>
                                                <th class="text-right">Total Price</th>
                                                <th class="text-center">Count</th>                                                
												<th class="text-center">Salesperson</th>
												<th class="text-center">Order Date</th>
												<th class="text-center">Status</th>
												<th class="text-center">Price Status</th>
                                                <th class="text-center">Action</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                    
                                    
                                  <% @orders.each do |order| %>
											
                                        <tr>
                                          <td class="v-align-middle">
                                                <div class="checkbox check-default">
                                                        <input id="checkbox1<%= order.id %>" type="checkbox" value="<%= order.id %>">
                                                        <label for="checkbox1<%= order.id %>"></label>
                                                </div>
                                          </td>
                                          <td>
                                            <%= link_to order.customer.short_name, order, :class => "fancybox.iframe show_order" %>
											<%= order.display_description %>
                                          </td>
                                          <td class="text-right">
                                                <%= order.formated_total_vat %>
                                          </td>
                                          <td class="text-center">
                                                <%= order.order_details.count %>
                                          </td>
                                          <td class="text-center">
											<%= link_to(order.salesperson_name, {controller: "users", action: "show", id: order.salesperson.id}, class: "fancybox.ajax fancybox_link") %>
                                          </td>
                                          <td class="text-center">
                                                <%= order.order_date_formatted %>
                                          </td>

                                          <td class="text-center">
                                                <%= order.display_status %>
												<%= order.display_delivery_status %>		
                                          </td>
										  <td class="text-center">
												<%= order.display_price_status %>
                                          </td>
                                          <td class="text-center">
                                          
                                                  
                                                  
						    <div class="btn-group actions">
							    <button class="btn btn-mini btn-white dropdown-toggle btn-demo-space" data-toggle="dropdown">Actions<span class="caret"></span></button>
	  
							    <ul class="dropdown-menu">							      
								<%  if can? :update_price, order %>
								    <li><%= link_to "Update Price", {action: "update_price", :id => order.id} %></li>									
								<% end %>
								<%  if can? :confirm_price, order %>
									<li><%= link_to "Confirm Price", {action: "confirm_price", :id => order.id} %></li>
								<% end %>
								<%  if can? :create, Order %>
								  <li>
								      <%= link_to 'New Purchase Order', new_order_path(:purchase => 1), target: "_blank" %>
								  </li>
								<% end %>								
								<li class="divider"></li>
								<%  if can? :show, order %>
									<li><%= link_to "View", order, title: "Edit Order", class: "fancybox.iframe show_order" %></li>
								<% end %>
								<%  if can? :update, order %>
									<li><%= link_to "Edit", edit_order_path(order), title: "Edit Order" %></li>
								<% end %>
								<%  if can? :destroy, order %>
									<li><%= link_to "Delete", order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
								<% end %>
								<%  if can? :read, order %>
									<li><%= link_to 'PDF', download_pdf_orders_path(:id => order.id), :target => "_blank" %></li>
									<li><%= link_to 'Print Order (raw)', print_order_orders_path(:id => order.id), :target => "_blank" %></li>
								<% end %>
							    
							    
							    </ul>
						    </div>
                                          </td>
                                        </tr>
                                        <% if order.is_out_of_stock %>
					    <tr>
							<td></td>
							<td class="text-right">
								<strong class="red">Out Of Stock Items:</strong>
							</td>
							<td colspan="7">
									<% order.out_of_stock_order_details.each do |od| %>
										<div>
											<%= od.product_name %>
											( <strong class="red">-<%= od.out_of_stock_count.to_s %></strong> )
											
											<% if od.product.wait_for_supply_count > 0 %>
													/ <span class="delivered">Wait for supplier delivery (<strong><%= od.product.wait_for_supply_count %></strong>)</span>
												<% end %>
										</div>
										<% od.product.parts.each do |p| %>
											<div class="part_details">
												----> <%= p.display_name %> 
													<%
														num = p.calculated_stock/(od.product.product_parts.where(part_id: p.id).first.quantity)-od.out_of_stock_count
														if num >= 0 %>
														(<strong class="green">+<%= num %></strong>)
													<% else %>
														(<strong class="red"><%= num %></strong>)
														<% if p.wait_for_supply_count > 0 %>
															/ <span class="delivered">Wait for supplier delivery (<strong><%= p.wait_for_supply_count %></strong>)</span>
														<% end %>
													<% end %>
												
												
											</div>
										<% end %>
									<% end %>
							</td>
					    </tr>
					    
					<% end %>
                                  <% end %>
				    
                            </div>
                        </div>
                    </div>
                </div>

