<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
    body {
        font-size: 15px;
        font-family: "Times New Roman";
    }
</style>
<div class="page">
    
<div style="position: absolute;top:224px;left: 284px">
    <%= @order.order_date.strftime("%d") %>
</div>
<div style="position: absolute;top:224px;left: 350px">
    <%= @order.order_date.strftime("%m") %>
</div>
<div style="position: absolute;top:224px;left: 410px">
    <%= @order.order_date.strftime("%Y") %>
</div>

<div style="position: absolute;top:263px;left: 190px">
    <%= @order.buyer_name %>
</div>
<div style="position: absolute;top:289px;left: 98px">
    <%= @order.buyer_company %>
</div>
<div style="position: absolute;top:315px;left: 100px">
    <%= @order.buyer_tax_code %>
</div>
<div style="position: absolute;top:341px;left: 75px">
    <%= @order.buyer_address %>
</div>
<div style="position: absolute;top:366px;left: 175px">
    <%= @order.payment_method.name  if !@order.payment_method.nil? %>
</div>

<div style="position: absolute;top:366px;left: 400px">
    <%= @hk.account_number %>
</div>

<div style="position: absolute;top:449px;left: 4px">
    <% if !@order.order_details.nil? %>
      <% @count = 0 %>
      <% @order.order_details.each do |order_detail| %>
        <% @count = @count + 1 %>
            <div style="line-height: 31px;clear: both;margin-top: -2px;font-size: 14px">
                <div style="border: solid 0px #aaa;float: left;width:20px;margin-right: 17px;text-align: center"><%= @count %></div>
                <div style="border: solid 0px #aaa;float: left;width:277px;margin-right: 10px"><%= order_detail.product_name %><br />
              <%= order_detail.product.description if !order_detail.product.description.nil? %></div>
                <div style="border: solid 0px #aaa;float: left;width:50px;margin-right: 15px;text-align: center"><%= order_detail.unit %></div>
                <div style="border: solid 0px #aaa;float: left;width:64px;margin-right: 15px;text-align: center"><%= order_detail.quantity %></div>
                <div style="border: solid 0px #aaa;float: left;width:83px;margin-right: 15px;text-align: right"><%= order_detail.formated_price %></div>
                <div style="border: solid 0px #aaa;float: left;width:120px;margin-right: 0;text-align: right"><%= order_detail.formated_total %></div>
            </div>
          
      <% end %>
    <% end %>
</div>

<div style="position: absolute;top:786px;left: 30px;width:122px;text-align: right">
    <%= @order.tax.rate.to_i %>
</div>

<div style="position: absolute;top:756px;left: 570px;width:122px;text-align: right">
    <%= @order.formated_total %>
</div>
<div style="position: absolute;top:786px;left: 570px;width:122px;text-align: right">
    <%= @order.formated_vat_amount %>
</div>
<div style="position: absolute;top:816px;left: 570px;width:122px;text-align: right">
    <%= @order.formated_total_vat %>
</div>
<div style="position: absolute;top:838px;left: 165px;width:500px;line-height: 31px;">
    <%= @order.docso(@order.total_vat.to_i) %>
</div>

<!--<img src="http://marketonline.vn/img011.png" width="100%" style="position:absolute;left:0;top:5px;z-index:-1;" valign="top" />-->

</div>