<%
    top = 5
    pos1 = 249 + top
    pos2 = 286 + top
    pos3 = 312 + top
    pos4 = 338 + top
    pos5 = 364 + top
    pos6 = 389 + top
    pos7 = 474 + top
    pos8 = 801 + top
    pos9 = 771 + top
    pos10 = 801 + top
    pos11 = 828 + top
    pos12 = 860 + top

%>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
    body {
        font-size: 15px;
        font-family: "Tahoma";
    }
    
    * {
        font-size: 15px;
        font-family: "Tahoma";
    }
        .po_water_mark .text {
      text-align: center;
      width: 50%;
    }
    
    .po_water_mark {
    clear: both;
    padding-top: 25px;
    width: 100%;
}
    
.po_water_mark .line1 {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #333;
    display: block;
    height: 2px;
    width: 50%;
}

.po_water_mark .line2 {
    border-bottom: 1px solid #333;
    float: right;
    height: 2px;
    margin-top: 34px;
    width: 50.7%;
    -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Safari */
    transform: rotate(12deg);
}
* {
color: #fff;
border-color: #fff !important;
}
</style>
<div class="page">

<div style="position: absolute;top:<%= pos1 %>px;left: 284px">
    <%= @order.order_date.strftime("%d") %>
</div>
<div style="position: absolute;top:<%= pos1 %>px;left: 350px">
    <%= @order.order_date.strftime("%m") %>
</div>
<div style="position: absolute;top:<%= pos1 %>px;left: 410px">
    <%= @order.order_date.strftime("%Y") %>
</div>


<div style="position: absolute;top:<%= pos3 %>px;left: 98px">
    <%= @order.buyer_company %>
</div>
<div style="position: absolute;top:<%= pos4 %>px;left: 250px;font-weight: bold;letter-spacing: 1px;">
    <%= @order.buyer_tax_code %>
</div>
<div style="position: absolute;top:<%= pos5 %>px;left: 75px">
    <%= @order.buyer_address %>
</div>
<div style="position: absolute;top:<%= pos6 %>px;left: 175px">
    <%= !@order.payment_method.nil? ? @order.payment_method.print_name : "TM/CK" %>
</div>

<div style="position: absolute;top:<%= pos6 %>px;left: 400px">
    
</div>

<div style="position: absolute;top:<%= pos7 %>px;left: 4px">
    <% if !@order.order_details.nil? %>
      <% @count = 0 %>
      <% @order.order_details.each do |order_detail| %>
        <% @count = @count + 1 if order_detail.quantity > 0 %>
            <div style="line-height: 30.5px;clear: both;margin-top: -4px;font-size: 17px<%= ";display:none" if order_detail.quantity == 0 %>">
                <div style="border: solid 0px #aaa;float: left;width:20px;margin-right: 17px;text-align: center"><%= @count %></div>
                <div style="border: solid 0px #aaa;float: left;width:277px;margin-right: 10px">
                    <%= order_detail.product_name %><br />
                    <%= order_detail.product_description %></div>
                <div style="border: solid 0px #aaa;float: left;width:50px;margin-right: 15px;text-align: center"><%= order_detail.unit.downcase %></div>
                <div style="border: solid 0px #aaa;float: left;width:64px;margin-right: 15px;text-align: center"><%= order_detail.quantity %></div>
                <div style="border: solid 0px #aaa;float: left;width:83px;margin-right: 15px;text-align: right"><%= format_price(order_detail.price, true) %></div>
                <div style="border: solid 0px #aaa;float: left;width:130px;margin-right: 0;text-align: right"><%= format_price(order_detail.total, true) %></div>
            </div>
      <% end %>
    <% end %>
    
        
        <div class="po_water_mark">
            <% if @order.customer_po.present? %>
                <div class="text"><% if @order.customer_po.include? "OHCM" %>PO: <% end %><%= @order.customer_po %></div>
            <% end %>
            <div class="line1"></div>
            <div class="line2"></div>
            <div style="margin-left: 40px; width: 100%;position:absolute;margin-top: -20px;color: #000">
                "MTXT: Máy tính xách tay"
            </div>
        </div>
        
</div>

<div style="position: absolute;top:<%= pos8 %>px;left: 30px;width:122px;text-align: right">
    <%= @order.tax.rate.to_i == 0 ? "X" : @order.tax.rate.to_i %>
</div>

<div style="position: absolute;top:<%= pos9 %>px;left: 570px;width:130px;text-align: right">
    <%= format_price(@order.total, true, true) %>
</div>

<div style="position: absolute;top:<%= pos10 %>px;left: 570px;width:130px;text-align: right">
    <%= @order.vat_amount == 0 ? "X" : format_price(@order.vat_amount, true, true) %>
</div>

<div style="position: absolute;top:<%= pos11 %>px;left: 570px;width:130px;text-align: right">
    <%= format_price(@order.total_vat, true, true) %>
</div>

<div style="position: absolute;top:<%= pos12 %>px;left: 165px;width:500px;line-height: 31px;">
    <%= @order.docso(@order.total_vat.round(0).to_i) %>
</div>

<!--<img src="http://marketonline.vn/img011.png" width="100%" style="position:absolute;left:0;top:5px;z-index:-1;" valign="top" />-->

</div>