<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<%= stylesheet_link_tag "print_html.css?v=5" %>

<div class="show_order_page">
	  <div style="margin-bottom: 5px;display: inline-block; width: 100%">
			<div class="order_histories" style="float: right">
			  <%= render_order_actions(@order, "big") %>
			</div>
			
			<div class="order_histories" style="float: left">
			  <% @order.order_history_lines.each do |line_order| %>
				<% if @order.id == line_order.id %>
				  <%= link_to line_order.created_at.strftime("%d/%m/%Y %H:%M:%S"), {action: "show", id: line_order.id, tab_page: 1}, :class => "btn btn-success" %>
				<% else %>
				  <%= link_to line_order.created_at.strftime("%d/%m/%Y %H:%M:%S"), {action: "show", id: line_order.id, tab_page: 1}, :class => "btn btn-white" %>
				<% end %>
			  <% end %>
			</div>
	  </div>
	  <br style="clear: both" />
	  <%= render 'show' %>
	  
</div>
<br style="clear: both" />
	  
	  
	  
<script>
  $('.show_order').fancybox({
		    width: "80%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    //$(".ajax_outer .modern_select").select2();
			}
		    }
	    });
</script>