<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<%= stylesheet_link_tag "print_html.css?v=5" %>

<div class="show_order_page">
	  <div style="margin-bottom: 5px;display: inline-block; width: 100%">
			<div class="order_histories" style="float: right">
                <div style="display:flex;align-items:center">
                    <div class="" style="margin-right:5px"><%= render_order_actions(@order, "big") %></div>
                    <div>
                        <% if params[:language] == 'en' %>
                            <%= link_to 'VI', {action: "show", id: @order.id, tab_page: 1}, :class => "btn btn-info" %>
                        <% else %>
                            <%= link_to 'EN', {action: "show", id: @order.id, tab_page: 1, language: 'en'}, :class => "btn btn-info" %>
                        <% end %>
                    </div>
                </div>
			</div>
			
			<div class="order_histories" style="float: left">
			  <% @order.order_history_lines.each do |line_order| %>
				<% if @order.id == line_order.id %>
				  <%= link_to line_order.created_at.strftime("%d/%m/%Y %H:%M:%S"), {action: "show", id: line_order.id, tab_page: 1}, :class => "btn btn-success" %>
				<% else %>
				  <%= link_to line_order.created_at.strftime("%d/%m/%Y %H:%M:%S"), {action: "show", id: line_order.id, tab_page: 1}, :class => "btn btn-white" %>
				<% end %>
			  <% end %>
			</div>
	  </div>
	  <br style="clear: both" />
        <% if params[:language] == 'en' %>
            <%= render 'show_en' %>
        <% else %>
            <%= render 'show' %>
        <% end %>
	  
</div>
<br style="clear: both" />
	  
	  
	  
<script>
  $('.show_order').fancybox({
		    width: "80%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    //$(".ajax_outer .modern_select").select2();
			}
		    }
	    });
</script>