      <ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Customer Orders', orders_url, :class => "active" %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-plus-sign-alt"></i>
        <h3>Update Price - <span class="semi-bold">Order</span></h3>
      </div>
      

      <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Order <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                <div class="grid-body no-border">
                  <%= form_for(@order, :url => url_for(:action => 'do_update_price')) do |f| %>
                    <%= hidden_field_tag :id, @order.id %>
                    
                    <div class="row column-seperation">
                           
                            <div class="col-md-12">
                                
                                
								
                                <table class="table table-striped no-more-tables no-filter update-price-form">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <!--<th>Quantity</th>-->
                                            <th>Current Price</th>
					    <th>Supplier
						  <%= link_to '+', ajax_new_contacts_path(:type_id => ContactType.supplier), :class => 'btn btn-sm btn-small btn-white fancybox.ajax add-agent-button' %>
						</th>
					    <th>Supplier Price</th>
                                            <th>Public Price</th>
											<th>New Sell Price
											<br />(For this order)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <% @order.order_details.order("product_name").each do |line| %>
					  
												  <tr rel="<%= line.product_id %>" class="parent quantity-<%= line.quantity %>">
													<td>					      
													  <strong><%= line.product_name %><br /><%= line.product_description %></strong>
													</td>
													<!--<td class="text-center">
													  <strong><%= line.quantity %></strong>
													  
													</td>	-->												
													<td class="text-right">
													  <strong><%= line.formated_price %></strong>
													  <br /><%= line.quantity %> <%= line.unit %>
													  <%= line.product.price_status %>
													  <%= line.product.price_history_link %>
													</td>
													<td>
													  <input style="width:100%;max-width: 250px;margin-bottom: 5px;" name="order_details[<%= line.id %>][product][supplier_id]" url="<%= contacts_path(format: "json") %>" class="select2-ajax-suppliers"  value="<%= line.product.product_price.supplier_id if !line.product.product_price.nil? %>" text="<%= line.product.product_price.supplier.short_name if !line.product.product_price.nil? && !line.product.product_price.supplier.nil? %>" />
													  
													</td>
													<td>
													  <%= text_field_tag "order_details[#{line.id}][product][supplier_price]",line.product.product_price.supplier_price, {:class => "form-control price_input supplier_price"} %>
													</td>
													<td>
													  <%= text_field_tag "order_details[#{line.id}][product][price]",line.product.product_price.price, {:class => "form-control price_input price"} %>
													</td>
													<td>
													  <%= text_field_tag "order_details[#{line.id}][new_sell_price]", params["order_details[#{line.id}][new_sell_price]"].present? ? params["order_details[#{line.id}][new_sell_price]"] : line.price, {:class => "form-control price_input sell_price"} %>
													</td>
												  </tr>
												  
												  
												  <% line.product.parts.each do |part| %>
													
													  <tr class="children child-<%= line.product.id %> quantity-<%= line.quantity %>">
														<td class="child-td">					      
														  <span class="child-pointer">----></span> <%= part.display_name %><br /><%= part.description %>
														</td>

														
														
														<td class="text-right">														  
														  <%= part.price_history_link %>
														</td>
														<td>
														  <input style="width:100%;max-width: 250px;margin-bottom: 5px;" name="product_parts[<%= part.id %>][product][supplier_id]" url="<%= contacts_path(format: "json") %>" class="select2-ajax-suppliers"  value="<%= part.product_price.supplier_id if !part.product_price.nil? %>" text="<%= part.product_price.supplier.short_name if !part.product_price.nil? && !part.product_price.supplier.nil? %>" />
														  
														</td>
														<td><%= text_field_tag "product_parts[#{part.id}][product][supplier_price]",part.product_price.supplier_price, {:class => "form-control price_input supplier_price", rel: line.product_id} %></td>
														<td>
														  <%= text_field_tag "product_parts[#{part.id}][product][price]",part.product_price.price, {:class => "form-control price_input price", rel: line.product_id} %>
														</td>
														<td></td>
													  </tr>
												  
												  <% end %>
					  
                                        <% end %>
                                        
                                    </tbody>
                                </table>
                                
                                
                            </div>
                        
                    </div>
                
                    
                      
                    
                      
                        <div class="form-actions">  
                          <div class="pull-right">
                              <input type="submit" class="btn btn-success btn-cons" value="Update" />
							  <% if can? :update_price, @order %>
								<input name="confirm" type="submit" class="btn btn-info btn-cons" value="Update and Confirm" />
							  <% end %>
                              <%= link_to 'Cancel', {action: "pricing_orders"}, :class => "btn btn-white btn-cons" %>
                          </div>
                        </div>
                  <% end %>
                </div>
              </div>
            </div>		
      </div>