       <div class="row" style="margin: 0">	  
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Contact <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                
                <div class="grid-body no-border ajax_outer">
                  
                  
                  <% if @contact.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h5>
                  
                        <ul>
                        <% @contact.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  <% action = params[:action] == 'ajax_edit' ? "ajax_update" : "ajax_create" %>
                  
		<%= form_for(@contact, url: {action: action}, :html => {:id => "ajax-contact-form"}) do |f| %>
                         <%= hidden_field_tag("id", @contact.id) if !@contact.id.nil? %>
			 <% if !@contact.companies.nil? %>
			      <% @contact.companies.each do |company| %>
				   <input type="hidden" name="contact[company_ids][]" value="<%= company.id %>" />
			      <% end %>
			 <% end %>
                           
                    <div class="row column-seperation">
                           
                            <div class="col-md-6">
                              
                                                        
                                                       <div class="form-group">
															<label class="form-label"><%= f.label :contact_type %></label>
															<span class="help">(required)</span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
																	  <% ContactType.all.each do |ct| %>
																		   <div class="row-fluid contact_types">
																				<div class="checkbox check-success">
																					 <%= check_box_tag "contact[contact_type_ids][]", ct.id, @contact.contact_types.include?(ct), {id: "checkbox"+ct.id.to_s, class: "required"} %>
																					 <label for="checkbox<%= ct.id %>"><%= ct.name %></label>
																				</div>
																		   </div>
																	  <% end %>
																	  <br style="clear: both" />
                                                            </div>
                                                        </div>
                                                        
                              
                                                        <div class="form-group">
                                                          <label class="form-label"><%= f.label :name %></label>
                                                          <span class="help">(required)</span>
                                                                                  <div class="input-with-icon  right">                                       
                                                                                          <i class=""></i>
                                                                                          <%= f.text_field :name, :class => "form-control required" %>
                                                                                  </div>
                                                        </div>
														
														<div class="row">                           
															<div class="col-md-12">
																 <div class="form-group">
																	  <label class="form-label"><%= f.label :city %></label>
																	  <span class="help">(required)</span>
																	  <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 
																			 <input style="width:100%;margin-bottom: 5px;" name="contact[city_id]" data="<%= cities_path(format: "json") %>" class="select2-ajax-cities" value="<%= @contact.city_id %>" text="<%= @contact.city.name_with_state if !@contact.city.nil? %>" />
																			 
																	   
																	  </div>
																 </div>
															</div>
															<div class="col-md-6">
																 
															</div>
														</div>
                                                        
                                                        <div class="form-group">
                                                          <label class="form-label"><%= f.label :address %></label>
                                                          <span class="help"></span>
                                                                                  <div class="input-with-icon  right">                                       
                                                                                          <i class=""></i>
                                                                                          <%= f.text_field :address, :class => "form-control" %>
                                                                                  </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                          <label class="form-label"><%= f.label :phone %></label>
                                                          <span class="help"></span>
                                                                                  <div class="input-with-icon  right">                                       
                                                                                          <i class=""></i>
                                                                                          <%= f.text_field :phone, :class => "form-control" %>
                                                                                  </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                          <label class="form-label"><%= f.label :mobile %></label>
                                                          <span class="help"></span>
                                                                                  <div class="input-with-icon  right">                                       
                                                                                          <i class=""></i>
                                                                                          <%= f.text_field :mobile, :class => "form-control" %>
                                                                                  </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                          <label class="form-label"><%= f.label :fax %></label>
                                                          <span class="help"></span>
                                                                                  <div class="input-with-icon  right">                                       
                                                                                          <i class=""></i>
                                                                                          <%= f.text_field :fax, :class => "form-control" %>
                                                                                  </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label class="form-label"><%= f.label :email %></label>
                                                            <span class="help"></span>
                                                                                    <div class="input-with-icon  right">                                       
                                                                                            <i class=""></i>
                                                                                            <%= f.text_field :email, :class => "form-control" %>
                                                                                    </div>
                                                          </div>
                                                          
                                                          <div class="form-group">
                                                            <label class="form-label"><%= f.label :website %></label>
                                                            <span class="help"></span>
                                                                                    <div class="input-with-icon  right">                                       
                                                                                            <i class=""></i>
                                                                                            <%= f.text_field :website, :class => "form-control" %>
                                                                                    </div>
                                                          </div>
                                                          
                                                          <div class="form-group">
                                                            <label class="form-label"><%= f.label :tax_code %></label>
                                                            <span class="help"></span>
                                                                                    <div class="input-with-icon  right">                                       
                                                                                            <i class=""></i>
                                                                                            <%= f.text_field :tax_code, :class => "form-control" %>
                                                                                    </div>
                                                          </div>
                                                        
                                                        
                            </div>
                            
                            
          <div class="col-md-6">
            
              
              
              
              
              <div class="form-group">
                <label class="form-label"><%= f.label :account_number %></label>
                <span class="help"></span>
                                        <div class="input-with-icon  right">                                       
                                                <i class=""></i>
                                                <%= f.text_field :account_number, :class => "form-control" %>
                                        </div>
              </div>
              
              <div class="form-group">
                <label class="form-label"><%= f.label :bank %></label>
                <span class="help"></span>
                                        <div class="input-with-icon  right">                                       
                                                <i class=""></i>
                                                <%= f.text_field :bank, :class => "form-control" %>
                                        </div>
              </div>
              
              <div class="form-group">
                <label class="form-label"><%= f.label :representative %></label>
                <span class="help"></span>
                                        <div class="input-with-icon  right">                                       
                                                <i class=""></i>
                                                <%= f.text_field :representative, :class => "form-control" %>
                                                <%= f.label :phone %><%= f.text_field :representative_role, :class => "form-control" %>
                                                <%= f.label :role %><%= f.text_field :representative_phone, :class => "form-control" %>
                                                
                                        </div>
              </div>
              
              
              
              <div class="form-group">
					<label class="form-label"><%= f.label :parent %></label>
					<span class="help"></span>
					<div class="input-with-icon  right">                                       
					  <i class=""></i>
						 <div class="input-with_add_but">
							  <%= link_to '<i class="icon-plus"></i>'.html_safe, ajax_new_contacts_path(:type_id => ContactType.supplier), :class => 'btn btn-sm btn-small btn-white fancybox.ajax add-agent-button' %>
							  <input style="width:100%;margin-bottom: 5px;" name="contact[parent_ids][]" data="<%= contacts_path(format: "json") %>" class="select2-ajax-contacts" value="<%= @contact.parent.first.id if !@contact.parent.first.nil? %>" text="<%= @contact.parent.first.name if !@contact.parent.first.nil? %>" />
						 </div>
					</div>
			   </div>
              
              <div class="form-group">
                <label class="form-label"><%= f.label :note %></label>
                <span class="help"></span>
                                        <div class="input-with-icon  right">                                       
                                                <i class=""></i>
                                                <%= f.text_area :note, :class => "form-control" %>
                                        </div>
              </div>
              
              <!--<div class="form-group">
                <label class="form-label"><%= f.label :agents %></label>
                <span class="help"></span>
                <div class="input-with-icon  right">                                       
                        <i class=""></i>
                        <div id="agents-list" class="col-md-12">
                          <% if !@contact.agents.nil? %>
                            <% @contact.agents.each do |agent| %>
                              <div class="agent-line">
				   <span>
					<%= link_to 'Delete', ajax_destroy_contacts_path(:id => agent.id), :class => "btn btn-danger btn-xs btn-mini delete_agent", data: { confirm: 'Are you sure?' } %>					
				   </span>
				   
				   <input type="hidden" name="contact[agent_ids][]" value="<%= agent.id %>" />
				   <%= agent.html_agent_line.html_safe %>				
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="controls">
			      <%= link_to 'Add agent', ajax_new_contacts_path(:type_id => ContactType.agent, :company_id => @contact.id), :class => "btn btn-white btn-cons fancybox.ajax add-agent-button", :id => "add-agent-button" %>
                        </div>
                </div>
              </div>-->
            
          </div>
                        
                        
                    </div>
                      
				  <div class="form-actions">  
					<div class="pull-right">
					  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
					</div>
					</div>
				<% end %>
                </div>
              </div>
            </div>		
      </div>
       
