                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Contacts', contacts_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Contact - <span class="semi-bold"> Management</span></h3>	
                </div>
                <div class="row">                  
                    <div class="col-md-12">
                      <%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary btn-cons' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Contacts</span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables">
                                        <thead>
                                            <tr>
                                                <th style="width:1%" >
                                                    <div class="checkbox check-default">
							<input id="checkbox10" type="checkbox" value="1" class="checkall">
							<label for="checkbox10"></label>
						    </div>
                                                </th>
                                                <th width="25%">Name</th>
                                                <th>Info</th>
                                                <th width="15%">Agents</th>
                                                <th width="20%">Action</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            <% @contacts.each do |contact| %>
                                              <% if contact.is_main %>
                                                <tr>
                                                  <td class="v-align-middle">
                                                          <div class="checkbox check-default">
                                                              <input id="checkbox1<%= contact.id %>" type="checkbox" value="<%= contact.id %>">
                                                              <label for="checkbox1<%= contact.id %>"></label>
                                                          </div>
                                                  </td>
                                                  <td><%= contact.name %></td>
                                                  <td>
                                                    <%= contact.html_info_line.html_safe %>
                                                  </td>
                                                  <td>
                                                    <div id="agents-list" class="">
                                                      <% if !contact.agents.nil? %>
                                                        <% contact.agents.each do |agent| %>
                                                          <div class="agent-line">                                                            
                                                            <%= agent.html_agent_line.html_safe %>
                                                          </div>
                                                        <% end %>
                                                      <% end %>
                                                    </div>
                                                  </td>
                                                  <td>
                                                          <%= link_to 'Show', contact, :class => "btn btn-success btn-xs btn-mini" %>
                                                          <%= link_to edit_contact_path(contact), :class => "btn btn-info btn-xs btn-mini" do %>							
                                                              <i class="icon-paste"></i>
                                                              Edit
                                                          <% end %>
                                                          <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" %>
                                                  </td>
                                                </tr>
                                                
                                                <% contact.children.each do |child_contact| %>
                                                  <tr>
                                                    <td class="v-align-middle">
                                                            <div class="checkbox check-default">
                                                                <input id="checkbox1<%= child_contact.id %>" type="checkbox" value="<%= child_contact.id %>">
                                                                <label for="checkbox1<%= child_contact.id %>"></label>
                                                            </div>
                                                    </td>
                                                    <td>-- <%= child_contact.name %></td>
                                                    <td>
                                                      <%= child_contact.html_info_line.html_safe %>
                                                    </td>
                                                    <td>
                                                      <div id="agents-list" class="">
                                                        <% if !child_contact.agents.nil? %>
                                                          <% child_contact.agents.each do |agent| %>
                                                            <div class="agent-line">                                                            
                                                              <%= child_contact.html_agent_line.html_safe %>
                                                            </div>
                                                          <% end %>
                                                        <% end %>
                                                      </div>
                                                    </td>
                                                    <td>
                                                            <%= link_to 'Show', child_contact, :class => "btn btn-success btn-xs btn-mini" %>
                                                            <%= link_to edit_contact_path(child_contact), :class => "btn btn-info btn-xs btn-mini" do %>							
                                                                <i class="icon-paste"></i>
                                                                Edit
                                                            <% end %>
                                                            <%= link_to 'Destroy', child_contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" %>
                                                    </td>
                                                  </tr>
                                                <% end %>
                                              <% end %>
                                            <% end %>
					    
                                          </tbody>
                                    </table>
                            </div>
                        </div>
			
                        
                        

<h2>Import Contacts</h2>
<%= form_tag import_contacts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


                    </div>
                </div>
