                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Contacts', contacts_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Contact - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				<div class="grid simple ">
					<div class="grid-body no-border filters">
					<div class="row order-filters">
						
						<form id="contact_filter">
						  
						  <div class="col-md-5">
							  <h4>Contact Types</h4>
							  
							  <div style="margin-top: 20px;">
									<div class="input-with-icon right">                                       
											<i class=""></i>
											  <% ContactType.all.each do |ct| %>
												   <div class="row-fluid contact_types">
														<div class="checkbox check-success">
															<%= check_box_tag "types[]", ct.id, @types.include?(ct.id.to_s), {id: "checkbox"+ct.id.to_s } %>
															<label for="checkbox<%= ct.id %>"><%= ct.name %></label>
														</div>
												   </div>
											  <% end %>
											  <br style="clear: both" />
									</div>
							  </div>
						  </div>
							<div class="col-md-4">
								<h4>Area (State/City/District)</h4>
								<div class="">
									<div class="input-with-icon  right">                                       
									<i class=""></i>
									<input id="area_id" style="width:100%;margin-bottom: 5px;" name="area_id" data="<%= states_path(format: "json") %>" class="select2-ajax-states" value="" text="" data-placeholder="All"/>
									</div>
								</div>
							</div>
							
						</form>

						
					</div>
					</div>		    
				</div>
				
				
                <div class="row">                  
                    <div class="col-md-12">
                      <%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary btn-cons' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Contacts</span></h4>
                                <div class="tools">
				    
									<a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-contacts no-filter">
                                        <thead>
                                            <tr>
												<th width="1%" class="text-center">Logo</th>
                                                <th class="text-left">Info</th>
												<th class="text-center">Area</th>
												<th class="text-left" width="20%">Agents</th>
												<th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            
					    
                                        </tbody>
									</table>
                            </div>
                        </div>
			
                        
                        
		    <div class="tmp_hide">
			<h2>Import Contacts</h2>
			<%= form_tag import_contacts_path, multipart: true do %>
			  <%= file_field_tag :file %>
			  <%= submit_tag "Import" %>
			<% end %>
		    </div>


                    </div>
                </div>
