<%= form_for(@combination_detail) do |f| %>
  <% if @combination_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combination_detail.errors.count, "error") %> prohibited this combination_detail from being saved:</h2>

      <ul>
      <% @combination_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :combination_id %><br>
    <%= f.number_field :combination_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :stock_before %><br>
    <%= f.number_field :stock_before %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :stock_after %><br>
    <%= f.number_field :stock_after %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
