<%= form_for(@sales_delivery_detail) do |f| %>
  <% if @sales_delivery_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_delivery_detail.errors.count, "error") %> prohibited this sales_delivery_detail from being saved:</h2>

      <ul>
      <% @sales_delivery_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sales_delivery_id %><br>
    <%= f.number_field :sales_delivery_id %>
  </div>
  <div class="field">
    <%= f.label :order_detail_id %><br>
    <%= f.number_field :order_detail_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
