<h1>Listing sales_delivery_details</h1>

<table>
  <thead>
    <tr>
      <th>Sales delivery</th>
      <th>Order detail</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_delivery_details.each do |sales_delivery_detail| %>
      <tr>
        <td><%= sales_delivery_detail.sales_delivery_id %></td>
        <td><%= sales_delivery_detail.order_detail_id %></td>
        <td><%= sales_delivery_detail.quantity %></td>
        <td><%= link_to 'Show', sales_delivery_detail %></td>
        <td><%= link_to 'Edit', edit_sales_delivery_detail_path(sales_delivery_detail) %></td>
        <td><%= link_to 'Destroy', sales_delivery_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales delivery detail', new_sales_delivery_detail_path %>
