<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @autotask.name %>
</p>

<p>
  <strong>Item count:</strong>
  <%= @autotask.item_count %>
</p>

<p>
  <strong>Time interval:</strong>
  <%= @autotask.time_interval %>
</p>

<%= link_to 'Edit', edit_autotask_path(@autotask) %> |
<%= link_to 'Back', autotasks_path %>
