				<% if @payment_record.errors.any? %>
				    <div class="alert alert-error">
				      <button data-dismiss="alert" class="close"></button>
				      <div id="error_explanation">
					<h5><%= pluralize(@payment_record.errors.count, "error") %> prohibited this payment record from being saved:</h5>
				  
					<ul>
					<% @payment_record.errors.full_messages.each do |msg| %>
					  <li><%= msg %></li>
					<% end %>
					</ul>
				      </div>
				    </div>
				<% end %>
							<% url = @payment_record.id.nil? ? {controller: "payment_records", action: "do_pay_custom"} : nil %>
                                <%= form_for(@payment_record, url: url) do |f| %>


                                    
                                    <div class="row">
                                      <div class="col-md-6">
										<div class="row">
                                            
											<div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label"><%= f.label :type %></label>
                                                        <span class="help">(required)</span>
                                                        <div class="input-with-icon  right">                                       
                                                            <i class=""></i>
                                                            <select class="modern_select width100" name="payment_record[is_recieved]">
                                                              <option <%= 'selected=selected' if !@payment_record.is_recieved %> value="false">Pay</option>
                                                              <option <%= 'selected=selected' if @payment_record.is_recieved %> value="true">Recieve</option>
                                                            </select>
                                                        </div>
                                                    </div>
													<div class="form-group">
														<label class="form-label"><%= f.label :amount %></label>
														<span class="help">(required)</span>
														<div class="input-with-icon right text-left">                                       
																<i class=""></i>
																<%= f.text_field :amount, :class => "form-control price_input" %>
														</div>
													</div>
											</div>
											<div class="col-md-6">
												
																			<div class="form-group">
																				<label class="form-label"><%= f.label :paid_date %></label>
																				<span class="help"></span>
																				  <div class="input-with-icon  right">                                       
																					<i class=""></i>
																					<div class="input-append success date col-md-10 no-padding">
																					  <%= f.text_field :paid_date, :class => "form-control" %>
																					  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
																					</div>
																					<br style="clear: both" />
																				  </div>
																			  </div>
												
													 <div class="form-group">
													   <label class="form-label"><%= f.label :payment_method %></label>
													   <span class="help">(required)</span>
														 <div class="input-with-icon  right">                                       
														   <i class=""></i>
														   <select name="payment_record[payment_method_id]" class="modern_select" style="width: 100%">
																   <option value="">Select Method</option>
																   <% PaymentMethod.all.each do |payment| %>
																	   <option value="<%= payment.id %>" <% if !@payment_record.payment_method_id.nil? && @payment_record.payment_method_id == payment.id %>selected="selected"<% end %>>
																		 <%= payment.name %>
																	   </option>
																   <% end %>
															</select>
														 </div>
													 </div>
											  </div>
										</div>
                                      </div>
                                      <div class="col-md-6">
                                        
										
										
											
											
                                        
                                        
										<div class="form-group">
                                            <label class="form-label"><%= f.label :note %></label>
                                            <span class="help">(required)</span>
                                            <div class="input-with-icon  right">                                       
                                                    <i class=""></i>
                                                    <%= f.text_area :note, :class => "form-control" %>
                                            </div>
                                        </div>
					<div class="form-group">
                                            <label class="form-label"><%= f.label :name %></label>
                                            <span class="help"></span>
                                            <div class="input-with-icon  right">                                       
                                                    <i class=""></i>
                                                    <%= f.text_field :paid_person, :class => "form-control" %>
                                            </div>
                                        </div>
					<div class="form-group">
                                            <label class="form-label"><%= f.label :address %></label>
                                            <span class="help"></span>
                                            <div class="input-with-icon  right">                                       
                                                    <i class=""></i>
                                                    <%= f.text_field :paid_address, :class => "form-control" %>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="text-right">
                                            <input name="save" type="submit" class="btn btn-primary btn-cons" value="Confirm" />
                                        </div>
                                      </div>
                                    </div>
                                      
				<% end %>