<%= form_for(@payment_record) do |f| %>
  <% if @payment_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_record.errors.count, "error") %> prohibited this payment_record from being saved:</h2>

      <ul>
      <% @payment_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :accountant_id %><br>
    <%= f.number_field :accountant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
