<div class="wrapper page" style="">



<%
@header_com = Contact.HK
%>
<table class="cominfo">
  <tr>
    <td rowspan="2" width="15%">
      <img src="http://hoangkhang.com.vn/images/Logo_HK.png" width="170" style="margin-top: -10px;margin-right: 10px" valign="top" />
    </td>
    <td colspan="2">
      <h2><%= @header_com.name %></h2>
    </td>
  </tr>
  <tr>
    <td>
      <p><%= @header_com.full_address %></p>
      
      <p><label>ĐT: </label><%= @header_com.phone %> - <label>Fax: </label><%= @header_com.fax %> - <label>Hotline: </label><%= @header_com.hotline %></p>
      <p><label>STK: </label><%= @header_com.account_number %> <%= @header_com.bank %></p>
    </td>
    <td class="top-left" valign="top">
      <p><label>MST: </label><%= @header_com.tax_code %></p>
      <p><label>Email: </label><%= @header_com.email %></p>
      <p><label>Website: </label><%= @header_com.website %></p>
    </td>
  </tr>
</table>


<table class="top-info" cellspacing="0">
  <tr>
    <td class="maintitle" align="center" style="padding-bottom: 30px;">
      <h1>
        <% if @payment_record.is_paid %>
          PHIẾU CHI
        <% else %>
          PHIẾU THU
        <% end %>
      </h1>
      
    </td>
    <td class="mid middle1" style="padding-bottom: 30px;">
      <p><label>Ngày lập phiếu: </label><%= @payment_record.paid_date.strftime("%d/%m/%Y") %></p>
      
      <p><label>Số: </label><%= @order.quotation_code %>-<%= @payment_record.id %></p>
    </td>
  </tr>
  
</table>



<table class="top-info" style="margin-top: 0" cellspacing="0">
  <tr>
    <td class="mid" width="70%" style="padding-top: 5px;border-top: solid 0px #000">
      <p><label>Người <%= @payment_record.is_paid ? "nhận" : "nộp" %> tiền: </label> <strong><%= @payment_record.paid_person %></strong></p>
      <p><label>Địa chỉ: </label> <strong><%= @payment_record.paid_address %></strong></p>
      <p><label>Lý do: </label> <%= @payment_record.note %></p>
      <p><label>Số tiền: </label> <strong><%= @payment_record.amount_formated %> VND</strong></p>
      <p><label>Viết bằng chữ: </label><%= @order.docso(@payment_record.amount.abs) %></p>
      <p><label>Kèm theo: </label> Hóa đơn với mã số <strong><%= @order.printed_order_number %></strong></p>
      
    </td>    
  </tr>
</table>
		
<BR />
<BR />
<table>
  <tr>

      <td width="20%" align="center" valign="top">
        <p><strong>NGƯỜI LẬP PHIẾU</strong></p>
        
      </td>
      <td width="20%" align="center" valign="top">
        <p><strong>NGƯỜI <%= @payment_record.is_paid ? "NHẬN" : "NỘP" %> TIỀN</strong></p>
        
      </td>
      <td width="20%" align="center" valign="top">
        <p><strong>THỦ QUỸ</strong></p>
        
      </td>
      <td width="20%" align="center" valign="top">
        <p><strong>KẾ TOÁN TRƯỞNG</strong></p>
        
      </td>
      <td width="20%" align="center" valign="top">
        <p><strong>GIÁM ĐỐC</strong></p>
        
      </td>

  </tr>
</table>

</div>
