                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>Delivery</li>
                </ul>
                <div class="page-title">
                        <i class="icon-archive"></i>
						<% if !@order.nil? %>
							<h3>Accounting - <span class="semi-bold"> <%= @order.is_purchase ? "Purchase" : "Sales" %> Orders</span></h3>
						<% else %>
							<h3>Accounting - <span class="semi-bold"> Pay/Recieve</span></h3>
						<% end %>
                </div>
                <div class="row">
                    <div class="col-md-12">			
                        <div class="grid simple ">
                            <% if !@order.nil? %>
                                <h4>Order:  <span class="semi-bold"><%= @order.quotation_code %></span></h4>
								<h4>
									<%= @order.is_purchase ? "Supplier" : "Customer" %>:
									<span class="semi-bold">
										<%= @order.is_purchase ? @order.supplier.name : @order.customer.name %>
									</span>
								</h4>
								<h4>
									Address:
									<span class="semi-bold">
										<%= @order.is_purchase ? @order.supplier.full_address : @order.customer.full_address %>
									</span>
								</h4>
                                <h4>Total (+VAT):  <span class="semi-bold"><%= @order.formated_total_vat %> VND</span></h4>
								<h4>Deposit:  <span class="semi-bold"><%= @order.deposit %>%</span></h4>
                                <h4>Paid:  <span class="semi-bold"><%= format_price(@order.paid_amount) %> VND (<%= @order.paid_percent %>%)</span></h4>
                                <h4>Remain:  <span class="semi-bold"><%= format_price(@order.remain_amount) %> VND</span></h4>
								
							<% end %>
							
							<div class="grid-title no-border">
								<h4>Details</h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">

								<%= render "form" %>
							
                            </div>
                        </div>
			
                    </div>
		    
                </div>
                
