<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<%
list_path = "#"
if !@payment_record.order.nil?
	list_path = @payment_record.order.is_purchase ? url_for(controller: "accounting", action: "orders", purchase: true) : url_for(controller: "accounting", action: "orders")
end

		
%>

<%= stylesheet_link_tag "print_html.css?v=5" %>


<div class="show_order_page">
  <div style="margin-bottom: 5px;display: inline-block; width: 100%">
		<div class="order_histories" style="float: right">
		<%= link_to 'Create PDF', download_pdf_2019_payment_records_path(:id => @payment_record.id, :export_ticket => params[:export_ticket]), :class => "btn btn-info", :target => "_blank" %>
	  
		</div>
		
<% if !@payment_record.order.nil? %>
		
		<div class="order_histories" style="float: left">
		  
		  <% @order.all_order_payments.each do |d| %>
			<%
			  active = d.id == @payment_record.id ? "success" : "white"      
			%>
			
			<div class="print_group">
			  
			  <%= link_to d.display_name, {:id => d.id}, :class => "btn btn-#{active}" %>
			  
			</div>
		
		  <% end %>
		
		  <% @order.all_tip_payments.each do |d| %>
			<%
			  active = d.id == @payment_record.id ? "success" : "white"      
			%>
			
			<div class="print_group">
			  
			  <%= link_to "[Tip] "+d.display_name, {:id => d.id}, :class => "btn btn-#{active}" %>
			  
			</div>
		
		<% end %>
		
			  <% if can? :read_commissions, @order %>
				  <% @order.all_commission_payments.each do |d| %>
					<%
					  active = d.id == @payment_record.id ? "success" : "white"      
					%>
					
					<div class="print_group">
					  
					  <%= link_to "[Commission] "+d.display_name, {:id => d.id}, :class => "btn btn-#{active}" %>
					  
					</div>
				
				  <% end %>
		<% end %>
		
		
		</div>
<% end %>		
  </div>
		
		<br style="clear: both" />
		
		
		
		<div style="overflow: auto">
		
			  <%= render 'show' %>
		</div>
		  
		



		<div class="order_histories" style="float: right;margin: 10px 0 0 0">
		  <%= link_to 'Create PDF', download_pdf_2019_payment_records_path(:id => @payment_record.id, :export_ticket => params[:export_ticket]), :class => "btn btn-info", :target => "_blank" %>
		  <%= link_to '<i class="icon-trash color-white"></i> Trash'.html_safe, {controller: "payment_records", action: "trash", :id => @payment_record.id}, :class => "btn btn-info" %>
		</div>
		
		
</div>
