<%= form_for(@product_image) do |f| %>
  <% if @product_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_image.errors.count, "error") %> prohibited this product_image from being saved:</h2>

      <ul>
      <% @product_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
