       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Quotation <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @supplier_order.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@supplier_order.errors.count, "error") %> prohibited this supplier order from being saved:</h5>
                  
                        <ul>
                        <% @supplier_order.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@supplier_order) do |f| %>

                    <div class="row column-seperation">
                           
                            <div class="col-md-6">
                              
                              <div class="form-group">
                                <label class="form-label"><%= f.label :supplier %></label>
                                <span class="help">(required)</span>
                                <div class="input-with-icon  right">                                       
                                  <i class=""></i>
                                  <select name="supplier_order[supplier_id]" class="modern_select" style="min-width: 400px;">
                                    <option value="">Select Supplier</option>
                                    <% Contact.all.each do |contact| %>
                                      <% if contact.is_main %>
                                          <option value="<%= contact.id %>" <% if !@supplier_order.supplier.nil? && @supplier_order.supplier.id == contact.id %>selected="selected"<% end %>>
                                            <%= contact.name %>
                                          </option>
                                      <% end %>
                                    <% end %>
                                  </select>
                                </div>
                              </div>
                              
                              
                                
                              
                              
                            </div>
                            <div class="col-md-6">
                              
                              <div class="form-group">
                                <label class="form-label"><%= f.label :tax_id %></label>
                                <span class="help"></span>
                                  <div class="input-with-icon  right">                                       
                                    <i class=""></i>
                                    <select name="supplier_order[tax_id]" class="modern_select tax-select" style="min-width: 400px;">                                    
                                    <% Tax.all.order("created_at DESC").each do |tax| %>
                                        <option rel="<%= tax.rate %>" value="<%= tax.id %>" <% if !@supplier_order.tax_id.nil? && @supplier_order.tax_id == tax.id %>selected="selected"<% end %>>
                                          <%= tax.name %>
                                        </option>
                                    <% end %>
                                  </select>
                                  </div>
                              </div>
                            
                            </div>
                        
                        
                    </div>
                
                    <div class="row column-seperation">
                      <div class="col-md-6">
                        
                        
                        
                      </div>
                      
                      <div class="col-md-6">
                        
                        
                      </div>
                      
                    </div>
                    
                      
                    <div class="row column-seperation">
                      <div class="col-md-12">
                        <h4>Products <span class="semi-bold"> Details</span></h4>
                        
                        
                        <div class="product_order_list">
                          <ul class="head">
                            <li class="name">
                              Product
                            </li>
                            <li class="unit">Unit</li>
                            <li class="price">Price</li>
                            <li class="quantity">Quantity</li>
                            <li class="price_total">Total</li>
                            <li class="warranty">Warranty</li>
                            <li class="action">Action</li>
                          </ul>
                          <div id="product-line-items">
                            <% if !@supplier_order.supplier_order_details.nil? %>
                                <% @supplier_order.supplier_order_details.each do |supplier_order_detail| %>
                                  <%= render 'supplier_order_details/line_item', :supplier_order_detail => supplier_order_detail %>
                                <% end %>
                            <% end %>
                          </div>
                          <ul class="footer line1">
                            <li class="name">
                            </li>
                            <li class="unit"></li>

                            <li class="sum">Tổng cộng</li>
                            <li class="price_total">0</li>
                            <li class="warranty"></li>
                            <li class="action"></li>
                          </ul>
                          <ul class="footer line2">
                            <li class="name">
                            </li>
                            <li class="unit"></li>

                            <li class="sum">Tổng cộng (+ <span class="order_tax_name"><%= @supplier_order.tax.name if !@supplier_order.tax.nil? %></span>)</li>
                            <li class="price_total">0</li>
                            <li class="warranty"></li>
                            <li class="action"></li>
                          </ul>
                        </div>
                        
                        <div class="controls">
			      <%= link_to 'Add Product Line', ajax_new_supplier_order_details_path(:supplier_order_id => @supplier_order.id), :class => "btn btn-white btn-cons fancybox.ajax", :id => "add-product-order-line-button" %>
                        </div>
                      </div>
                    </div>
                    
                      
                        <div class="form-actions">  
                          <div class="pull-right">
                              <input name="save" type="submit" class="btn btn-primary btn-cons" value="Save" />
                              <%= link_to 'Cancel', orders_path, :class => "btn btn-white btn-cons" %>
                          </div>
                        </div>
                  <% end %>
                </div>
              </div>
            </div>		
      </div>








