<ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Supplier Orders', supplier_orders_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Supplier Order - <span class="semi-bold"> Management</span></h3>	
                </div>
                <div class="row">
		  
		  
		  
                    <div class="col-md-12">
                      <%= link_to 'New Supplier Order', new_supplier_order_path, :class => 'btn btn-primary btn-cons' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Supplier Orders</span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables">
                                        <thead>
                                            <tr>
                                                <th style="width:1%" >
                                                    <div class="checkbox check-default">
							<input id="checkbox10" type="checkbox" value="1" class="checkall">
							<label for="checkbox10"></label>
						    </div>
                                                </th>
                                                <th width="27%">Supplier Name</th>
                                                <th style="text-align: right">Total Price</th>
                                                <th style="text-align: center" width="14%">Product Count</th>                                                
						<th style="text-align: center" width="14%">Salesperson</th>
						<th style="text-align: center" width="13%">Created Date</th>
                                                <th style="width:160px;">Action</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            <% @supplier_orders.each do |order| %>
					      
						  <tr>
						    <td class="v-align-middle">
							    <div class="checkbox check-default">
								<input id="checkbox1<%= order.id %>" type="checkbox" value="<%= order.id %>">
								<label for="checkbox1<%= order.id %>"></label>
							    </div>
						    </td>
						    <td><%= order.supplier.name %></td>
						    <td align="right">
						      <%= order.formated_total_vat %>
						    </td>
						    <td style="text-align: center">
						      <%= order.supplier_order_details.count %>
						    </td>
						    <td style="text-align: center">
						      <%= order.salesperson.name if !order.salesperson.nil? %>
						    </td>
						    <td style="text-align: center">
						      <%= order.created_at.strftime("%Y-%m-%d") %>
						    </td>
						    
						    <td>
							    
							    <%= link_to '<i class="icon-zoom-in"></i>'.html_safe, order, :class => "btn btn-success btn-xs btn-mini fancybox.iframe show_order" %>
							    <%= link_to 'PDF', download_pdf_orders_path(:id => order.id), :class => "btn btn-success btn-xs btn-mini" %>
							    <!--<%= link_to '<i class="icon-reply-all"></i>'.html_safe, new_order_path(old_id: order.id), :class => "btn btn-info btn-xs btn-mini show_old_order_version", title: "Create New Order History" %>-->
							    <%= link_to '<i class="icon-paste"></i>'.html_safe, edit_supplier_order_path(order), :class => "btn btn-info btn-xs btn-mini", title: "Edit Supplier Order" if can? :manage, order %>							    
							    <%= link_to 'X'.html_safe, order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" if can? :manage, order %>
						    </td>
						  </tr>
						  
                                             
                                            <% end %>
					    
                                          </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>