<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:-536870145 1107305727 0 0 415 0;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;}
h1
	{mso-style-update:auto;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-next:Normal;
	margin:0in;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:40.0pt;
	mso-line-height-rule:exactly;
	mso-pagination:widow-orphan;
	page-break-after:avoid;
	mso-outline-level:1;
	font-size:40.0pt;
	mso-bidi-font-size:16.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:major-latin;
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:major-latin;
	mso-bidi-font-family:Arial;
	color:#A6A6A6;
	mso-themecolor:background1;
	mso-themeshade:166;
	mso-font-kerning:16.0pt;
	font-weight:normal;
	mso-bidi-font-weight:bold;}
h2
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-next:Normal;
	margin:0in;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:14.0pt;
	mso-line-height-rule:exactly;
	mso-pagination:widow-orphan;
	mso-outline-level:2;
	font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:major-latin;
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:major-latin;
	color:gray;
	mso-themecolor:background1;
	mso-themeshade:128;
	text-transform:uppercase;
	font-weight:normal;}
h3
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-next:Normal;
	margin:0in;
	margin-bottom:.0001pt;
	text-align:right;
	mso-pagination:widow-orphan;
	mso-outline-level:3;
	font-size:8.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:major-latin;
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:major-latin;
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;
	text-transform:uppercase;
	letter-spacing:.2pt;
	mso-bidi-font-weight:normal;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-noshow:yes;
	mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;}
span.MsoPlaceholderText
	{mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-unhide:no;
	color:gray;}
p.ThankYou, li.ThankYou, div.ThankYou
	{mso-style-name:"Thank You";
	mso-style-update:auto;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:5.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;
	font-weight:bold;
	mso-bidi-font-weight:normal;}
p.DateandNumber, li.DateandNumber, div.DateandNumber
	{mso-style-name:"Date and Number";
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin:0in;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:110%;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;
	text-transform:uppercase;
	letter-spacing:.2pt;}
p.Slogan, li.Slogan, div.Slogan
	{mso-style-name:Slogan;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;
	letter-spacing:.2pt;
	font-style:italic;
	mso-bidi-font-style:normal;}
p.ColumnHeadings, li.ColumnHeadings, div.ColumnHeadings
	{mso-style-name:"Column Headings";
	mso-style-update:auto;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:major-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:major-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;
	text-transform:uppercase;
	letter-spacing:.2pt;
	font-weight:bold;
	mso-bidi-font-weight:normal;}
p.Amount, li.Amount, div.Amount
	{mso-style-name:Amount;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin:0in;
	margin-bottom:.0001pt;
	text-align:right;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;}
p.Centered, li.Centered, div.Centered
	{mso-style-name:Centered;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-margin-top-alt:auto;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;
	letter-spacing:.2pt;}
p.Address, li.Address, div.Address
	{mso-style-name:Address;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin:0in;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	mso-line-height-rule:exactly;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-noshow:yes;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Balloon Text";
	mso-ansi-font-size:8.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Tahoma","sans-serif";
	mso-ascii-font-family:Tahoma;
	mso-hansi-font-family:Tahoma;
	mso-bidi-font-family:Tahoma;
	color:#404040;
	mso-themecolor:text1;
	mso-themetint:191;}
p.ContactInfo, li.ContactInfo, div.ContactInfo
	{mso-style-name:"Contact Info";
	mso-style-qformat:yes;
	margin:0in;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	mso-line-height-rule:exactly;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	mso-bidi-font-size:9.0pt;
	font-family:"Garamond","serif";
	mso-ascii-font-family:Garamond;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Garamond;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	color:gray;
	mso-themecolor:background1;
	mso-themeshade:128;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:9.0pt;
	mso-ansi-font-size:9.0pt;
	mso-bidi-font-size:9.0pt;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in .75in .75in .75in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
table.MsoTableGrid
	{mso-style-name:"Table Grid";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-unhide:no;
	border:solid windowtext 1.0pt;
	mso-border-alt:solid windowtext .5pt;
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-border-insideh:.5pt solid windowtext;
	mso-border-insidev:.5pt solid windowtext;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
body {
  background: #fff;
}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1026" fillcolor="white">
  <v:fill color="white"/>
 </o:shapedefaults></xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US style='tab-interval:.5in;background: #fff'>

<div class=WordSection1>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;background:white;border-collapse:collapse;border:none;
 mso-yfti-tbllook:480;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:
 none;mso-border-insidev:none'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=110 valign=bottom style='width:82.75pt;padding:0in 5.75pt 2.15pt 5.75pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif";
  mso-no-proof:yes'><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
   coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
   filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
   alt="Logo placeholder" style='width:67.5pt;height:33.75pt;visibility:visible;
   mso-wrap-style:square'>
   <v:imagedata src="Sales%20invoice_files/image001.gif" o:title="Logo placeholder"/>
  </v:shape><![endif]--><![if !vml]><!--<img width=90 height=45
  src="Sales%20invoice_files/image001.gif" alt="Logo placeholder" v:shapes="Picture_x0020_1">--><![endif]></span><span
  style='font-family:"Times New Roman","serif"'><o:p></o:p></span></p>
  </td>
  <w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="B7189FA5B762447A80D708A5C94A06DD" Title="Slogan" SdtTag="Slogan"
   ID="1307490223">
   <td width=293 valign=bottom style='width:220.0pt;border:none;border-bottom:
   solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:
   217;mso-border-bottom-alt:solid #D9D9D9 .5pt;mso-border-bottom-themecolor:
   background1;mso-border-bottom-themeshade:217;padding:0in 5.75pt 0in 0in'>
   <p class=Slogan><span style='font-family:"Times New Roman","serif"'>
   <!--[Company Slogan]-->
   <o:p></o:p><w:sdtPr></w:sdtPr></span></p>
   </td>
  </w:Sdt>
  <td width=283 nowrap valign=bottom style='width:2.95in;border:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;mso-border-bottom-alt:solid #D9D9D9 .5pt;
  mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:217;
  padding:0in 5.4pt 0in 5.4pt'>
  <h1><span style='font-family:"Times New Roman","serif"'>PURCHASE ORDER<o:p></o:p></span></h1>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;background:white;border-collapse:collapse;mso-padding-alt:
 .1in 5.75pt 2.9pt 5.75pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:65.7pt'>
  <td width=404 colspan=2 valign=top style='width:302.85pt;padding:0in 5.75pt 2.9pt 5.75pt;
  height:65.7pt'><w:Sdt
   PrefixMappings="xmlns:ns0='http://purl.org/dc/elements/1.1/' xmlns:ns1='http://schemas.openxmlformats.org/package/2006/metadata/core-properties' "
   Xpath="/ns1:coreProperties[1]/ns0:subject[1]" ShowingPlcHdr="t"
   DocPart="301C6E3533CB4A24B025C8CAB71432B7" Text="t" MultiLine="t"
   StoreItemID="X_6C3C8BC8-F283-45AE-878A-BAB7291924A1" Title="Company"
   SdtTag="Company" ID="1300518555">
   <p class=ContactInfo><span style='font-family:"Times New Roman","serif"'>
   <%= @supplier_order.supplier.name %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="CFCA05D1D63844949131898B3A98EFAB" Title="Address" SdtTag="Address"
   ID="1300518566">
   <p class=ContactInfo><span style='font-family:"Times New Roman","serif"'>
   <%= @supplier_order.supplier.address %>
   <o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt>
  <p class=ContactInfo><span style='font-family:"Times New Roman","serif"'><w:Sdt
   ShowingPlcHdr="t" Temporary="t" DocPart="91FA520FD5EE478AA4C082C9E2A741ED"
   Title="Phone" SdtTag="Phone" ID="1300518593"><%= @supplier_order.supplier.phone %></w:Sdt><span
  style='mso-spacerun:yes'>  </span><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="2C39CD8C81B548E791DF5796814F2976" Title="Fax" SdtTag="Fax"
   ID="1300518620"><%= @supplier_order.supplier.fax %></w:Sdt><o:p></o:p></span></p>
  <w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="FB129E2EA92E498A9B0191A382A71206" Title="Email" SdtTag="Email"
   ID="1300518647">
   <p class=ContactInfo><span style='font-family:"Times New Roman","serif"'><%= @supplier_order.supplier.fax %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt></td>
  <td width=284 colspan=2 valign=top style='width:212.65pt;padding:.1in 5.75pt 2.9pt 5.75pt;
  height:65.7pt'>
  <p class=DateandNumber><span style='font-family:"Times New Roman","serif"'>Date:
  <w:Sdt ShowingPlcHdr="t" DocPart="3838104D605740509DAEBF3E4628D462"
   Calendar="t" MapToDateTime="t" CalendarType="Gregorian" Title="Date"
   SdtTag="Date" DateFormat="MMMM d, yyyy" Lang="EN-US" ID="1307490279"><%= @supplier_order.updated_at %></w:Sdt><o:p></o:p></span></p>
  <!--<p class=DateandNumber><span style='font-family:"Times New Roman","serif"'>INVOICE
  # <w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="88244084826843FC856FC6B7FB5C0984" Title="No." SdtTag="No."
   ID="1307490308">[No.]</w:Sdt><o:p></o:p></span></p>-->
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes;height:78.3pt'>
  <td width=49 valign=top style='width:36.8pt;padding:0in 5.75pt 0in 5.75pt;
  height:78.3pt'>
  <h2><span style='font-family:"Times New Roman","serif"'>TO<o:p></o:p></span></h2>
  </td>
  <td width=355 valign=top style='width:266.05pt;padding:.1in 5.75pt 2.9pt 5.75pt;
  height:78.3pt'><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="F4F97344C2E7471F9678F1EAB1F48BEF" Title="Name" SdtTag="Name"
   ID="1300518674">
   <!--<p class=Address><span style='font-family:"Times New Roman","serif"'><%= @supplier_order.salesperson.name %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="196CDF37712043B9AC40249B45349491" Title="Company" SdtTag="Company"
   ID="1300518701">-->
   <p class=Address><span style='font-family:"Times New Roman","serif";text-transform: uppercase'><%= @hk.name %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="376DED770F1B45A494BFD2054A6061F7" Title="Address" SdtTag="Address"
   ID="1300518728">
   <p class=Address><span style='font-family:"Times New Roman","serif"'><%= @hk.address %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="6FE530EED5BB4F1594A57F237B21E0DA" Title="City, ST  ZIP Code"
   SdtTag="City, ST  ZIP Code" ID="1300518755">
   <p class=Address><span style='font-family:"Times New Roman","serif"'><%= @hk.account_number %>, <%= @hk.bank %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="1E3B23A0168548859BE277B50B44A8EB" Title="Phone" SdtTag="Phone"
   ID="1300518782">
   <p class=Address><span style='font-family:"Times New Roman","serif"'><%= @hk.bank %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt>
  <p class=Address><span style='font-family:"Times New Roman","serif"'><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="BC84342A8D2C4C45B07E5D8FEB280DF8" Title="No." SdtTag="No."
   ID="1300518809">Phone: <%= @hk.phone %>, Fax: <%= @hk.fax %></w:Sdt><o:p></o:p></span></p>
  </td>
  <td width=54 valign=top style='width:40.4pt;padding:.1in 5.75pt 0in 5.75pt;
  height:78.3pt'>
  <h2><span style='font-family:"Times New Roman","serif"'>ship <o:p></o:p></span></h2>
  <h2><span style='font-family:"Times New Roman","serif"'>to<o:p></o:p></span></h2>
  </td>
  <td width=230 valign=top style='width:172.25pt;padding:.1in 5.75pt 2.9pt 5.75pt;
  height:78.3pt'><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="8998859EB32E49D18FCC11983DFB7F5D" Title="Name" SdtTag="Name"
   ID="1307490261">
   <!--<p class=Address><span style='font-family:"Times New Roman","serif"'><%= @supplier_order.salesperson.name %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="196CDF37712043B9AC40249B45349491" Title="Company" SdtTag="Company"
   ID="1300518701">-->
   <p class=Address><span style='font-family:"Times New Roman","serif";text-transform: uppercase'><%= @hk.name %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt><w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="376DED770F1B45A494BFD2054A6061F7" Title="Address" SdtTag="Address"
   ID="1300518728">
   <p class=Address><span style='font-family:"Times New Roman","serif"'><%= @hk.address %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt>
    <!--<w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="6FE530EED5BB4F1594A57F237B21E0DA" Title="City, ST  ZIP Code"
   SdtTag="City, ST  ZIP Code" ID="1300518755">
   <p class=Address><span style='font-family:"Times New Roman","serif"'><%= @hk.account_number %>, <%= @hk.bank %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt>-->
    <w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="1E3B23A0168548859BE277B50B44A8EB" Title="Phone" SdtTag="Phone"
   ID="1300518782">
   <p class=Address><span style='font-family:"Times New Roman","serif"'>Phone: <%= @hk.phone %><o:p></o:p><w:sdtPr></w:sdtPr></span></p>
  </w:Sdt>
  <!--<p class=Address><span style='font-family:"Times New Roman","serif"'>Customer
  ID <w:Sdt ShowingPlcHdr="t" Temporary="t"
   DocPart="785F58E96DDD42C7B746666A9518B5AC" Title="No." SdtTag="No."
   ID="1307490266">[No.]</w:Sdt><o:p></o:p></span></p>-->
  </td>
 </tr>
 <![if !supportMisalignedColumns]>
 <tr height=0>
  <td width=51 style='border:none'></td>
  <td width=365 style='border:none'></td>
  <td width=55 style='border:none'></td>
  <td width=237 style='border:none'></td>
 </tr>
 <![endif]>
</table>

<p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;background:white;border-collapse:collapse;border:none;
 mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
 mso-border-themeshade:217;mso-padding-alt:2.15pt 5.75pt 2.15pt 5.75pt;
 mso-border-insideh:.75pt solid #D9D9D9;mso-border-insideh-themecolor:background1;
 mso-border-insideh-themeshade:217;mso-border-insidev:.75pt solid #D9D9D9;
 mso-border-insidev-themecolor:background1;mso-border-insidev-themeshade:217'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;page-break-inside:avoid;
  height:.15in'>
  <td width=108 style='width:81.0pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;
  mso-border-themecolor:background1;mso-border-themeshade:217;background:#D9D9D9;
  mso-background-themecolor:background1;mso-background-themeshade:217;
  padding:2.15pt 5.75pt 2.15pt 5.75pt;height:.15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>salesperson<o:p></o:p></span></p>
  </td>
  <td width=84 style='width:63.0pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>job<o:p></o:p></span></p>
  </td>
  <td width=96 style='width:1.0in;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>shipping
  method<o:p></o:p></span></p>
  </td>
  <td width=108 style='width:81.0pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>shipping
  terms<o:p></o:p></span></p>
  </td>
  <td width=84 style='width:63.0pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>delivery
  date<o:p></o:p></span></p>
  </td>
  <td width=108 valign=top style='width:81.0pt;border:solid #D9D9D9 1.0pt;
  mso-border-themecolor:background1;mso-border-themeshade:217;border-left:none;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:
  background1;mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:.15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>payment
  terms<o:p></o:p></span></p>
  </td>
  <td width=84 style='width:63.0pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>due
  date<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes;page-break-inside:avoid;
  height:10.1pt'>
  <td width=108 style='width:81.0pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-top:none;mso-border-top-alt:
  solid #D9D9D9 .75pt;mso-border-top-themecolor:background1;mso-border-top-themeshade:
  217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p><%= @supplier_order.salesperson.name %></o:p></span></p>
  </td>
  <td width=84 style='width:63.0pt;border-top:none;border-left:none;border-bottom:
  solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:
  217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .75pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=96 style='width:1.0in;border-top:none;border-left:none;border-bottom:
  solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:
  217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .75pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=108 style='width:81.0pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .75pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=84 style='width:63.0pt;border-top:none;border-left:none;border-bottom:
  solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:
  217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .75pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=108 valign=top style='width:81.0pt;border-top:none;border-left:
  none;border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .75pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'>Due on
  receipt<o:p></o:p></span></p>
  </td>
  <td width=84 style='width:63.0pt;border-top:none;border-left:none;border-bottom:
  solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:
  217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .75pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .75pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .75pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-padding-alt:2.15pt 5.75pt 2.15pt 5.75pt;mso-border-insideh:.5pt solid windowtext;
 mso-border-insidev:.5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;page-break-inside:avoid;
  height:.15in'>
  <td width=98 style='width:73.2pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;
  mso-border-themecolor:background1;mso-border-themeshade:217;background:#D9D9D9;
  mso-background-themecolor:background1;mso-background-themeshade:217;
  padding:2.15pt 5.75pt 2.15pt 5.75pt;height:.15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>qty<o:p></o:p></span></p>
  </td>
  <td width=98 style='width:73.3pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>item
  #<o:p></o:p></span></p>
  
  </td>
  <td width=98 style='width:73.65pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>Unit
  Price<o:p></o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>Discount<o:p></o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-left:none;mso-border-left-alt:
  solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;mso-border-left-themeshade:
  217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:#D9D9D9;mso-background-themecolor:background1;
  mso-background-themeshade:217;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:
  .15in'>
  <p class=ColumnHeadings><span style='font-family:"Times New Roman","serif"'>line
  total<o:p></o:p></span></p>
  </td>
 </tr>
 
 
 
<% if !@supplier_order.supplier_order_details.nil? %>
  <% @supplier_order.supplier_order_details.each do |supplier_order_detail| %>
      
      
 <tr style='mso-yfti-irow:1;page-break-inside:avoid;height:10.1pt'>
  <td width=98 style='width:73.2pt;border:solid #D9D9D9 1.0pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;border-top:none;mso-border-top-alt:
  solid #D9D9D9 .5pt;mso-border-top-themecolor:background1;mso-border-top-themeshade:
  217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:background1;
  mso-border-themeshade:217;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p><%= supplier_order_detail.quantity %></o:p></span></p>
  </td>
  <td width=98 style='width:73.3pt;border-top:none;border-left:none;border-bottom:
  solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;mso-border-bottom-themeshade:
  217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p><%= supplier_order_detail.product_name %><br /><%= supplier_order_detail.product_description %></o:p></span></p>
  
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p><%= supplier_order_detail.formated_price %></o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p>0</o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p><%= supplier_order_detail.formated_total %></o:p></span></p>
  </td>
 </tr>
      
  <% end %>
<% end %>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <tr style='mso-yfti-irow:14;page-break-inside:avoid;height:10.1pt'>
  <td width=98 style='width:73.2pt;border:none;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.3pt;border:none;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  
  </td>
  <td width=98 style='width:73.65pt;border:none;border-right:solid #D9D9D9 1.0pt;
  mso-border-right-themecolor:background1;mso-border-right-themeshade:217;
  mso-border-top-alt:solid #D9D9D9 .5pt;mso-border-top-themecolor:background1;
  mso-border-top-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-right-alt:solid #D9D9D9 .5pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <h3><span style='font-family:"Times New Roman","serif"'>Total discount<o:p></o:p></span></h3>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p>0</o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p>0</o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15;page-break-inside:avoid;height:10.1pt'>
  <td width=98 style='width:73.2pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.3pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  
  </td>
  <td width=98 style='width:73.65pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border:none;border-right:solid #D9D9D9 1.0pt;
  mso-border-right-themecolor:background1;mso-border-right-themeshade:217;
  mso-border-right-alt:solid #D9D9D9 .5pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <h3><span style='font-family:"Times New Roman","serif"'>Subtotal<o:p></o:p></span></h3>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p><%= @supplier_order.formated_total %></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16;page-break-inside:avoid;height:10.1pt'>
  <td width=98 style='width:73.2pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  
  </td>
  <td width=197 style='width:148.05pt;border:none;background:white;padding:
  2.15pt 5.75pt 2.15pt 5.75pt;height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border:none;border-right:solid #D9D9D9 1.0pt;
  mso-border-right-themecolor:background1;mso-border-right-themeshade:217;
  mso-border-right-alt:solid #D9D9D9 .5pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <h3><span style='font-family:"Times New Roman","serif"'>Sales tax<o:p></o:p></span></h3>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><span style='font-family:"Times New Roman","serif"'><o:p><%= @supplier_order.formated_vat_amount %></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17;mso-yfti-lastrow:yes;page-break-inside:avoid;
  height:10.1pt'>
  <td width=98 style='width:73.2pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.3pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  
  </td>
  <td width=98 style='width:73.65pt;border:none;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <p class=MsoNormal><span style='font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span></p>
  </td>
  <td width=98 style='width:73.65pt;border:none;border-right:solid #D9D9D9 1.0pt;
  mso-border-right-themecolor:background1;mso-border-right-themeshade:217;
  mso-border-right-alt:solid #D9D9D9 .5pt;mso-border-right-themecolor:background1;
  mso-border-right-themeshade:217;background:white;padding:2.15pt 5.75pt 2.15pt 5.75pt;
  height:10.1pt'>
  <h3><span style='font-family:"Times New Roman","serif"'>total<o:p></o:p></span></h3>
  </td>
  <td width=98 style='width:73.65pt;border-top:none;border-left:none;
  border-bottom:solid #D9D9D9 1.0pt;mso-border-bottom-themecolor:background1;
  mso-border-bottom-themeshade:217;border-right:solid #D9D9D9 1.0pt;mso-border-right-themecolor:
  background1;mso-border-right-themeshade:217;mso-border-top-alt:solid #D9D9D9 .5pt;
  mso-border-top-themecolor:background1;mso-border-top-themeshade:217;
  mso-border-left-alt:solid #D9D9D9 .5pt;mso-border-left-themecolor:background1;
  mso-border-left-themeshade:217;mso-border-alt:solid #D9D9D9 .5pt;mso-border-themecolor:
  background1;mso-border-themeshade:217;background:white;padding:2.15pt .15in 2.15pt .15in;
  height:10.1pt'>
  <p class=Amount><b style='mso-bidi-font-weight:normal'><span
  style='font-family:"Times New Roman","serif"'><o:p><%= @supplier_order.formated_total_vat %></o:p></span></b></p>
  </td>
 </tr>
</table>



<p class=ThankYou><span style='font-family:"Times New Roman","serif"'>Thank you
for your business!<o:p></o:p></span></p>

</div>

</body>

</html>
