
		
		
		<table class="table list" cellspacing="0" cellpadding="0">
						<tr>
							<th class="text-center">STT</th>
							<th>Order.No</th>
							<th>Order.Date</th>
                            <!--<th class="text-left">Cutomer</th>-->
							<th class="text-left">Item</th>
							<th class="text-center">Quantity</th>
							<th class="text-right">Price</th>
							<th class="text-center">Paid</th>
							
							<th class="text-right">Tax</th>
							
							<th class="text-right">Total</th>

						</tr>
						
						<%
						count = 1
						@orders.each do |order| %>
							<% order.order_details.each do |od| %>
                              <% if od.quantity > 0 && !order.is_paid %>
								<tr class="quantity-<%= od.quantity %>">
									<td class="text-center"><%= count %></td>
									<td>
                                      <%= order.printed_order_number %>										
									</td>
									<td>
                                      <%= order.order_date.strftime("%d/%m/%Y") %>
									</td>

                                    <td class="text-left">
                                      <%= od.product.display_name %>
                                    </td>
									<td class="text-center">
										<%= od.quantity %> <%= od.unit %>
									</td>
									<td class="text-right">
										<%= od.formated_total %>
									</td>									
									<td class="text-center">
										<%= od.paid_status %>
									</td>
									<td class="text-right">
										<%= od.vat_amount_formated %>
										<br />
										(<%= order.tax.rate.round(0).to_i.to_s+"%" %>)
									</td>
									<td class="text-center">
										<%= od.total_vat_formated %>
									</td>
									
								</tr>
								<% count += 1 %>
                              <% end %>
							<% end %>
						<% end %>
						
                        <tr>
							<td class="text-center" colspan="9">
								Tổng cộng nợ:
								<strong><%= @total_notpaid %></strong>
							<td>
                        </tr>
						
						
					</table>