                    <table class="table">
						<tr>
							<th class="text-center">STT</th>
							<th>Order</th>
							<th>Delivery</th>
							<th>Item</th>
							<th class="text-center">Quantity</th>
							<th class="text-right">Price</th>
							<th class="text-center">Paid</th>
							<th class="text-right">Tax</th>
							
							<th class="text-center">Staff</th>
							<!--<th class="text-right">Cost</th>-->
							<th class="text-right">Cost Total</th>
							<th class="text-right">Fare</th>
						</tr>
						
						<%
						count = 1
						@statistics[:buy_orders].each do |order| %>
							<% order.order_details.each do |od| %>
								<% if od.quantity > 0 %>
									<tr class="quantity-<%= od.quantity %>">
										<td class="text-center"><%= count %></td>
										<td>
											<%= link_to order.quotation_code, order, class: "fancybox.iframe show_order" %>
											<br />
											[<%= order.printed_order_number %>]
											<br />
											<%= order.supplier.short_name %>
											<br />
											(<%= order.order_date_formatted %>)
										</td>
										<td>										
											<% od.delivery_details.each do |dd| %>
												<%= link_to dd.delivery.created_at.strftime("%Y-%m-%d"), {controller: "deliveries", action: "show", id: dd.delivery.id, :export_ticket => true}, :class => 'fancybox.iframe ajax_iframe' %>
											<% end %>
										</td>
										<td>
											<%= od.product.display_name %>
										</td>
										<td class="text-center">
											<%= od.quantity %> <%= od.unit %>
										</td>
										<td class="text-right">
											<%= od.total_vat_formated %>
										</td>
										<td class="text-center">
											<%= od.paid_status %>
										</td>
										<td class="text-right">
											<%= od.vat_amount_formated %>
											<br />
											(<%= order.tax.rate.round(0).to_i.to_s+"%" %>)
										</td>
										<td class="text-center">
											<%= order.purchase_manager.name %>
										</td>
										<!--<td class="text-right">
											<%= od.cost_vat_formated %>
										</td>-->
										<td class="text-right">
											<%= od.cost_total_vat_formated %>
										</td>
										<td class="text-right">
											<%= od.fare_formated %>
										</td>
									</tr>
									<% count += 1 %>
								<% end %>
							<% end %>
						<% end %>
						
						
					</table>