                    <table class="table table-border">
						<tr>
							<th class="text-center">Order</th>
							
							<th>Item</th>
							
							<th class="text-right">Price</th>
							<th class="text-right">Cost Total</th>
							
							
														
							<th class="text-center">Status</th>
							<th class="text-right">Total(+VAT)</th>
							<th class="text-right">Paid</th>
							<th class="text-right">Remain</th>
							<th class="text-right">Tip</th>
							<% if @paid_date_check && @paid_date_filter.present? %>
								<th class="text-right">
									P.A.D
									<br />
									(<%= @paid_date_filter.to_date.strftime("%Y-%m-%d") %>)
								</th>
							<% end %>
						</tr>
						
						<%
						num = 1
						@orders.each do |order| %>
							<%
								count = order.order_details.where("quantity > 0").count+1
							%>
							
							
									<% order.order_details.where("quantity > 0").each_with_index do |od,index| %>
										<% if od.quantity > 0 %>
											<tr>												
												<% if index == 0 %>
													<td rowspan="<%= count %>" class="text-center">
													<%= num %>
													<br />
														<strong class="finished"><%= order.printed_order_number %></strong>
													<br />
														(<%= order.order_date_formatted %>)
														<br /><%= link_to order.quotation_code, order, class: "fancybox.iframe show_order" %>
														<br /><br />
														<i class="icon-building"></i> <%= order.is_purchase ? order.supplier.short_name : order.customer.short_name %>
													</td>
												<% end %>
												
												
												
												<td>
													<%= od.product.display_name %>
													
																									
													
												</td>
												<td class="text-right">
													<%= format_price(od.total_vat) %>
													<div class="text-right">(<%= od.quantity %> <%= od.unit %>)</div>
												</td>
												<td class="text-right">
													<%= format_price(od.cost_total_vat) %>
													<!--<br />
													Fare:<br /><%= od.fare_formated %>-->
												</td>
												
												
												<% if index == 0 %>												
													<td rowspan="<%= count-1 %>" class="text-center">
														<%= order.display_payment_status %>
														<% if (order.is_debt || order.is_out_of_date) %>
															<%= order.debt_remain_days.to_s+' days' %>
															<br />
															(<%= order.debt_date.to_date if !order.debt_date.nil? %>)
														<% end %>
													</td>
													<td rowspan="<%= count-1 %>" class="text-right">
														<%= format_price(order.total_vat) %>
														<br />
														(<%= order.tax.rate.round(0).to_i.to_s+"%" %>)
													</td>
													<td rowspan="<%= count-1 %>" class="text-right">
														<%= format_price(order.paid_amount) %>
													</td>
													<td rowspan="<%= count-1 %>" class="text-right">
														<%= format_price(order.remain_amount) %>
													</td>
													<td rowspan="<%= count-1 %>" class="text-right">
														<%= format_price(order.tip_amount) %>
														<%= order.display_tip_status %>
													</td>
													<% if @paid_date_check && @paid_date_filter.present? %>
														<td rowspan="<%= count-1 %>" class="text-right">
															<%= format_price(order.payments_by_date(@paid_date_filter.to_date).sum(:amount)) %>
														</td>
													<% end %>
												<% end %>
												
											</tr>
											
										<% end %>
									<% end %>
								<tr style="background: #efefef">
									<td colspan="9">
										Deliveries:
										<% order.deliveries.each do |d| %>
											<% d.delivery_details.each do |dd| %>
												&nbsp;&nbsp;&nbsp;<%= link_to '<i class="icon-print"></i> '.html_safe+dd.delivery.created_at.strftime("%Y-%m-%d"), {controller: "deliveries", action: "show", id: dd.delivery.id, :export_ticket => true}, :class => 'fancybox.iframe ajax_iframe' %>
												
											<% end %>
										<% end %>
									<br />
										Recepts:
										<% order.payment_records.each do |recept| %>
											&nbsp;&nbsp;&nbsp;<%= link_to("<i class=\"icon-print\"></i> ".html_safe+recept.created_at.strftime("%Y-%m-%d"), recept, :class => 'fancybox.iframe ajax_iframe') %>
											
										<% end %>
									</td>
								</tr>
							<% num += 1 %>
						<% end %>
						
						<tr>
							<td class="text-right" colspan="6">
								Tổng cộng:
							</td>
							<td class="text-right">
								<strong class="paid"><%= format_price(@total_paid) %></strong>
							</td>
							<td class="text-right">
								<strong class="debt"><%= format_price(@total_notpaid) %></strong>
							</td>
							<td></td>
                        </tr>
						
						<tr>
							<td class="text-right" colspan="8">
								Tổng cộng TIP:
							</td>
							<td class="text-right">
								<strong class="paid">
									<%= format_price(@total_tip_amount_paid) %>
								</strong><br />
								<strong class="debt">
									<%= format_price(@total_tip_amount_notpaid) %>
								</strong>
							</td>
							<% if @paid_date_check && @paid_date_filter.present? %>
								<td></td>
							<% end %>
                        </tr>
						
						<% if @paid_date_check && @paid_date_filter.present? %>
							<tr>
								<td class="text-right" colspan="9">
									Tổng cộng P.A.D:
								</td>
								<td class="text-right">
									<strong class="paid">
										<%= format_price(@total_PAD_paid) %>
									</strong><br />									
								</td>
							</tr>
						<% end %>
						
						
					</table>