                    <table cellspacing="0" cellpadding="0" class="list table table-border">
						<tr>
							<th class="text-center">STT</th>
							<th>Order</th>
							
							<th>Item</th>
							<th class="text-center">Unit</th>
							<th class="text-right">Price</th>
							<th class="text-right">Total</th>
							<th class="text-right">Total(+VAT)</th>
						</tr>
						
						<%
						num = 1
						@orders.each do |order| %>
							<%
								count = order.order_details.where("quantity > 0").where("price >= " + @min_order_detail_price.to_s).count
							%>
							
							
									<% order.order_details.where("quantity > 0").where("price >= " + @min_order_detail_price.to_s).each_with_index do |od,index| %>
										<% if od.quantity > 0 %>
											<tr>												
												<% if index == 0 %>
													<td rowspan="<%= count %>" class="text-center">
													<%= num %>
													</td>
													<td rowspan="<%= count %>">
														<strong><%= order.printed_order_number %></strong>
														<br />
														(<%= order.order_date_formatted %>)
														
														<br />

														<% if @supplier.nil? && @customer.nil? %>
															<%= order.is_purchase ? order.supplier.name : order.customer.name %>
															<br />
														<% end %>
														
														<%= order.customer_po %>
														
													</td>
													
												<% end %>
												
												
												
												<td style="text-align: left !important">
													<%= od.product.display_name %><br />
													
												</td>
												<td class="text-center">
													<%= od.quantity %><br /><%= od.unit %>
													
												</td>
												<td class="text-right">
													<%= format_price(od.price) %>
												</td>
												<td class="text-right">
													<%= format_price(od.total) %>
												</td>
												<td class="text-right">
													<%= format_price(od.total_vat) %>
												</td>
												
											</tr>
											
										<% end %>
									<% end %>
							<% num += 1 %>
						<% end %>
						
						<tr>
							<td class="text-right" colspan="5">
								Tổng cộng:
							</td>
							<td>
								<strong class="paid"><%= format_price(@total) %></strong>
							</td>
							<td>
								<strong class="paid"><%= format_price(@total_with_vat) %></strong>
							</td>
                        </tr>
						
						
					</table>