                    <table class="table table-border">
						<tr>
							<th class="text-center">STT</th>
							<th>Order</th>
							<th>Delivery</th>
							<th>Item</th>
							
							<th class="text-right">Price</th>
							<th class="text-right">Cost Total</th>
							
							
														
							<th class="text-center">Status</th>
							<th class="text-right">Total(+VAT)</th>
							<th class="text-right">Paid</th>
							<th class="text-right">Remain</th>
						</tr>
						
						<%
						count = 1
						@orders.each do |order| %>
							<%
								count = order.order_details.where("quantity > 0").count
							%>
							
							
									<% order.order_details.where("quantity > 0").each_with_index do |od,index| %>
										<% if od.quantity > 0 %>
											<tr>												
												<% if index == 0 %>
													<td rowspan="<%= count %>" class="text-center"><%= count %></td>
													<td rowspan="<%= count %>">
														<%= link_to order.quotation_code, order, class: "fancybox.iframe show_order" %>
														<br />
														[<%= order.printed_order_number %>]
														<br />
														<%= order.supplier.short_name %>
														<br />
														(<%= order.order_date_formatted %>)
													</td>
													<td rowspan="<%= count %>">										
														<% od.delivery_details.each do |dd| %>
															<%= link_to dd.delivery.created_at.strftime("%Y-%m-%d"), {controller: "deliveries", action: "show", id: dd.delivery.id, :export_ticket => true}, :class => 'fancybox.iframe ajax_iframe' %>
														<% end %>
													</td>
												<% end %>
												
												
												
												<td>
													<%= od.product.display_name %><br />
													(<%= od.quantity %> <%= od.unit %>)
												</td>
												<td class="text-right">
													<%= format_price(od.total_vat) %>
												</td>
												<td class="text-right">
													<%= format_price(od.cost_total) %>
													<br />
													Fare:<br /><%= od.fare_formated %>
												</td>
												
												
												<% if index == 0 %>												
													<td rowspan="<%= count %>" class="text-center">
														<%= order.display_payment_status %>
														<%= order.debt_remain_days.to_s+' days' if (order.is_debt || order.is_out_of_date) %>
														<br />
														(<%= order.debt_date.to_date %>)
													</td>
													<td rowspan="<%= count %>" class="text-right">
														<%= format_price(order.total_vat) %>
														<br />
														Tax:<br />
														<%= format_price(order.vat_amount) %>
														<br />
														(<%= order.tax.rate.round(0).to_i.to_s+"%" %>)
													</td>
													<td rowspan="<%= count %>" class="text-right">
														<%= format_price(order.paid_amount) %>
													</td>
													<td rowspan="<%= count %>" class="text-right">
														<%= format_price(order.remain_amount) %>
													</td>
												<% end %>
												
											</tr>
											<% count += 1 %>
										<% end %>
									<% end %>
						<% end %>
						
						<tr>
							<td class="text-right" colspan="8">
								Tổng cộng:
							</td>
							<td>
								<strong class="paid"><%= @total_paid %></strong>
							</td>
							<td>
								<strong class="debt"><%= @total_notpaid %></strong>
							</td>
                        </tr>
						
						
					</table>