                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>
			<%= link_to 'Accounting', {controller: "accounting", action: "index"} %>
                    </li>
		    
                </ul>
                <div class="page-title">	<i class="icon-folder-open"></i>

                    	<h3>Acounting - <span class="semi-bold"> Statistics</span></h3>	
                </div>
                <div class="row">
                    <div class="col-md-12">
			
			<div class="grid simple ">
			    <div class="grid-body no-border filters" method="get">
				<form id="accounting-statistics-filters-form" action="<%= url_for({controller: "accounting", action: "index"})%>">
				    <div class="row accounting-statistics-filters">
					<div class="col-md-4">
					    <h4>Order Date</h4>
					    <div class="date_select_filter">
						<div class="input-with-icon  right">                                       
						    <%= date_select(:order, :order_date, {include_blank: true, use_two_digit_numbers: true, discard_day: true}) %>
						</div>
					    </div>
					</div>				    
				    </div>
				</form>
			    </div>		    
			</div>
			
			<div class="grid simple ">
			    <div class="grid-title no-border">
                                <h4>Statistics in/on - <span class="semi-bold"><%= @month.to_s+"/" if @month_val.present? %><%= @order.order_date.strftime('%Y') %></span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border statistics-content">
				<div class="row">
				    <div class="col-md-4">
					<h5>Total Sell</h5>
					<h2><%= @statistics[:total_sell] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total Sell + VAT</h5>
					<h2><%= @statistics[:total_sell_with_vat] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total VAT (sell)</h5>
					<h2><%= @statistics[:total_vat_sell] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total Buy</h5>
					<h2><%= @statistics[:total_buy] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total Buy + VAT</h5>
					<h2><%= @statistics[:total_buy_with_vat] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total VAT (Buy)</h5>
					<h2><%= @statistics[:total_vat_buy] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Recieved</h5>
					<h2><%= @statistics[:payment_recieved] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Recieved + VAT</h5>
					<h2><%= @statistics[:payment_recieved_vat] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment VAT (Recieved)</h5>
					<h2><%= @statistics[:payment_vat_recieved] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Paid</h5>
					<h2><%= @statistics[:payment_paid] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Paid + VAT</h5>
					<h2><%= @statistics[:payment_paid_vat] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment VAT (Paid)</h5>
					<h2><%= @statistics[:payment_vat_paid] %></h2>
				    </div>
				</div>
			    </div>
			</div>
			
                    
			
			
			
			<div class="grid simple ">
			    <div class="grid-body no-border filters" method="get">
					<h4>Sales Statistics - <span class="semi-bold"><%= @month.to_s+"/" if @month_val.present? %><%= @order.order_date.strftime('%Y') %></span></h4>
					
					
					<table class="table">
						<tr>
							<th>STT</th>
							<th>Order</th>
							<th>Delivery</th>
							<th>Item</th>
							<th class="text-center">Quantity</th>
							<th class="text-right">Price</th>
							<th class="text-center">Paid</th>
							<th class="text-right">Tax</th>
							
							<th class="text-center">Staff</th>
							<!--<th class="text-right">Cost</th>-->
							<th class="text-right">Cost Total</th>
							<th class="text-right">Fare</th>
						</tr>
						
						<%
						count = 1
						@statistics[:sell_orders].each do |order| %>
							<% order.order_details.each do |od| %>
								<tr>
									<td><%= count %></td>
									<td>
										<%= link_to order.quotation_code, order, class: "fancybox.iframe show_order" %>
										<br />
										<%= order.customer.short_name %>
										<br />
										(<%= order.order_date_formatted %>)
									</td>
									<td>										
										<% od.delivery_details.each do |dd| %>
											<%= link_to dd.delivery.created_at.strftime("%Y-%m-%d"), {controller: "deliveries", action: "show", id: dd.delivery.id, :export_ticket => true}, :class => 'fancybox.iframe ajax_iframe' %>
										<% end %>
									</td>
									<td>
										<%= od.product.display_name %>
									</td>
									<td class="text-center">
										<%= od.quantity %> <%= od.unit %>
									</td>
									<td class="text-right">
										<%= od.total_vat_formated %>
									</td>
									<td class="text-center">
										<%= od.paid_status %>
									</td>
									<td class="text-right">
										<%= od.vat_amount_formated %>
										<br />
										(<%= order.tax.rate.round(0).to_i.to_s+"%" %>)
									</td>
									<td class="text-center">
										<%= order.salesperson.name %>
									</td>
									<!--<td class="text-right">
										<%= od.cost_vat_formated %>
									</td>-->
									<td class="text-right">
										<%= od.cost_total_vat_formated %>
									</td>
									<td class="text-right">
										<%= od.fare_formated %>
									</td>
								</tr>
								<% count += 1 %>
							<% end %>
						<% end %>
						
						
					</table>
				</div>
			</div>
			
			
			
			<div class="grid simple ">
			    <div class="grid-body no-border filters" method="get">
					<h4>Purchase Statistics - <span class="semi-bold"><%= @month.to_s+"/" if @month_val.present? %><%= @order.order_date.strftime('%Y') %></span></h4>
					
					
					<table class="table">
						<tr>
							<th>STT</th>
							<th>Order</th>
							<th>Delivery</th>
							<th>Item</th>
							<th class="text-center">Quantity</th>
							<th class="text-right">Price</th>
							<th class="text-center">Paid</th>
							<th class="text-right">Tax</th>
							
							<th class="text-center">Staff</th>
							<!--<th class="text-right">Cost</th>-->
							<th class="text-right">Cost Total</th>
							<th class="text-right">Fare</th>
						</tr>
						
						<%
						count = 1
						@statistics[:buy_orders].each do |order| %>
							<% order.order_details.each do |od| %>
								<tr>
									<td><%= count %></td>
									<td>
										<%= link_to order.quotation_code, order, class: "fancybox.iframe show_order" %>
										<br />
										<%= order.supplier.short_name %>
										<br />
										(<%= order.order_date_formatted %>)
									</td>
									<td>										
										<% od.delivery_details.each do |dd| %>
											<%= link_to dd.delivery.created_at.strftime("%Y-%m-%d"), {controller: "deliveries", action: "show", id: dd.delivery.id, :export_ticket => true}, :class => 'fancybox.iframe ajax_iframe' %>
										<% end %>
									</td>
									<td>
										<%= od.product.display_name %>
									</td>
									<td class="text-center">
										<%= od.quantity %> <%= od.unit %>
									</td>
									<td class="text-right">
										<%= od.total_vat_formated %>
									</td>
									<td class="text-center">
										<%= od.paid_status %>
									</td>
									<td class="text-right">
										<%= od.vat_amount_formated %>
										<br />
										(<%= order.tax.rate.round(0).to_i.to_s+"%" %>)
									</td>
									<td class="text-center">
										<%= order.salesperson.name %>
									</td>
									<!--<td class="text-right">
										<%= od.cost_vat_formated %>
									</td>-->
									<td class="text-right">
										<%= od.cost_total_vat_formated %>
									</td>
									<td class="text-right">
										<%= od.fare_formated %>
									</td>
								</tr>
								<% count += 1 %>
							<% end %>
						<% end %>
						
						
					</table>
				</div>
			</div>
			
			
			</div>
                </div>

<script>
    $(document).ready(function() {
	<% if @month_val.nil? %>
	    $("#order_order_date_2i").select2("val", "");
	<% end %>
    });
</script>