                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>
			<%= link_to 'Accounting', {controller: "accounting", action: "index"} %>
                    </li>
		    
                </ul>
                <div class="page-title">	<i class="icon-folder-open"></i>

                    	<h3>Acounting - <span class="semi-bold"> Statistics</span></h3>	
                </div>
                <div class="row">
                    <div class="col-md-12">
			
					<div class="grid simple ">
						<div class="grid-body no-border filters" method="get">
						<form id="accounting-statistics-filters-form" action="<%= url_for({controller: "accounting", action: "index"})%>">
							<div class="row accounting-statistics-filters">
								<div class="col-md-4">
									<h4>Order Date</h4>
									<div class="date_select_filter">
									<div class="input-with-icon  right">                                       
										<%= date_select(:order, :order_date, {include_blank: true, use_two_digit_numbers: true, discard_day: true}) %>
									</div>
									</div>
								</div>
								<% if params[:purchase] || ["purchase_orders"].include?(params[:action]) %>
									<div class="col-md-4">
										<h4>Supplier</h4>
										<div class="">
											<div class="input-with-icon  right">                                       
											<i class=""></i>
											<input style="width:100%;margin-bottom: 5px;" name="supplier_id" url="<%= contacts_path(format: "json") %>" class="select2-ajax-suppliers" value="" text="" data-placeholder="All"/>
											</div>
										</div>
									</div>
								<% else %>
									<div class="col-md-4">
										<h4>Customer</h4>
										<div class="">
											<div class="input-with-icon  right">                                       
											<i class=""></i>
											<input style="width:100%;margin-bottom: 5px;" name="customer_id" url="<%= contacts_path(format: "json") %>" class="select2-ajax-customers" value="" text="" data-placeholder="All"/>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</form>
						</div>		    
					</div>
			
			<div class="grid simple ">
			    <div class="grid-title no-border">
                                <h4>Statistics in/on - <span class="semi-bold"><%= @month.to_s+"/" if @month_val.present? %><%= @order.order_date.strftime('%Y') %></span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border statistics-content">
				<div class="row">
				    <div class="col-md-4">
					<h5>Total Sell</h5>
					<h2><%= @statistics[:total_sell] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total Sell + VAT</h5>
					<h2><%= @statistics[:total_sell_with_vat] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total VAT (sell)</h5>
					<h2><%= @statistics[:total_vat_sell] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total Buy</h5>
					<h2><%= @statistics[:total_buy] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total Buy + VAT</h5>
					<h2><%= @statistics[:total_buy_with_vat] %></h2>
				    </div>
				    
				    <div class="col-md-4">
					<h5>Total VAT (Buy)</h5>
					<h2><%= @statistics[:total_vat_buy] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Recieved</h5>
					<h2><%= @statistics[:payment_recieved] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Recieved + VAT</h5>
					<h2><%= @statistics[:payment_recieved_vat] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment VAT (Recieved)</h5>
					<h2><%= @statistics[:payment_vat_recieved] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Paid</h5>
					<h2><%= @statistics[:payment_paid] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment Paid + VAT</h5>
					<h2><%= @statistics[:payment_paid_vat] %></h2>
				    </div>
					
					<div class="col-md-4">
					<h5>Payment VAT (Paid)</h5>
					<h2><%= @statistics[:payment_vat_paid] %></h2>
				    </div>
				</div>
			    </div>
			</div>
			
			
			</div>
                </div>

<script>
    $(document).ready(function() {
	<% if @month_val.nil? %>
	    $("#order_order_date_2i").select2("val", "");
	<% end %>
    });
</script>