<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<style>
  .page * {
    font-family: "Times New Roman";
    font-size: 14px;
  }
  .cominfo p {
    font-size: 12px;
  }
  .cominfo h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 5px;
    margin-top: 0;
  }
  .cominfo img {
    width: 105px !important;
    margin-top: -5px !important;
  }
  .top-info {
    margin-top: 20px;
  }
  .top-info h1 {
    font-size: 26px;
    margin-bottom: 0;
  }
  .top-info h3 {
      font-size: 16px;
      margin-top: 5px;
  }
  .maintitle {
    width: 70%;
    padding-bottom: 20px !important;
  }
  
  .mid label {
        display: block;
        float: left;
        font-weight: 700;
        padding-right: 10px;
        text-align: right;
        width: 100px;
        margin-left: -110px;
    }
    .mid p {
        clear: both;
        padding-left: 110px;
        min-height: 16px;
    }
  
  .middle2 label {
    margin-left: -100px;
    width: 90px;
  }
  .middle2 p {
    padding-left: 100px;
  }
  
  .middle3 label {
    margin-left: -90px;
    width: 80px;
  }
  .middle3 p {
    padding-left: 90px;
  }
  
  .list {
    width: 100%;
    margin-top: 20px;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: none;
    border-right: none;
  }
  .list th {
      background: none repeat scroll 0 0 #EFEFEF;
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      border-top: none;
      border-left: none;
      padding: 5px;
  }
  .list td {
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      border-top: none;
      border-left: none;
      padding: 5px;
      text-align: center;
  }
  .paid-box label {
    display: block;
    float: left;
    height: 20px;
    width: 130px;
  }
  .point2 {
    float: right;
}
table {
    width: 100%;
}
.hidden, .quantity-0 {
    position: absolute;
    bottom: -9000px;
    display: block;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.list * {
    font-size: 12px;
}
.footer * {
  font-size: 12px;
}
</style>


<%
com_title = Contact.HK
%>

<table class="cominfo">
  <tr>
      <td rowspan="2" width="15%">
        <img src="http://hoangkhang.com.vn/images/Logo_HK.png" width="170" style="margin-top: -10px;margin-right: 10px" valign="top" />
      </td>
    <td colspan="2">
      <h2><%= com_title.name %></h2>
    </td>
  </tr>
  <tr>
    <td>
      <p><%= com_title.address %></p>
      
      <p><label>ĐT: </label><%= com_title.phone %> - <label>Fax: </label><%= com_title.fax %> - <label>Hotline: </label><%= com_title.hotline %></p>
      <p><label>STK: </label><%= com_title.account_number %> <%= com_title.bank %></p>
    </td>
    <td class="top-left" valign="top">
      <p><label>MST: </label><%= com_title.tax_code %></p>
      <p><label>Email: </label><%= com_title.email %></p>
      <p><label>Website: </label><%= com_title.website %></p>
    </td>
  </tr>
</table>
<p></p>

<h3 style="margin-bottom: 0; text-align: center">BẢNG ĐỐI CHIẾU CÔNG NỢ - TỪ NGÀY <%= @from_date.strftime("%d/%m/%Y") %> ĐẾN NGÀY <%= @to_date.strftime("%d/%m/%Y") %></h3>
<h4 style="margin-top: 20px; text-align: center"><%= @supplier.name if !@supplier.nil? %></h4>

<%= render 'statistic_table_print' %>



<page></page>