       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Feedback <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @feedback.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h5>
                  
                        <ul>
                        <% @feedback.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@feedback, html: { multipart: true }) do |f| %>
                           <% if !params[:tab_page].nil? %>
                            <%= hidden_field_tag "tab_page", params[:tab_page] %>
						 <% end %>
						 <div class="row column-seperation">
							  <div class="col-md-6">
								   <div class="form-group">
									 <label class="form-label"><%= f.label :title %></label>
									 <span class="help">(required)</span>
									 <div class="input-with-icon  right">                                       
										 <i class=""></i>
										 <%= f.text_field :title, :class => "form-control required" %>
									 </div>
								   </div>                     
								   
								   <div class="form-group">
									 <label class="form-label"><%= f.label :content %></label>
									 <span class="help">(required)</span>
									 <div class="input-with-icon  right">                                       
										 <i class=""></i>
										 <%= f.text_area :content, :class => "form-control required", style: "height: 200px" %>
									 </div>
								   </div>
								   
								   
							  </div>
							  <div class="col-md-6">
								   <div class="form-group">
										<label class="form-label"><%= f.label :image %></label>
										<span class="help">(required)</span>
										<div class="right">                                       
											<i class=""></i>
											<!--<div class="nice"><%= f.file_field :image %></div>-->
											
											 <ul id="sortable" class="image-boxes">
												  
												  <li class="image-box ui-state-default">
													   <div class="img-actions">
															<i class="icon-minus-sign delete-but<% if !@feedback.image.present? %> hidden<% end %>"></i>
													   </div>
													   <a href="#" class="">
															<% if @feedback.image.present? %>
																 <img class="current_img current_image_pic" src="<%= @feedback.avatar(:square2x) %>" />
															<% end %>
															<i class="icon-picture current_img current_image_icon<% if @feedback.image.present? %> hidden<% end %>"></i>
															<img src="" class="new_picture hidden" />										
													   </a>
													   <%= f.file_field :image, :class => "hidden" %>
												  </li>
						  
											 </ul>
											 <br style="clear:both" />
										</div>
									</div>
								   
							  </div>
						 </div>
                      
				  <div class="form-actions">  
					<div class="pull-right">
					  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                      <%= link_to 'Cancel', feedbacks_path(tab_page: 1), :class => "btn btn-white btn-cons" %>
					</div>
					</div>
				<% end %>
                </div>
              </div>
            </div>		
      </div>

