<!--<h1>Editing Worksheet Expense</h1>

<%= render 'form' %>

<%= link_to 'Show', @worksheet_expense %> |
<%= link_to 'Back', worksheet_expenses_path %>
-->

<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Expenses', orders_url, :class => "active" %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3>Edit - <span class="semi-bold">Expense</span></h3>
      </div>
      

	  
<%= render 'form' %>

