<%= form_for(@sales_delivery) do |f| %>
  <% if @sales_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_delivery.errors.count, "error") %> prohibited this sales_delivery from being saved:</h2>

      <ul>
      <% @sales_delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
