                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>Delivery</li>
                </ul>
                <div class="page-title">
                        <i class="icon-archive"></i>
                    	<h3>Storage - <span class="semi-bold"> Sales Delivery</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-12">			
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Order:  <span class="semi-bold"><%= @order.quotation_code %></span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
				    <a href="javascript:;" class="reload"></a>
				    <a href="javascript:;" class="remove"></a>
                                    
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                <%= form_for(@sales_delivery) do |f| %>
				    <%= f.hidden_field :order_id, {value: @order.id} %>
                                    <table class="table table-striped no-more-tables no-filter">
                                        <thead>
                                            <tr>                                                
						<th>Item</th>
						<th class="text-center">Delivered / Quantity</th>
                                                <th class="text-center">Deliver Items</th>
						<th>Serial Numbers</th>
                                                <th class="text-center">Stock</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </thead>
					<tbody>
					    <% @order.order_details.each do |line| %>
						<tr>
						    <td>
							<%= hidden_field_tag "sales_delivery_lines[#{line.id}][order_detail_id]", line.id %>
							<%= line.product_name %>
						    </td>
						    
						    <td class="text-center">
							<%= line.delivered_count %> / <%= line.quantity %>
						    </td>
                                                    
                                                    <td class="text-center">
							<% if line.remain_count > 0 %>
							    <%= select_tag "sales_delivery_lines[#{line.id}][quantity]", options_for_select(line.max_delivery.downto(0)), class: "form-control text-center select2" %>
							<% end %>
						    </td>
						    <td>
							<% if line.remain_count > 0 %>
							    <%= text_area_tag "sales_delivery_lines[#{line.id}][serial_numbers]" %>
							<% end %>
						    <td>
							
						    </td>
						    
						    <td class="text-center">
							<%= line.product.stock %>
						    </td>
						    
						    <td class="text-center">
							<%= line.stock_status.html_safe %>
						    </td>
						</tr>
					    <% end %>
					</tbody>
                                    </table>
				    
				    <div class="text-right">
					<input name="save" type="submit" class="btn btn-primary btn-cons" value="Confirm" />
				    </div>
				    
				<% end %>
                            </div>
                        </div>
			
                    </div>
		    
                </div>
