                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>
			<%= link_to 'Products', products_url %>
                    </li>
		    <li>
			<%= link_to 'Categories', categories_url, :class => "active" %>
                    </li>
                </ul>
                <div class="page-title">	<i class="icon-folder-open"></i>

                    	<h3>Categories - <span class="semi-bold"> Management</span></h3>	
                </div>
                <div class="row">
                    <div class="col-md-12">
			<%= link_to 'New Category', new_category_path, :class => 'btn btn-primary btn-cons' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Categories</span></h4>
                                <div class="tools">
				    
				    <a href="javascript:;" class="collapse"></a>
									<a href="#grid-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
                                </div>
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables">
                                        <thead>
                                            <tr>
                                                <th style="width:1%" >
                                                    <div class="checkbox check-default">
							<input id="checkbox10" type="checkbox" value="1" class="checkall">
							<label for="checkbox10"></label>
						    </div>
                                                </th>
                                                <th style="width:15%">Name</th>
                                                <th style="width:22%">Description</th>
                                                <th style="width:15%">Action</th>
                                                <!--<th style="width:10%">Progress</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
					    <% @categories.each do |category| %>
						<% if category.parent.count == 0 %>
						    <tr>
							<td class="v-align-middle">
							    <div class="checkbox check-default">
								<input id="checkbox<%= category.id %>" type="checkbox" value="<%= category.id %>">
								<label for="checkbox<%= category.id %>"></label>
							    </div>
							</td>
							<td class="v-align-middle"><%= category.name %></td>
							<td class="v-align-middle"><%= category.description %></td>
							
						     
							<td>
							    <%= link_to '<i class="icon-zoom-in"></i>'.html_safe, category, :class => "btn btn-success btn-xs btn-mini tmp_hide" %>
							    <%= link_to '<i class="icon-paste"></i>'.html_safe, edit_category_path(category), :class => "btn btn-info btn-xs btn-mini" %>							
							    <%= link_to 'X', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" %>
							</td>
						    </tr>
						    
						    <% category.children.each do |child_1| %>
							    <tr>
								<td class="v-align-middle">
								    <div class="checkbox check-default">
									<input id="checkbox<%= child_1.id %>" type="checkbox" value="<%= child_1.id %>">
									<label for="checkbox<%= child_1.id %>"></label>
								    </div>
								</td>
								<td class="v-align-middle">----<%= child_1.name %></td>
								<td class="v-align-middle"><%= child_1.description %></td>
								
							     
								<td>
								    <%= link_to '<i class="icon-zoom-in"></i>'.html_safe, child_1, :class => "btn btn-success btn-xs btn-mini tmp_hide" %>
								    <%= link_to '<i class="icon-paste"></i>'.html_safe, edit_category_path(child_1), :class => "btn btn-info btn-xs btn-mini" %>							
								    <%= link_to 'X', child_1, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" %>
								</td>
							    </tr>
							    
							    <% child_1.children.each do |child_2| %>
								    <tr>
									<td class="v-align-middle">
									    <div class="checkbox check-default">
										<input id="checkbox<%= child_2.id %>" type="checkbox" value="<%= child_2.id %>">
										<label for="checkbox<%= child_2.id %>"></label>
									    </div>
									</td>
									<td class="v-align-middle">--------<%= child_2.name %></td>
									<td class="v-align-middle"><%= child_2.description %></td>
									
								     
									<td>
									    <%= link_to '<i class="icon-zoom-in"></i>'.html_safe, child_2, :class => "btn btn-success btn-xs btn-mini tmp_hide" %>
									    <%= link_to '<i class="icon-paste"></i>'.html_safe, edit_category_path(child_2), :class => "btn btn-info btn-xs btn-mini" %>							
									    <%= link_to 'X', child_2, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs btn-mini" %>
									</td>
								    </tr>
							    <% end %>
						    <% end %>
						    
						<% end %>
					    <% end %>
                                            
                                        </tbody>
                                    </table>
                            </div>
                        </div>
			
                    </div>
                </div>
