       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Product <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @product.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h5>
                  
                        <ul>
                        <% @product.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
				<%= form_for(@product) do |f| %>
                                
                        <div class="row column-seperation">
                           
                            <div class="col-md-6">
                           
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :name %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <%= f.text_field :name, :class => "form-control" %>
                                                            </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :product_code %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <%= f.text_field :product_code, :class => "form-control" %>
                                                            </div>
                                  </div>
                                  
                                  
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :categories %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">                                                  
                                                                    <i class=""></i>
                                                                    
                                                                    <select id="" class="modern_select" style="width:100%" name="product[category_ids][]">
                                                                      <option value="">No category</option>
                                                                      <optgroup label="Categories">
                                                                        <% Category.all.each do |category| %>
									   <% if category.children == [] %>
									      <option value="<%= category.id %>" <% if @product.categories.include?(category) %>selected="selected"<% end %>><%= category.name %></option>
									   <% end %>
                                                                        <% end %>
                                                                      </optgroup>
                                                                    </select>
                                                            </div>
                                  </div>
                            
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :manufacturer %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">                                                  
                                                                    <i class=""></i>
                                                                    
                                                                    <select id="" class="modern_select" style="width:100%" name="product[manufacturer_id]">
                                                                      <option value="">No manufacturer</option>
                                                                      <optgroup label="Manufacturers">
                                                                        <% Manufacturer.all.each do |manufacturer| %>
                                                                          <option value="<%= manufacturer.id %>" <% if !@product.manufacturer.nil? && @product.manufacturer.id == manufacturer.id %>selected="selected"<% end %>><%= manufacturer.name %></option>                                                           
                                                                        <% end %>
                                                                      </optgroup>
                                                                    </select>
                                                            </div>
                                  </div>
                            
                            </div>
                            
                            
                            <div class="col-md-6">
			      
				   <div class="form-group">
                                    <label class="form-label"><%= f.label :unit %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <%= f.text_field :unit, :class => "form-control" %>
                                                            </div>
                                  </div>
				   
				   <div class="form-group">
                                    <label class="form-label"><%= f.label :price %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <%= f.text_field :price, :class => "form-control price_input" %>
                                                            </div>
                                  </div>
                              
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :warranty %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <%= f.text_field :warranty, :class => "form-control" %>
                                                            </div>
                                  </div>
                              
                                  
				  
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :description %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <%= f.text_area :description, :class => "form-control" %>
                                                            </div>
                                  </div>
                              
                              
                              
                              
                            </div>
                        </div>
				  <div class="form-actions">  
					<div class="pull-right">
					  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                          <%= link_to 'Cancel', products_path, :class => "btn btn-white btn-cons" %>
					</div>
					</div>
				<% end %>
                </div>
              </div>
            </div>		
      </div>
