       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Product <span class="semi-bold">Details</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>




                <div class="grid-body no-border">


                  <% if @product.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h5>

                        <ul>
                        <% @product.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>




			<%= form_for(@product, url: {action: "do_update_price"}) do |f| %>
                        <% if params[:tab_page] %>
						 <%= hidden_field_tag "tab_page", 1 %>
					<% end %>
                          <%= hidden_field_tag "id", @product.id %>

                        <div class="row column-seperation">

                            <div class="col-md-6">

                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :name %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <strong><%= @product.name %></strong>
                                                            </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :product_code %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <strong><%= @product.product_code %></strong>
                                                            </div>
                                  </div>

				  <div class="form-group">
                                    <label class="form-label"><%= f.label :unit %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <strong><%= @product.unit %></strong>
                                                            </div>
                                  </div>


                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :categories %></label>

                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>

                                                                    <strong><%= @product.category.name %></strong>
                                                            </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :manufacturer %></label>
                                    <span class="help">(required)</span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>

                                                                    <strong><%= @product.manufacturer.name %></strong>
                                                            </div>
                                  </div>

				   <div class="form-group">
						  <label class="form-label"><%= f.label :stock %></label>

						  <div class="input-with-icon  right">
							  <i class=""></i>
							  <strong><%= @product.stock %></strong>
						  </div>
				   </div>

			      </div>


                            <div class="col-md-6">



				   <!--<div class="form-group">
                                    <label class="form-label"><%= f.label :price %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <%= f.text_field :price, :class => "form-control price_input" %>
                                                            </div>
                                  </div>-->

				   <%= fields_for :product_prices do |builder| %>
                              <% if @product.product_price.present? and @product.product_price.updated_at.present? %>
                                    <p>Price is updated at: <strong><%= @product.product_price.updated_at.strftime('%Y-%m-%d') %></strong>, By: <strong><%= @product.product_price.user.name %></strong></p>
                              <% end %>
					<div class="form-group">
					     <label class="form-label"><%= builder.label :price %></label>
					     <span class="help"></span>
					     <div class="input-with-icon  right">
						     <i class=""></i>
						     <%= builder.text_field :price, value: @product.product_price.price, :class => "form-control price_input" %>
					     </div>
					</div>

					<div class="form-group">
					     <label class="form-label"><%= builder.label :supplier_price %></label>
					     <span class="help"></span>
					     <div class="input-with-icon  right">
						     <i class=""></i>
						     <%= builder.text_field :supplier_price, value: @product.product_price.supplier_price, :class => "form-control price_input" %>
					     </div>
					</div>

					<div class="form-group">
					     <label class="form-label"><%= builder.label :suppiler_id %></label>
					     <span class="help"></span>
					     <div class="input-with-icon  right">
						       <i class=""></i>
						       <input style="width:100%;margin-bottom: 5px;" name="product_prices[supplier_id]" data="<%= contacts_path(format: "json") %>" class="select2-ajax-suppliers"  value="<%= @product.product_price.supplier_id if !@product.product_price.nil? %>" text="<%= @product.product_price.supplier.name if !@product.product_price.nil? && !@product.product_price.supplier.nil? %>" />
						       <br />
						       <%= link_to '+', ajax_new_contacts_path(:type_id => ContactType.supplier), :class => 'btn btn-sm btn-small btn-white fancybox.ajax add-agent-button' %>
					     </div>
					</div>
				   <% end %>

                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :warranty %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <strong><%= @product.warranty %></strong>
                                                            </div>
                                  </div>



                                  <div class="form-group">
                                    <label class="form-label"><%= f.label :description %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <strong><%= @product.description %></strong>
                                                            </div>
                                  </div>

				  <div class="form-group">
                                    <label class="form-label"><%= f.label :serial_numbers %></label>
                                    <span class="help"></span>
                                                            <div class="input-with-icon  right">
                                                                    <i class=""></i>
                                                                    <strong><%= @product.serial_numbers %></strong>
                                                            </div>
                                  </div>




                            </div>
                        </div>
				  <div class="form-actions">
					<div class="pull-right">
					  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                                          <%= link_to 'Cancel', products_path, :class => "btn btn-white btn-cons" %>
					</div>
					</div>
				<% end %>
                </div>
              </div>
            </div>
      </div>
