					<meta http-equiv="content-type" content="text/html; charset=utf-8" />
					<style>
						.list * {
							font-size: 12px;
						}
						.text-center {
							text-align: center !important;
						}
						.text-right {
							text-align: right !important;
						}
						.text-left {
							text-align: left !important;
						}
						.list {
							width: 100%;
							margin-top: 20px;
							border-left: 1px solid #000000;
							border-top: 1px solid #000000;
							border-bottom: none;
							border-right: none;
						  }
						  .list th {
							  background: none repeat scroll 0 0 #EFEFEF;
							  border-bottom: 1px solid #000000;
							  border-right: 1px solid #000000;
							  border-top: none;
							  border-left: none;
							  padding: 5px;
						  }
						  .list td {
							  border-bottom: 1px solid #000000;
							  border-right: 1px solid #000000;
							  border-top: none;
							  border-left: none;
							  padding: 5px;
							  text-align: center;
						  }
					</style>
					
					<h2>BẢNG KÊ KHO - <%= @month.to_s+"/" if @month_val.present? %><%= @order.order_date.strftime('%Y') %></h2>
					
					<table cellspacing="0" celpadding="0" class="table datatable-products-statistics-pdf list">
						<thead>
							<tr>
								<th class="text-center" width="1%">STT</th>
								<th class="text-left" width="50%">Name</th>
								<th class="text-center" width="1%">Be.Stock</th>
								<th class="text-center">Purchase</th>
								<th class="text-center">Sales</th>
								<th class="text-center" width="1%">Combi.</th>
								<th class="text-center" width="1%">I/O</th>
								<th class="text-center" width="1%">Af.Stock</th>
							</tr>
						</thead>
						
						<%
						count = 1;
						@products.each do |product| %>
						
							<tbody>
								<tr>
									<th class="text-center"><%= count %></th>
									<td class="text-left" width="50%"><%= product.display_name %></td>
									<td class="text-center"><%= product.statistic_stock("#{@year}-#{@month}-1".to_datetime) %></td>
									<td class="text-center">
										<%= "+" if product.import_count(@year, @month) > 0 %><%= product.import_count(@year, @month) %>
										<br />(<%= product.import_amount_formated(@year, @month) %>)
									</td>
									<td class="text-center">
										<%= "-" if product.export_count(@year, @month) > 0 %><%= product.export_count(@year, @month) %>
										<br />(<%= product.export_amount_formated(@year, @month) %>)
									</td>
									<td class="text-center"><%= product.combination_count_formated(@year, @month) %></td>
									<td class="text-center"><%= "+" if product.stock_update_count(@year, @month) > 0 %><%= product.stock_update_count(@year, @month) %></td>
									<td class="text-center"><%= product.statistic_stock("#{@year}-#{@month}-1".to_datetime.at_beginning_of_month.next_month) %></td>
								</tr>
							</tbody>
						
						<%
							count += 1
						end %>			
						
                    </table>