					<meta http-equiv="content-type" content="text/html; charset=utf-8" />
					<style>
						.list * {
							font-size: 12px;
						}
						.text-center {
							text-align: center !important;
						}
						.text-right {
							text-align: right !important;
						}
						.text-left {
							text-align: left !important;
						}
						.list {
							width: 100%;
							margin-top: 20px;
							border-left: 1px solid #000000;
							border-top: 1px solid #000000;
							border-bottom: none;
							border-right: none;
						  }
						  .list th {
							  background: none repeat scroll 0 0 #EFEFEF;
							  border-bottom: 1px solid #000000;
							  border-right: 1px solid #000000;
							  border-top: none;
							  border-left: none;
							  padding: 5px;
						  }
						  .list td {
							  border-bottom: 1px solid #000000;
							  border-right: 1px solid #000000;
							  border-top: none;
							  border-left: none;
							  padding: 5px;
							  text-align: center;
						  }
					</style>
					
					<h3>BẢNG KÊ KHO - TỪ <%= @from_date.strftime("%d/%m/%Y") %> ĐẾN <%= @to_date.strftime("%d/%m/%Y") %></h3>
					
					<table cellspacing="0" celpadding="0" class="table datatable-products-statistics-pdf list">
						<thead>
							<tr>
								<th class="text-center" width="1%">STT</th>
								<th class="text-left" width="50%">Name</th>
								<th class="text-center" width="1%">Be.Stock</th>
								<th class="text-center">Purchase</th>
								<th class="text-center">Sales</th>
								<th class="text-center" width="1%">Combi.</th>
								<th class="text-center" width="1%">I/O</th>
								<th class="text-center" width="1%">Af.Stock</th>
							</tr>
						</thead>
						<tbody>
							<%
							count = 1;
							@products.each do |product| %>
								<% if params[:remain].nil? || (!params[:remain].nil? && product.statistic_stock(@to_date) > 0) %>
									<tr>
										<th class="text-center"><%= count %></th>
										<td class="text-left" width="50%"><%= product.display_name %></td>
										<td class="text-center"><%= product.statistic_stock(@from_date) %></td>
										<td class="text-center">
											<%= add_sign(product.import_count(@from_date, @to_date)) %>
											<br />(<%= product.import_amount_formated(@from_date, @to_date) %>)
										</td>
										<td class="text-center">
											<%= add_sign(-product.export_count(@from_date, @to_date)) %>
											<br />(<%= product.export_amount_formated(@from_date, @to_date) %>)
										</td>
										<td class="text-center"><%= add_sign(product.combination_count(@from_date, @to_date)) %></td>
										<td class="text-center">
											<%= add_sign(product.stock_update_count(@from_date, @to_date)) %>
										</td>
										<td class="text-center"><%= product.statistic_stock(@to_date) %></td>
									</tr>
								<% end %>
						
							<%
								count += 1
							end %>
						</tbody>
						
                    </table>