                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>
			<%= link_to 'Accounting', {controller: "accounting", action: "index"} %>
                    </li>
		    
                </ul>
                <div class="page-title">	<i class="icon-folder-open"></i>

                    	<h3>Product - <span class="semi-bold"> Statistics</span></h3>	
                </div>
                <div class="row">
                    <div class="col-md-12">
			
					<div class="grid simple ">
						<div class="grid-body no-border filters" method="get">
						<form id="accounting-statistics-filters-form" action="<%= url_for({controller: "products", action: "statistics"})%>">
							<div class="row accounting-statistics-filters">
								<div class="col-md-4">
									<h4>Date</h4>
									<div class="date_select_filter">
									<div class="input-with-icon  right">                                       
										<%= date_select(:order, :order_date, {include_blank: true, use_two_digit_numbers: true, discard_day: true}) %>
									</div>
									</div>
								</div>								
							</div>
						</form>
						</div>		    
					</div>
			
			<%= link_to '<i class="icon-print"></i> Print'.html_safe, statistics_products_url(pdf: 1), :class => 'btn btn-primary btn-cons', target: "_blank" %>
                    
                    
                    <div class="grid simple ">
			    <div class="grid-body no-border filters" method="get">
					<h4>Stock Statistics - <span class="semi-bold"><%= @month.to_s+"/" if @month_val.present? %><%= @order.order_date.strftime('%Y') %></span></h4>
					
					
					<table class="table datatable-products-statistics">
						<thead>
							<tr>
								
								<th>Category</th>
								<th>Manufacturer</th>
								<th>Name</th>
								<th>Be.Stock</th>
								<th>Purchase</th>								
								<th>Sales</th>
								<th>Combination</th>
								<th>I/O</th>
								<th>Af.Stock</th>
							</tr>
						</thead>
						
						
						
					</table>
				</div>
			</div>
                    
                    
			
			</div>
                </div>

<script>
    $(document).ready(function() {
		<% if @month_val.nil? %>
			$("#order_order_date_2i").select2("val", "");
		<% end %>
		
		//Datatable products statistics
	    $('.datatable-products-statistics').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_products_path(page: "statistics", year: params[:year], month: params[:month]) %>",
				"data": function ( d ) {
					d.year = <%= @year %>,
					d.month = <%= @month %>
				}
			},
			"columnDefs": [ { "targets": [3,4,5,6,7,8], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[50, 75, 100], [50, 75, 100]],
			"iDisplayLength": 50
	    });
		
		
    });
</script>