<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Hoàng Khang - ERP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN PLUGIN CSS -->
<%= stylesheet_link_tag "pace-theme-flash.css" %>
<%= stylesheet_link_tag "jquery.sidr.light.css" %>
<%= stylesheet_link_tag "bootstrap-checkbox.css" %>
<%= stylesheet_link_tag "select2.css" %>
<%= stylesheet_link_tag "datepicker.css" %>
<%= stylesheet_link_tag "bootstrap-timepicker.css" %>
<%= stylesheet_link_tag "bootstrap-colorpicker.css" %>
<%= stylesheet_link_tag "bootstrap-checkbox.css" %>
<%= stylesheet_link_tag "ios7-switch.css" %>
<%= stylesheet_link_tag "jquery.sidr.light.css" %>
<%= stylesheet_link_tag "/javascripts/fancybox/jquery.fancybox.css" %>
<%= stylesheet_link_tag "/javascripts/datatable/css/jquery.dataTables.min.css" %>
<!-- END PLUGIN CSS -->

<!-- BEGIN CORE CSS FRAMEWORK -->
<%= stylesheet_link_tag "bootstrap.min.css" %>
<%= stylesheet_link_tag "bootstrap-theme.min.css" %>
<%= stylesheet_link_tag "font-awesome.css" %>
<%= stylesheet_link_tag "animate.min.css" %>
<!-- END CORE CSS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "responsive.css" %>
<%= stylesheet_link_tag "custom-icon-set.css" %>
<!-- END CSS TEMPLATE -->


<!-- END CHAT --> 
<!-- END CONTAINER --> 
		
<!-- BEGIN CORE JS FRAMEWORK-->
<%= javascript_include_tag "jquery-1.8.3.min.js" %>
<%= javascript_include_tag "jquery_ujs.js" %>
<%= javascript_include_tag "jquery-ui-1.10.1.custom.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "breakpoints.js" %>
<%= javascript_include_tag "jquery.unveil.min.js" %>
<!-- END CORE JS FRAMEWORK --> 
<!-- BEGIN PAGE LEVEL JS -->
<%= javascript_include_tag "jquery.sidr.min.js" %>
<%= javascript_include_tag "jqueryblockui.js" %>
<%= javascript_include_tag "bootstrap-datepicker.js" %>
<%= javascript_include_tag "bootstrap-timepicker.min.js" %>
<%= javascript_include_tag "bootstrap-colorpicker.js" %>
<%= javascript_include_tag "jquery.inputmask.min.js" %>
<%= javascript_include_tag "autoNumeric.js" %>
<%= javascript_include_tag "ios7-switch.js" %>
<%= javascript_include_tag "wysihtml5-0.3.0.js" %>
<%= javascript_include_tag "bootstrap-wysihtml5.js" %>
<%= javascript_include_tag "bootstrap-tagsinput.min.js" %>
<%= javascript_include_tag "dropzone.min.js" %>
<%= javascript_include_tag "jquery.animateNumbers.js" %>
<%= javascript_include_tag "pace.min.js" %>
<%= javascript_include_tag "bootstrap-datepicker.js" %>
<%= javascript_include_tag "select2.min.js" %>
<%= javascript_include_tag "jquery.slimscroll.min.js" %>
<%= javascript_include_tag "jquery.bootstrap.wizard.min.js" %>
<%= javascript_include_tag "jquery.validate.min.js" %>
<%= javascript_include_tag "jqueryblockui.js" %>
<%= javascript_include_tag "jquery.sidr.min.js" %>
<%= javascript_include_tag "jquery-sparkline.js" %>
<%= javascript_include_tag "jquery.animateNumbers.js" %>
<%= javascript_include_tag "jquery.filtertable.js" %>
<%= javascript_include_tag "fancybox/jquery.fancybox.js" %>
<%= javascript_include_tag "jquery.number.min.js" %>
<%= javascript_include_tag "jquery.nicefileinput.min.js" %>
<%= javascript_include_tag "/javascripts/datatable/js/jquery.dataTables.min.js" %>
<!-- END PAGE LEVEL PLUGINS -->


 	
<script>
	
	function checkDiscountInput() {
		if($('.discount_percent').val() != "0") {
			$('.discount_amount').addClass("disabled");
			$('.discount_amount').attr("disabled","disabled");
			
			if($('.total_without_vat').length > 0) {
				var total = parseFloat($('.total_without_vat').html().replace(/,/g,""))
				var discount = parseFloat($('.discount_percent').val())
				var discount_amount = total*(discount/100)
				$('.discount_amount').val(discount_amount)
			}
		} else {
			$('.discount_amount').removeClass("disabled");
			$('.discount_amount').removeAttr("disabled");
		}
		
		$('.line_discount').each(function() {
			var d_box = $(this).find('.line_discount_percent');
			var da_box = $(this).find('.line_discount_amount');
			var total_box = $(this).parent().find('.total');
			
			if(d_box.val() != "0") {
				da_box.addClass("disabled");
				da_box.attr("disabled","disabled");
				
				if(total_box.length > 0) {
					var total = parseFloat(total_box.html().replace(/,/g,""))
					var discount = parseFloat(d_box.val())
					var discount_amount = total*(discount/100)
					da_box.val(discount_amount)
				}
			} else {
				da_box.removeClass("disabled");
				da_box.removeAttr("disabled");
			}
		});
		
		total = 0
		$('.line_discount_amount').each(function() {
					var num = parseFloat($(this).val().replace(/,/g,""));
		  total += num
		});
		$('.footer.line1 .discount').html(ReplaceNumberWithDots(total.toFixed(0)));
	}
	
	function update_update_price_form() {
		$('.update-price-form .parent').each(function() {
			var rel = $(this).attr("rel");
			var parent = $(this)
			
			var total_price = 0
			var total_s_price = 0
			$('.update-price-form .child-'+rel).each(function(){
			  var num = 0;
			  var s_num = 0
			  if($(this).find('.price').val() != "") {
				num = parseFloat($(this).find('.price').val());
			  }
			  if($(this).find('.supplier_price').val() != "") {
				s_num = parseFloat($(this).find('.supplier_price').val());
			  }
			  total_price += num;
			  total_s_price += s_num;
			});
			$(this).find('.price').val(total_price);
			$(this).find('.supplier_price').val(total_s_price);
		})
	}
	
	function read_notification() {
		$.ajax({
			url : '<%= read_notification_notifications_url %>',
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{		    
				//update_notification();
			}
		});
	}
	
	function update_notification() {
		$.ajax({
			url : '<%= update_notification_notifications_url %>',
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{		    
				$('.top_notification').html(data);				
				$('.notification_count').html($('<div>').html(data).find('.notification_count').html().trim());
			}
		});
	}
	
    
    function updateDebt_days() {
		date1 = new Date($('#order_order_date').val());
		date2 = new Date($('#order_debt_date').val());
		
		//$.datepicker.formatDate('yy-mm-dd', date);
		
		var oneDay  = 24*60*60*1000;
		var diffDays = (date2.getTime() - date1.getTime())/oneDay;
		
		$('#order_debt_days').val(diffDays);
    }
    
    function updateDebt_date() {	
		date1 = new Date($('#order_order_date').val());
		days = parseInt($('#order_debt_days').val());
		
		if ($('#order_debt_days').val() == "") {
			days = 0;
		}
		
		//$.datepicker.formatDate('yy-mm-dd', date);
		
		var oneDay  = 24*60*60*1000;
		var time = date1.getTime() + (oneDay*days);
		
		$('#order_debt_date').val($.datepicker.formatDate('yy-mm-dd', new Date(time)));
    }
    
    function OrderDataTable(table, url) {
		$(table).dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": url,
				"data": function ( d ) {
					d.payment_status = $('select[name="payment_status"]').val();
					d.delivery_status = $('select[name="delivery_status"]').val();
					d.order_status = $('select[name="order_status"]').val();
					d.customer_id = $('.select2-ajax-customers').val();
					d.supplier_id = $('.select2-ajax-suppliers').val();
					d.year = $('#filter_date_1i').val();
					d.month = $('#filter_date_2i').val();
					d.day = $('#filter_date_3i').val();
				}
			},
			"columnDefs": [ { "targets": [0,1,2,3,4,5,6,7], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[25, 50, 75, 100], [25, 50, 75, 100]],
			"iDisplayLength": 25
			
		});
    }
    
    function ReplaceNumberWithDots(yourNumber) {
	//Seperates the components of the number
	//var n= yourNumber.toString().split(".");
	//Comma-fies the first part
	yourNumber = yourNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	//Combines the two sections
	return yourNumber
    }
    
    function updateOrderPrices()
    {
		//update lines
		$('#product-line-items ul').each(function() {
			quantity = parseFloat($(this).find('.quantity').val().replace(/,/g,""))
			price = parseFloat($(this).find('.price').val().replace(/,/g,""))
			
			total = ReplaceNumberWithDots((quantity*price).toFixed(2));
			
			$(this).find('.total').html(total);
		});
		
		
		var sum = 0;
		$('#product-line-items .total').each(function() {
			sum = sum + parseFloat($(this).html().replace(/,/g,"")) //parseFloat($(this).val());
		});
		
		
		sumvat = ReplaceNumberWithDots((sum*(parseFloat($('select.tax-select option:selected').attr("rel"))/100 + 1)).toFixed(0));
		sum = ReplaceNumberWithDots(sum.toFixed(0));
		$('.product_order_list .footer.line1 .price_total').html(sum);
		$('.product_order_list .footer.line2 .price_total').html(sumvat);

		$('.order_tax_name').html($('select.tax-select option:selected').html());
		
		checkDiscountInput();
    }
    
    function updateOrderAgentFormInfo(customer_id)
    {
		if (customer_id != "") {
			$.ajax(
				{
				url : '<%= ajax_list_agent_contacts_path %>',
				type: "GET",
				data: "id="+customer_id,
				success:function(data, textStatus, jqXHR)
				{		    
					$('.order-form-agent-select .select_inner').html(data);
					$('select[name="order[agent_id]"]').select2();
					if($('.order-form-agent-select select option').length > 1)
					{
						$('.order-form-agent-select').show();
					}
					else
					{
						$('.order-form-agent-select').val("");
						//$('.order-form-agent-select').hide();
					}
					
					$('input[name="order[buyer_name]"]').val("");
				},
				error: function(jqXHR, textStatus, errorThrown)
				{
					alert("error");
				},
			//formatResult: movieFormatResult, // omitted for brevity, see the source of this page
			//formatSelection: movieFormatSelection, // omitted for brevity, see the source of this page
			//dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
			//escapeMarkup: function (m) { return m; }
			});
		}
    }
	
	
	function updateOrderSupplierAgentFormInfo(supplier_id)
    {
		if (supplier_id != "") {
			$.ajax(
				{
				url : '<%= ajax_list_supplier_agent_contacts_path %>',
				type: "GET",
				data: "id="+supplier_id,
				success:function(data, textStatus, jqXHR)
				{		    
					$('.order-form-supplier-agent-select .select_inner').html(data);
					$('select[name="order[supplier_agent_id]"]').select2();
					if($('.order-form-supplier-agent-select select option').length > 1)
					{
						$('.order-form-supplier-agent-select').show();
					}
					else
					{
						$('.order-form-supplier-agent-select').val("");
						//$('.order-form-supplier-agent-select').hide();
					}				
				},
				error: function(jqXHR, textStatus, errorThrown)
				{
					alert("error");
				},
			});
		}
    }
	
      
      function updateOrderCustomerFormInfo(customer_id)
      {
	if (customer_id != "") {
	    $.ajax(
	    {
		url : '<%= ajax_show_contacts_path %>',
		type: "GET",
		data: "id="+customer_id,
		success:function(data, textStatus, jqXHR)
		{
		    $('input[name="order[buyer_company]"]').val(data.name);
		    $('input[name="order[buyer_tax_code]"]').val(data.tax_code);
		    $('input[name="order[buyer_phone]"]').val(data.phone);
		    $('input[name="order[buyer_fax]"]').val(data.fax);
		    $('input[name="order[buyer_address]"]').val(data.address);
		    $('input[name="order[shipping_place]"]').val(data.address);		    
		    $('input[name="order[buyer_email]"]').val(data.email);
		    
		    //$('.order-form-agent-select').show();
		    updateOrderAgentFormInfo(customer_id);
		},
		error: function(jqXHR, textStatus, errorThrown)
		{
			alert("error");
		}
	    });
	}
	else
	{
	    //$('.order-form-agent-select').val("");
	    //$('.order-form-agent-select').hide();
	    $('input[name="order[buyer_company]"]').val("");
	    $('input[name="order[buyer_tax_code]"]').val("");
	    $('input[name="order[buyer_phone]"]').val("");
	    $('input[name="order[buyer_fax]"]').val("");
	    $('input[name="order[buyer_address]"]').val("");
	    $('input[name="order[shipping_place]"]').val("");
	    $('input[name="order[buyer_email]"]').val("");
	}
      }
      
      
      $(document).ready(function() {
  
	////TABLES
	//Too Small for new file - Helps the to tick all options in the table 
	$('table .checkbox input').click( function() {			
		if($(this).is(':checked')){			
			$(this).parent().parent().parent().toggleClass('row_selected');					
		}
		else{	
		$(this).parent().parent().parent().toggleClass('row_selected');		
		}
	});
	// Demo charts - not required 
	$('.customer-sparkline').each(function () {	
		$(this).sparkline('html', { type:$(this).attr("data-sparkline-type"), barColor:$(this).attr("data-sparkline-color") , enableTagOptions: true });	
	});
	
	//Multiselect for all
	$(".multi_select").select2();
	$(".modern_select").select2({
		allowClear: true
	});
	$(".datetime select").select2();
	
	//filter table
	$('table').not('.no-filter').filterTable();
	
	//action for add agent button
	$('#add-agent-button,.add-agent-button').fancybox({
		width: "70%",
		height: "100%",
		autoSize: false,
		ajax: {
		    complete: function(jqXHR, textStatus) {
				$(".ajax_outer .modern_select").select2();
		    }
		}
	});
	
	//submit ajax form
	//callback handler for form submit
	$("#ajax-contact-form").live("submit", function(e)
	{
	    var postData = $(this).serializeArray();
	    var formURL = $(this).attr("action");
	    
	    $(this).find(".btn[type='submit']").addClass("btn-submitting");
	    
	    $.ajax(
	    {
		url : formURL,
		type: "POST",
		data : postData,
		success:function(data, textStatus, jqXHR)
		{
		    if($('<div/>').html(data).find("#ajax-success-result").length)
		    {
		      $.fancybox.close();
		      $('#agents-list').append($('<div/>').html(data).find("#ajax-success-result").html());
		    }
		    else
		    {
		      $('.fancybox-inner').html(data);
		      $('.fancybox-inner').scrollTop(0)
		      $(".ajax_outer .modern_select").select2();
		    }		    
		},
		error: function(jqXHR, textStatus, errorThrown)
		{
		    alert("error");
		}
	    });
	    e.preventDefault(); //STOP default action
	});
	
	//prevent submit while submitting form
	$('.btn-submitting').live("click", function(e){ e.preventDefault(); });
	
	//Delete agent in contact form
	$('#agents-list .agent-line .delete_agent').live("click", function(e) {
	    e.preventDefault(); //STOP default action

	    var del_url = $(this).attr("href");
	    var box = $(this).parents(".agent-line");
	    
	    $.ajax(
	    {
		url : del_url,
		type: "GET",
		success:function(data, textStatus, jqXHR)
		{
			box.fadeOut();	    
		},
		error: function(jqXHR, textStatus, errorThrown)
		{
			alert("error");
		}
	    });	    
	});
		
		
		
		
	    $('input[name="order[customer_id]"]').live("change", function() {
			updateOrderCustomerFormInfo($(this).val());
	    });
		
		
		//updateOrderSupplierAgentFormInfo($('input[name="order[supplier_id]"]').val());
		$('input[name="order[supplier_id]"]').live("change", function() {
			updateOrderCustomerFormInfo($('input[name="order[customer_id]"]').val());
			updateOrderSupplierAgentFormInfo($(this).val());
	    });
	    
	    
	//    if($('.order-form-agent-select select option').length > 1)
	//    {
	//		$('.order-form-agent-select').show();
	//    }
	//    else
	//    {
	//		$('.order-form-agent-select').val("");
	//		$('.order-form-agent-select').hide();
	//    }
	    $('select[name="order[agent_id]"]').live("change", function() {
			if ($(this).val() != "") {
				$('input[name="order[buyer_name]"]').val($(this).find(":selected").text());
			}
			else
			{
				$('input[name="order[buyer_name]"]').val("");
			}
	    });
	    
	    
	    //action for add agent button
	    $('#add-product-order-line-button').fancybox({
		    width: "90%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    $(".ajax_outer .modern_select").select2();
			    //format typping price
			      $('input.price_input').number( true, 0 );
			    $('.select2-ajax-products').select2({
			      placeholder: "Search for a product",
			      minimumInputLength: 1,				  
			      ajax: {
						url: $('.select2-ajax-products').attr("url"),
						dataType: 'json',
						data: function (term, page) { // page is the one-based page number tracked by Select2
						  return {
							q: term, //search term
						  };
						},
						results: function (data, page) {
						  return {results: data};
						}
			      },
			    });
				
				$('.select2-ajax-suppliers').select2({
					placeholder: "Search for a category",
					minimumInputLength: 1,
					ajax: {
					  url: $('.select2-ajax-suppliers').attr("url"),
					  dataType: 'json',
					  data: function (term, page) { // page is the one-based page number tracked by Select2
							return {
								q: term, //search term
							};
						},
						results: function (data, page) {
						  return {results: data};
						}
					},
			    });
			}
		    }
	    });
	    
	    //submit ajax form
	    //callback handler for form submit
	    $("#ajax-order-detail-form").live("submit", function(e)
	    {
		var postData = $(this).serializeArray();
		var formURL = $(this).attr("action");
		
		$(this).find(".btn[type='submit']").addClass("btn-submitting");
		
		$.ajax(
		{
		    url : formURL,
		    type: "POST",
		    data : postData,
		    success:function(data, textStatus, jqXHR)
		    {
				if($('<div/>').html(data).find("#ajax-success-result").length)
				{
					$.fancybox.close();
				  
					var success_box = $('<div/>').html(data).find("#ajax-success-result");
					var saved_id = success_box.find("ul").attr("rel");
					if ($('#product-line-items ul[rel="'+saved_id+'"]').length) {
						$('#product-line-items ul[rel="'+saved_id+'"]').replaceWith(success_box.html());
					}
					else
					{
						$('#product-line-items').append(success_box.html());
					}
					
					$('input.price_input').number( true, 0 );
					$('input.number_input').number( true, 0 );
					
				}
				else
				{
					$('.fancybox-inner').html(data);
					$('.fancybox-inner').scrollTop(0);
					$(".ajax_outer .modern_select").select2();
					$('.select2-ajax-products').select2({
					  placeholder: "Search for a product",
					  minimumInputLength: 1,
					  ajax: {
							url: $('.select2-ajax-products').attr("url"),
							dataType: 'json',
							data: function (term, page) { // page is the one-based page number tracked by Select2
							  return {
								q: term, //search term
							  };
							},
							results: function (data, page) {
							  return {results: data};
							}
					  },
					  initSelection: function (element, callback) {				      
							callback({ id: $('.select2-ajax-products').val, text: $('.select2-ajax-products').attr('text') });
					  }
					});
				}
				
				updateOrderPrices();
				$('.modern_select').select2();

		    },
		    error: function(jqXHR, textStatus, errorThrown)
		    {
			alert("error");
		    }
		});
		e.preventDefault(); //STOP default action
	    });
	    
	    $('.ajax_outer input[name="order_detail[product_id]"]').live("change", function() {
		var product_id = $(this).val();
		if (product_id != "") {
		    $.ajax(
		    {
			url : '<%= ajax_show_products_path(:purchase => params[:purchase]) %>',
			type: "GET",
			data: "id="+product_id,
			success:function(respone, textStatus, jqXHR)
			{
			    //alert(respone.product.id);
			    $('.order_supplier_history').html(respone.order_supplier_history);
			    
			    var data = respone.product;
			    $('.ajax_outer input[name="order_detail[product_name]"]').val(respone.display_name);
			    $('.ajax_outer textarea[name="order_detail[product_description]"]').html(data.description);
			    $('.ajax_outer input[name="order_detail[unit]"]').val(data.unit);
			    $('.ajax_outer input[name="order_detail[supplier_price]"]').val(data.supplier_price);
			    $('.ajax_outer input[name="order_detail[price]"]').val(respone.price);
				$('.ajax_outer input[name="order_detail[product_price_id]"]').val(respone.product_price_id);
			    $('.ajax_outer input[name="order_detail[quantity]"]').val(data.quantity);
			    $('.ajax_outer input[name="order_detail[warranty]"]').val(data.warranty);

			},
			error: function(jqXHR, textStatus, errorThrown)
			{
			      $('.order_supplier_history').html("");
			    $('.ajax_outer input[name="order_detail[product_name]"]').val("");
			    $('.ajax_outer textarea[name="order_detail[product_description]"]').html("");
			    $('.ajax_outer input[name="order_detail[unit]"]').val("");
			    $('.ajax_outer input[name="order_detail[supplier_price]"]').val("");
				$('.ajax_outer input[name="order_detail[price]"]').val("");
			    $('.ajax_outer input[name="order_detail[product_price_id]"]').val("");
			    $('.ajax_outer input[name="order_detail[quantity]"]').val("");
			    $('.ajax_outer input[name="order_detail[warranty]"]').val("");
			}
		    });
		}
		else
		{
		    alert("empty");
		}
	    });
	    
	    //Delete agent in contact form
	    $('#product-line-items .delete_product_order_detail').live("click", function(e) {
			e.preventDefault(); //STOP default action
			var box = $(this).parents("ul[rel="+$(this).attr("rel")+"]");
			var url = $(this).attr("href");
			
			if (box.attr("order_id").trim() == "") {
				box.remove();
				updateOrderPrices();

			} else {			
				$.ajax(
				{
					url : url,
					type: "DELETE",
					success:function(respone, textStatus, jqXHR)
					{
						var success_box = $('<div/>').html(respone).find("#ajax-success-result");
						box.replaceWith(success_box.html());
						box.addClass("hidden");
						updateOrderPrices();

					}
				});
			}
	    });	    
	    
	    
	    var current_line_item_id = 0;
	    $('.edit-order-detail').live("click", function() {
	      current_line_item_id = $(this).parents('ul').attr("rel");
	      //alert(current_line_item_id);
	    });
	    //action for add agent button
	    $('.edit-order-detail').fancybox({
		    width: "90%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    $(".ajax_outer .modern_select").select2();
			    $('input.price_input').number( true, 0 );
			    $('.select2-ajax-products').select2({
			      placeholder: "Search for a product",
			      minimumInputLength: 1,
			      ajax: {
				url: $('.select2-ajax-products').attr("url"),
				dataType: 'json',
				data: function (term, page) { // page is the one-based page number tracked by Select2
				  return {
				    q: term, //search term
				  };
				},
				results: function (data, page) {
				  return {results: data};
				}
			      },
			      initSelection: function (element, callback) {				      
				callback({ id: $('.select2-ajax-products').val, text: $('.select2-ajax-products').attr('text') });
			      }
			    });
			}
		    }
	    });
	    
	    updateOrderPrices();
	    $('select.tax-select').live("change", function(){
			updateOrderPrices();
	    });
	    
	    //format typping price
	    $('input.price_input').number( true, 0 );
	    
	    //show order
	    //action for add agent button
	    $('.ajax_iframe, .show_order').fancybox({
		    width: "80%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    //$(".ajax_outer .modern_select").select2();
			}
		    }
	    });
	    
	    //action for ajax add product button
	    $('.ajax_add_product').fancybox({
		    width: "90%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    $("#ajax-product-form .modern_select").select2();
			    //format typping price
			    $('input.price_input').number( true, 0 );
			    $('.select2-ajax-categories').select2({
					placeholder: "Search for a category",
					minimumInputLength: 1,
					ajax: {
					  url: $('.select2-ajax-categories').attr("url"),
					  dataType: 'json',
					  data: function (term, page) { // page is the one-based page number tracked by Select2
							return {
								q: term, //search term
							};
						},
						results: function (data, page) {
						  return {results: data};
						}
					},
			    });
				
				$('.select2-ajax-suppliers').select2({
					placeholder: "Search for a category",
					minimumInputLength: 1,
					ajax: {
					  url: $('.select2-ajax-suppliers').attr("url"),
					  dataType: 'json',
					  data: function (term, page) { // page is the one-based page number tracked by Select2
							return {
								q: term, //search term
							};
						},
						results: function (data, page) {
						  return {results: data};
						}
					},
			    });
			    
			    $('.select2-ajax-manufacturers').select2({
			      placeholder: "Search for a manufacturer",
			      minimumInputLength: 1,
			      ajax: {
				url: $('.select2-ajax-manufacturers').attr("url"),
				dataType: 'json',
				data: function (term, page) { // page is the one-based page number tracked by Select2
				  return {
				    q: term, //search term
				  };
				},
				results: function (data, page) {
				  return {results: data};
				}
			      },
			    });
			}
		    }
	    });
	    //submit ajax form
	    //callback handler for form submit
	    $("#ajax-product-form").live("submit", function(e)
	    {
		var postData = $(this).serializeArray();
		var formURL = $(this).attr("action");
		
		$(this).find(".btn[type='submit']").addClass("btn-submitting");
		
		$.ajax(
		{
		    url : formURL,
		    type: "POST",
		    data : postData,
		    success:function(data, textStatus, jqXHR)
		    {
			if($('<div/>').html(data).find("#ajax-success-result").length)
			{
			  $.fancybox.close();
			  $('#add-product-order-line-button').trigger("click");
			}
			else
			{
			  $('.fancybox-inner').html(data);
			  $('.fancybox-inner').scrollTop(0);
			  $("#ajax-product-form .modern_select").select2();
			  
			  $('.select2-ajax-categories').select2({
			      placeholder: "Search for a category",
			      minimumInputLength: 1,
			      ajax: {
				url: $('.select2-ajax-categories').attr("url"),
				dataType: 'json',
				data: function (term, page) { // page is the one-based page number tracked by Select2
				  return {
				    q: term, //search term
				  };
				},
				results: function (data, page) {
				  return {results: data};
				}
			      },
			      initSelection: function (element, callback) {				      
				callback({ id: $('.select2-ajax-categories').val, text: $('.select2-ajax-categories').attr('text') });
			      }
			    });
			    
			    $('.select2-ajax-manufacturers').select2({
			      placeholder: "Search for a category",
			      minimumInputLength: 1,
			      ajax: {
				url: $('.select2-ajax-manufacturers').attr("url"),
				dataType: 'json',
				data: function (term, page) { // page is the one-based page number tracked by Select2
				  return {
				    q: term, //search term
				  };
				},
				results: function (data, page) {
				  return {results: data};
				}
			      },
			      initSelection: function (element, callback) {				      
				callback({ id: $('.select2-ajax-manufacturers').val, text: $('.select2-ajax-manufacturers').attr('text') });
			      }
			    });
			}
		    },
		    error: function(jqXHR, textStatus, errorThrown)
		    {
			alert("error");
		    }
		});
		e.preventDefault(); //STOP default action
	    });
	    
	    $('.select2-ajax-products').select2({
			allowClear: true,
	      placeholder: "Search for a product",
	      minimumInputLength: 1,
	      ajax: {
			url: $('.select2-ajax-products').attr("url"),
			dataType: 'json',
			data: function (term, page) { // page is the one-based page number tracked by Select2
			  return {
				q: term, //search term
			  };
			},
			results: function (data, page) {
			  return {results: data};
			}
	      },
			initSelection: function (element, callback) {				      
				  callback({ id: element.val, text: element.attr('text') });
			}
	    });
	    
	    $('.ajax_outer input[name="supplier_order_detail[product_id]"]').live("change", function() {
		var product_id = $(this).val();
		if (product_id != "") {
		    $.ajax(
		    {
			url : '<%= ajax_show_products_path %>',
			type: "GET",
			data: "id="+product_id,
			success:function(respone, textStatus, jqXHR)
			{
			    
			    var data = respone.product;
			    $('.ajax_outer input[name="supplier_order_detail[product_name]"]').val(respone.display_name);
			    $('.ajax_outer textarea[name="supplier_order_detail[product_description]"]').html(data.description);
			    $('.ajax_outer input[name="supplier_order_detail[unit]"]').val(data.unit);
			    $('.ajax_outer input[name="supplier_order_detail[price]"]').val(respone.price);
			    $('.ajax_outer input[name="supplier_order_detail[quantity]"]').val(data.quantity);
			    $('.ajax_outer input[name="supplier_order_detail[warranty]"]').val(data.warranty);

			},
			error: function(jqXHR, textStatus, errorThrown)
			{
			      $('.order_supplier_history').html("");
			    $('.ajax_outer input[name="supplier_order_detail[product_name]"]').val("");
			    $('.ajax_outer textarea[name="supplier_order_detail[product_description]"]').html("");
			    $('.ajax_outer input[name="supplier_order_detail[unit]"]').val("");
			    $('.ajax_outer input[name="supplier_order_detail[price]"]').val("");
			    $('.ajax_outer input[name="supplier_order_detail[quantity]"]').val("");
			    $('.ajax_outer input[name="supplier_order_detail[warranty]"]').val("");
			}
		    });
		}
		else
		{
		    alert("empty");
		}
	    });
	    
	    
	    //NICE FILE INPUT
	    $("input[type=file]").nicefileinput();
	    
	    
	    //Datatable products
	    $('.datatable-products').dataTable( {
		"processing": true,
		"serverSide": true,
		"ajax": {
		    "url": "<%= datatable_products_path %>",
		    "data": function ( d ) {
			d.manufacturers = $("input[name='manufacturers[]']:checked").map(function () {return this.value;}).get().join(","),
			d.category = $("select[name='category']").val()
		    }
		},
		"columnDefs": [ { "targets": [0,6], "orderable": false } ],
		"order": [],
		"aLengthMenu": [[25, 50, 75, 100], [25, 50, 75, 100]],
		"iDisplayLength": 25
	    });
	    
	    $('select[name="DataTables_Table_0_length"]').select2();
	    
	    $("input[name='manufacturers[]']").change(function() {
		$('.datatable-products').dataTable().fnFilter();
	    });
	    $(".filter-manu-clear").click(function() {
		$("input[name='manufacturers[]']").removeAttr("checked");
		$('.datatable-products').dataTable().fnFilter();
	    });
	    $("select[name='category']").change(function() {
		$('.datatable-products').dataTable().fnFilter();
	    });
	    $(".filter-cat-clear").click(function() {
		$("select[name='category']").select2("val","");
		$('.datatable-products').dataTable().fnFilter();
	    });
	    
	    //auto update customer info
	    //$('input[name="order[customer_id]"]').trigger("change");
	    
	    
	    //ajax select2 for contacts
	    $('.select2-ajax-customers').select2({
			placeholder: "Search for a contact",
			minimumInputLength: 1,
			allowClear: true,
			ajax: {
			  url: $('.select2-ajax-customers').attr("url"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: $('.select2-ajax-customers').val(), text: $('.select2-ajax-customers').attr('text') });
			}
	    });
	    
	    //ajax select2 for contacts
	    $('.select2-ajax-suppliers').select2({
		placeholder: "Search for a contact",
		minimumInputLength: 1,
		allowClear: true,
		ajax: {
		  url: $('.select2-ajax-suppliers').attr("url"),
		  dataType: 'json',
		  data: function (term, page) { // page is the one-based page number tracked by Select2
		    return {
		      q: term, //search term
		    };
		  },
		  results: function (data, page) {
		    return {results: data};
		  }
		},
		initSelection: function (element, callback) {				      
		  callback({ id: $('.select2-ajax-suppliers').val, text: $('.select2-ajax-suppliers').attr('text') });
		}
	    });
	    
	    //Datatable products
	    OrderDataTable('.datatable-orders', "<%= datatable_orders_path %>");
	    OrderDataTable('.datatable-purchase-orders', "<%= datatable_orders_path(purchase: 1) %>");
		OrderDataTable('.datatable-accounting-salse-orders', "<%= datatable_orders_path(page: "accounting") %>");
		OrderDataTable('.datatable-accounting-purchase-orders', "<%= datatable_orders_path(page: "accounting", purchase: 1) %>");
		OrderDataTable('.datatable-deliver-salse-orders', "<%= datatable_orders_path(page: "delivery") %>");
		OrderDataTable('.datatable-deliver-purchase-orders', "<%= datatable_orders_path(page: "delivery", purchase: 1) %>");
	    
	    $('.order-filters select, .order-filters input').change(function() {
			$('.datatable-purchase-orders').dataTable().fnFilter();
			$('.datatable-orders').dataTable().fnFilter();
			$('.datatable-accounting-salse-orders').dataTable().fnFilter();
			$('.datatable-accounting-purchase-orders').dataTable().fnFilter();
			$('.datatable-deliver-salse-orders').dataTable().fnFilter();
			$('.datatable-deliver-purchase-orders').dataTable().fnFilter();
	    });
	    
	    $('.dataTables_length select').select2();
	    
	    $('.date_select_filter select').eq(0).select2({
		allowClear: true,
		placeholder: "year"
	    });
	    
	    $('.date_select_filter select').eq(1).select2({
		allowClear: true,
		placeholder: "month"
	    });
	    
	    $('.date_select_filter select').eq(2).select2({
		allowClear: true,
		placeholder: "day"
	    });
	    
	    $('.accounting-statistics-filters select').change(function() {
			$('#accounting-statistics-filters-form').submit();
	    });
		
		$('.accounting-statistics-filters input').change(function() {
			setTimeout("$('#accounting-statistics-filters-form').submit();", 2000);
	    });
	    
	    $('.select2-ajax-users').select2({
		placeholder: "Search for a user",
		minimumInputLength: 1,
		ajax: {
		  url: $('.select2-ajax-users').attr("url"),
		  dataType: 'json',
		  data: function (term, page) { // page is the one-based page number tracked by Select2
		    return {
		      q: term, //search term
		    };
		  },
		  results: function (data, page) {
		    return {results: data};
		  }
		},
	    });
	    
	    
	    updateDebt_days();
	    $('#order_debt_date').change(function() {
		updateDebt_days();
	    });
	    $('#order_debt_days').keyup(function() {
		updateDebt_date();
	    });
	    
	    $('input.number_input').number(true, 0);
		
		
		
		//notification
		update_notification();
		setInterval('update_notification()', 10000);
		$('.notification_button').on("click", function() {
			setTimeout('read_notification()', 5000);
		});
		
		
		//update prices
		$('#product-line-items input').live("keyup", function() {
			updateOrderPrices();
			
		})
		
		$('.combined_product_quantity').change(function() {
			var num = $(this).val();
			$('.part_line').each(function() {
				var stock = parseInt($(this).attr("stock"));
				var quantity = parseInt($(this).attr("quantity"));
				
				var cost = quantity*num
				
				$(this).html(cost);
			});
		});
		
		
		$('.parts_select .select2-ajax-products').change(function() {
			if($(this).val() == "") {
				$(this).parent().find('.destroy_tag').val("1");
			} else {
				$(this).parent().find('.destroy_tag').val("");
			}
		});
		
		//update_update_price_form();
		$('.update-price-form .children input').keyup(function() {
			update_update_price_form();
		});
		
		
		checkDiscountInput();
		$('.discount_percent').live("change",function() {
			checkDiscountInput();
		});
		
		$('.line_discount_percent').live("change",function() {
			checkDiscountInput();
		});
		
	    
      });
</script>
<%= javascript_include_tag "form_validations.js" %>
<%= javascript_include_tag "form_elements.js" %>
<!-- BEGIN CORE TEMPLATE JS -->
<%= javascript_include_tag "core.js" %>
<%= javascript_include_tag "demo.js" %>
<!-- END CORE TEMPLATE JS --> 



<%= csrf_meta_tags %>


<style>
	/* generic table styling */
	

	/* filter-table specific styling */
	td.alt { background-color: #ffc !important; background-color: rgba(255, 255, 0, 0.2) !important; }
</style>







</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
	<div class="header-seperation"> 
		<ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
		 <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
		</ul>
      <!-- BEGIN LOGO -->	
		<a href="<%= url_for("/") %>">
			<!--<img src="<%= url_for("/img") %>/logo.png" class="logo" alt=""  data-src="<%= url_for("/img") %>/logo.png" data-src-retina<%= url_for("/img") %>logo2x.png" width="106" height="21"/>-->
			<span class="logo-text">HK-ERP</span>
		
		</a>
      <!-- END LOGO --> 
      <ul class="nav pull-right notifcation-center">	
        <li class="dropdown" id="header_task_bar"> <a href="<%= url_for("/") %>" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
        <li class="dropdown" id="header_inbox_bar" style="display: none" > <a href="#email" class="dropdown-toggle" > <div class="iconset top-messages"></div>  <span class="badge" id="msgs-badge">2</span> </a></li>
		<li class="dropdown" id="portrait-chat-toggler" style="display:none"> <a href="#sidr" class="chat-menu-toggle"> <div class="iconset top-chat-white "></div> </a> </li>        
      </ul>
      </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
	  <div class="pull-left"> 
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
            <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
        </ul>
        <ul class="nav quick-section" style="display: none">
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-reload"></div>
            </a> </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-tiles"></div>
            </a> </li>
			<li class="m-r-10 input-prepend inside search-form no-boarder">
				<span class="add-on"> <span class="iconset top-search"></span></span>
				 <input name="" type="text"  class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
			</li>
		  </ul>
	  </div>
	 <!-- END TOP NAVIGATION MENU -->
	 <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right"> 
		<div class="chat-toggler notification_button">	
				<a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
					<div class="user-details"> 
						<div class="username">
						    <span class="badge badge-important notification_count"></span> 
							Logged in as <span class="bold">
							<%= current_user.name %>
						      </span>
						</div>						
					</div> 
					<div class="iconset top-down-arrow"></div>
				</a>	
				<div id="notification-list" style="display:none">
					<div style="width:300px" class="top_notification">
						
						
						<% current_user.notification_top.each do |notification| %>
							<div class="notification-messages info" onclick="window.location='<%= notification.url %>'">
									<% if !notification.icon.nil? %>
										<div class="iconholder">
											<i class="<%= notification.icon %>"></i>
										</div>
									<% elsif !notification.sender.nil? %>
										<div class="user-profile">
											<img width="35" height="35" imgd2x.jpg"="" data-src-retina="" data-src="<%= notification.sender.avatar(:thumb) %>" alt="" src="<%= notification.sender.avatar(:thumb) %>">
										</div>
									<% end %>
									<!--<div class="user-profile">
										<img src="<%= url_for("/img") %>/d.jpg"  alt="" data-src="<%= url_for("/img") %>/d.jpg" data-src-retina<%= url_for("/img") %>d2x.jpg" width="35" height="35">
									</div>-->
									<div class="message-wrapper">
										<div class="heading">
											<%= notification.display_title %>
										</div>
										<div class="description">
											<%= notification.display_description %>
										</div>
										<div class="date pull-left">
										<%= time_ago_in_words(notification.created_at) %>
										</div>										
									</div>
									<div class="clearfix"></div>									
							</div>
						<% end %>
						
					</div>				
				</div>
				<div class="profile-pic"> 
					<img src="<%= current_user.avatar(:thumb) %>"  alt="" data-src="<%= current_user.avatar(:thumb) %>" data-src-retina="<%= url_for("/img") %>avatar_small2x.jpg" width="35" height="35" /> 
				</div>       			
			</div>
		 <ul class="nav quick-section ">
			<li class="quicklinks"> 
				<a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">						
					<div class="iconset top-settings-dark "></div> 	
				</a>
				<ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                  <li>
		    <%= link_to 'Edit profile', edit_user_registration_path %>
		  </li>
                  <!--<li>		    
		    <a href="email.html"> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a>
                  </li>-->
                  <li class="divider"></li>                
                  <li>
		    
		    <%= link_to destroy_user_session_path, method: :delete do %>
		      <i class="icon-off"></i>&nbsp;&nbsp;Log Out
		    <% end %>
		    
		   
		  </li>
               </ul>
			</li> 
			<li class="quicklinks" style="display: none"> <span class="h-seperate"></span></li> 
			<li class="quicklinks" style="display: none"> 	
			<a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" ><div class="iconset top-chat-dark "><span class="badge badge-important hide" id="chat-message-count">1</span></div>
			</a> 
				<div class="simple-chat-popup chat-menu-toggle hide" >
					<div class="simple-chat-popup-arrow"></div><div class="simple-chat-popup-inner">
						 <div style="width:100px">
						 <div class="semi-bold">David Nester</div>
						 <div class="message">Hey you there </div>
						</div>
					</div>
				</div>
			</li> 
		</ul>
      </div>
	   <!-- END CHAT TOGGLER -->
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>

<!-- END HEADER --> 
<!-- BEGIN CONTAINER -->
<div class="page-container row"> 
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
   <div class="user-info-wrapper">	
	<div class="profile-wrapper">
		<img src="<%= current_user.avatar(:thumb) %>"  alt="" data-src="<%= current_user.avatar(:thumb) %>" data-src-retina="<%= url_for("/img") %>/avatar2x.jpg" width="69" height="69" />
	</div>
    <div class="user-info">
      <div class="greeting">Welcome</div>
      <div class="username"><%= current_user.first_name %> <span class="semi-bold"><%= current_user.last_name %></span></div>
      <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
    </div>
   </div>
  <!-- END MINI-PROFILE -->
  
  <!-- BEGIN MINI-WIGETS -->

   <!-- END MINI-WIGETS -->
   
   <!-- BEGIN SIDEBAR MENU -->	
    <p class="menu-title">BROWSE <span class="pull-right"><a href="javascript:;"><i class="icon-refresh"></i></a></span></p>
    <ul>
	<% if current_user.has_role? "accountant" %>
	    <li class="start<% if ["accounting"].include?(params[:controller]) %> active open<% end %>">
		<%= link_to orders_url do %>
		  <i class="icon-list-alt"></i>
		  <span class="title" onclick="">Accounting</span>
		  <span class="arrow<% if params[:purchase] != "1" && ["orders"].include?(params[:controller]) && params[:action] != "purchase_orders" %> open<% end %>"></span>
		  <span class="badge badge-important pull-right alert-level1"><%= Notification.accounting_alert %></span>
		<% end %>
		<ul class="sub-menu">
		  <li<% if ["accounting"].include?(params[:controller]) && ["index"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Statistics', "/accountings" %></li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["statistic_sales"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Sales Statistics', {controller: "accounting", action: "statistic_sales"} %></li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["statistic_purchase"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Purchase Statistics', {controller: "accounting", action: "statistic_purchase"} %></li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["orders"].include?(params[:action]) && !params[:purchase] %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.sales_payment_alert %></span>
			<%= link_to 'Sales Orders', "/accountings/orders" %>			
		  </li>
		  <li<% if ["accounting"].include?(params[:controller]) && ["orders"].include?(params[:action]) && params[:purchase] %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.purchase_payment_alert %></span>
			<%= link_to 'Purchase Orders', "/accountings/orders?purchase=1" %>
		  </li>
		</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "salesperson" %>
	    <li class="start<% if params[:purchase] != "1" && ["orders"].include?(params[:controller]) && ["index"].include?(params[:action]) %> active open<% end %>">
		<%= link_to orders_url do %>
		  <i class="icon-signout"></i>
		  <span class="title" onclick="">Sales</span>
		  <span class="arrow<% if params[:purchase] != "1" && ["orders"].include?(params[:controller]) && params[:action] != "purchase_orders" %> open<% end %>"></span>
		  <span class="badge badge-important pull-right alert-level1"><%= Notification.sales_alert %></span>
		<% end %>
		<ul class="sub-menu">
		  <li<% if params[:purchase] != "1" && params[:controller] == "orders" && ["index"].include?(params[:action]) %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.price_confirmed_sales_order_alert %></span>
			<%= link_to 'Customer Orders', orders_url %>
		  </li>	      
		</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "purchase_manager" %>
	    <li class="start<% if ["orders"].include?(params[:controller]) && (params[:purchase] == "1" || ["purchase_orders","pricing_orders"].include?(params[:action])) %> active open<% end %>">
		<%= link_to orders_url do %>
		  <i class="icon-reorder"></i>
		  <span class="title" onclick="">Purchase</span>
		  <span class="arrow<% if params[:purchase] == "1" || ["purchase_orders"].include?(params[:action]) %> open<% end %>"></span>
			<span class="badge badge-important pull-right alert-level1"><%= Notification.purchase_alert %></span>
		<% end %>
		<ul class="sub-menu">
		    
		    <li<% if ["pricing_orders"].include?(params[:action]) %> class="active"<% end %>>
				<span class="badge badge-important pull-right alert-level2"><%= Notification.items_confirmed_sales_order_alert %></span>
				<%= link_to 'Pricing Orders', pricing_orders_orders_url %>
				
		    </li>
		    
		    <li<% if ["orders"].include?(params[:controller]) && (params[:purchase] == "1" || ["purchase_orders"].include?(params[:action])) %> class="active"<% end %>><%= link_to 'Purchase Orders', purchase_orders_orders_path %></li>
		</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role?("storage_manager") || current_user.has_role?("salesperson") || current_user.has_role?("purchase_manager") %>
	    <li class="start<% if ["products", "categories", "manufacturers", "deliveries"].include?(params[:controller]) %> active open<% end %>">
		<%= link_to products_url do %>
		  <i class="icon-archive"></i>
		  <span class="title">Storage</span>
		  <span class="arrow<% if ["products", "categories", "manufacturers"].include?(params[:controller]) %> open<% end %>"></span>
		  <span class="badge badge-important pull-right alert-level1"><%= Notification.delivery_alert if current_user.has_role?('storage_manager') %></span>
		<% end %>
		<ul class="sub-menu">
		    
		    <% if current_user.has_role?("storage_manager") %>
			<li<% if ["deliveries"].include?(params[:controller]) && ["index","show"].include?(params[:action]) && !params[:purchase] %> class="active"<% end %>>
			    <span class="badge badge-important pull-right alert-level2"><%= Notification.sales_delivery_alert %></span>
				<%= link_to 'Sales Delivery', deliveries_url %>
				
			</li>		    
			<li<% if ["deliveries"].include?(params[:controller]) && ["index","show"].include?(params[:action]) && params[:purchase] %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.purchase_delivery_alert %></span>
			    <%= link_to 'Purchase Delivery', deliveries_url(purchase: true) %>
			</li>
		    <% end %>
		    
		    <li<% if ["products"].include?(params[:controller]) && ["index"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Product list', products_url %></li>
		    <li<% if params[:controller] == "categories" %> class="active"<% end %>><%= link_to 'Catgories', categories_url %></li>
		    <li<% if params[:controller] == "manufacturers" %> class="active"<% end %>><%= link_to 'Manufacturers', manufacturers_url %></li>
			<li<% if params[:controller] == "products" && params[:action] == "statistics" %> class="active"<% end %>><%= link_to 'Statistics', statistics_products_url %></li>
		</ul>
	    </li>
	<% end %>
	
	<% if can? :read, Contact %>
	    <li <% if params[:controller] == "contacts" %> class="active open"<% end %>>
	      <%= link_to contacts_url do %>
		<i class="icon-book"></i>
		<span class="title">Address Book</span>
		<span class="arrow<% if params[:controller] == "contacts" %> open<% end %>"></span>
	      <% end %>
	      <ul class="sub-menu">
		<li<% if params[:controller] == "contacts" && params[:type] == ContactType.customer %> class="active"<% end %>><%= link_to 'Customers', contacts_url(:type => ContactType.customer) %></li>
		<li<% if params[:controller] == "contacts" && params[:type] == ContactType.supplier %> class="active"<% end %>><%= link_to 'Suppliers', contacts_url(:type => ContactType.supplier) %></li>
	      </ul>
	    </li>
	<% end %>
	
	<% if can? :read, Checkinout %>
	    <li <% if params[:controller] == "checkinouts" || params[:controller] == "checkinout_requests" %> class="active open"<% end %>>
	      <%= link_to checkinouts_url do %>
		<i class="icon-calendar"></i>
		<span class="title">Attendance</span>
		<span class="arrow<% if params[:controller] == "checkinouts" %> open<% end %>"></span>
	      <% end %>
	      <ul class="sub-menu">
		  <li<% if params[:controller] == "checkinouts" && params[:action] == "index" %> class="active"<% end %>>
		      <%= link_to 'Monthly Attendance Reports', checkinouts_url %>
		  </li>	    	    
		  <li<% if params[:controller] == "checkinout_requests" %> class="active"<% end %>>
		      <%= link_to 'Attendance Requests', checkinout_requests_url %>
		  </li>
		    <% if can? :import, Checkinout %>
			<li<% if params[:controller] == "checkinouts" && params[:action] == "import" %> class="active"<% end %>>
			    <%= link_to 'Import', import_checkinouts_url %>
			</li>
		    <% end %>
	      </ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "admin" %>
	    <li <% if params[:controller] == "users" %> class="active open"<% end %>>
		<%= link_to contacts_url do %>
		  <i class="icon-user"></i>
		  <span class="title">User Management</span>
		  <span class="arrow<% if params[:controller] == "users" %> open<% end %>"></span>
		<% end %>
		<ul class="sub-menu">
		  <li<% if params[:controller] == "users" %> class="active"<% end %>><%= link_to 'Users', users_path %></li>
		</ul>
	    </li>
	<% end %>

      <!--<li class=""> <a href="../frontend/index.html"> <i class="icon-flag"></i>  <span class="title">Frontend</span></a></li>      
      <li class=""> <a href="javascript:;"> <i class="icon-custom-ui"></i> <span class="title">UI Elements</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
		  <li > <a href="typography.html"> Typography </a> </li>
		  <li > <a href="messages_notifications.html"> Messages & Notifications </a> </li>
		   <li > <a href="icons.html">Icons</a> </li>
		   <li > <a href="buttons.html">Buttons</a> </li>		 
          <li > <a href="tabs_accordian.html"> Tabs & Accordions </a> </li>
          <li > <a href="sliders.html">Sliders</a> </li>
          <li > <a href="group_list.html">Group list </a> </li>
        </ul>
      </li>
	  <li class=""> <a href="javascript:;"> <i class="icon-custom-form"></i> <span class="title">Forms</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > <a href="form_elements.html">Form Elements </a> </li>
          <li > <a href="form_validations.html">Form Validations</a> </li>
        </ul>
      </li>
      <li class=""> <a href="javascript:;"> <i class="icon-custom-portlets"></i> <span class="title">Grids</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > <a href="grids_simple.html">Simple Grids</a> </li>
          <li > <a href="grids_draggable.html">Draggable Grids </a> </li>
        </ul>
      </li>
      <li class=""> <a href="javascript:;"> <i class="icon-custom-thumb"></i> <span class="title">Tables</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > <a href="tables.html"> Basic Tables </a> </li>
          <li > <a href="datatables.html"> Data Tables </a> </li>
        </ul>
      </li>
      <li class=""> <a href="javascript:;"> <i class="icon-custom-map"></i> <span class="title">Maps</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > <a href="google_map.html"> Google Maps </a> </li>
          <li > <a href="vector_map.html"> Vector Maps </a> </li>
        </ul>
      </li>
      <li class=""> <a href="charts.html"> <i class="icon-custom-chart"></i> <span class="title">Charts</span> </a> </li>    
      <li class=""> <a href="javascript:;"> <i class="icon-custom-extra"></i> <span class="title">Extra</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > <a href="user-profile.html"> User Profile </a> </li>
          <li > <a href="time_line.html"> Time line </a> </li>
          <li > <a href="support_ticket.html"> Support Ticket </a> </li>
          <li > <a href="gallery.html"> Gallery</a> </li>
		  <li class=""><a href="calender.html"> Calendar</a> </li>
          <li > <a href="search_results.html"> Search Results </a> </li>
          <li > <a href="invoice.html"> Invoice </a> </li>
          <li > <a href="404.html"> 404 Page </a> </li>
          <li > <a href="500.html"> 500 Page </a> </li>
          <li > <a href="blank_template.html"> Blank Page </a> </li>
          <li > <a href="login.html"> Login </a> </li>
          <li > <a href="lockscreen.html"> Lockscreen </a> </li>
        </ul>
      </li>
	  <li class="hidden-lg hidden-md hidden-xs" id="more-widgets" > <a href="javascript:;"> <i class="icon-ellipsis-horizontal"></i></a> 
		  <ul class="sub-menu">
		  	<li class="side-bar-widgets">
			<p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
			<ul class="folders" >
				  <li><a href="#"><div class="status-icon green"></div> My quick tasks </a> </li>
				  <li><a href="#"><div class="status-icon red"></div> To do list </a> </li>
				  <li><a href="#"><div class="status-icon blue"></div> Projects </a> </li>
				  <li class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" id="folder-name"></li>
			</ul>
			<p class="menu-title">PROJECTS </p>
				<div class="status-widget">
					<div class="status-widget-wrapper">
						<div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
						<p>Redesign home page</p>
					</div>
				</div>
				<div class="status-widget">
					<div class="status-widget-wrapper">
						<div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
						<p>Statistical report</p>
					</div>
				</div>
			</li>
		</ul>
	  </li>  -->  
    </ul>
	<div class="side-bar-widgets" style="display:none">
	<p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
	<ul class="folders" >
		  <li><a href="#"><div class="status-icon green"></div> My quick tasks </a> </li>
		  <li><a href="#"><div class="status-icon red"></div> To do list </a> </li>
		  <li><a href="#"><div class="status-icon blue"></div> Projects </a> </li>
		  <li class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" ></li>
	</ul>
	<p class="menu-title">PROJECTS </p>
		<div class="status-widget">
			<div class="status-widget-wrapper">
				<div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
				<p>Redesign home page</p>
			</div>
		</div>
		<div class="status-widget">
			<div class="status-widget-wrapper">
				<div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
				<p>Statistical report</p>
			</div>
		</div>
	</div>
	<a href="#" class="scrollup">Scroll</a>
	<div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  </div>
   <div class="footer-widget">		
	<div class="progress transparent progress-small no-radius no-margin">
		<div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="79%" style="width: 79%;"></div>		
	</div>
	<div class="pull-right">
		<div class="details-status">
		<span class="animate-number" data-value="86" data-animation-duration="560">86</span>%
	</div>	
	<a href="lockscreen.html"><i class="icon-off"></i></a></div>
  </div>
  <!-- END SIDEBAR --> 
  <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                     <h3>Widget Settings</h3>

                </div>
                <div class="modal-body">Widget settings form goes here</div>
            </div>
            <div class="clearfix"></div>
            <div class="content">
	      
	      <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
	      <% if alert %><p class="alert"><%= alert %></p><% end %>
	      
	      <%= yield %> 
	      
	    </div>
            <!-- END PAGE -->
        </div>
 </div>
<!-- BEGIN CHAT --> 
<div id="sidr">
    <div class="chat-window-wrapper">
        <div class="chat-header">
            <div class="pull-left">
                <input type="text" placeholder="search">
            </div>
            <div class="pull-right">
                <a href="#" class="" ><div class="iconset top-settings-dark "></div> </a>
            </div>
        </div>
        <div class="side-widget">
            <div class="side-widget-title">group chats</div>
            <div class="side-widget-content">
                <div id="groups-list">
                    <ul class="groups" >
                        <li><a href="#"><div class="status-icon green"></div>Office work</a></li>
                        <li><a href="#"><div class="status-icon green"></div>Personal vibes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side-widget">
            <div class="side-widget-title">favourites</div>
            <div id="favourites-list">
                <div class="side-widget-content" >
                    <div class="user-details-wrapper active">
                        <div class="user-profile">
                            <img src="<%= url_for("/img") %>/d.jpg"  alt="" data-src="<%= url_for("/img") %>/d.jpg" data-src-retina<%= url_for("/img") %>d2x.jpg" width="35" height="35">
                        </div>
                        <div class="user-details">
                            <div class="user-name">
                                Jane Smith
                            </div>
                            <div class="user-more">
                                Hello you there?
                            </div>
                        </div>
                        <div class="user-details-status-wrapper">
                            <span class="badge badge-important">3</span>
                        </div>
                        <div class="user-details-count-wrapper">
                            <div class="status-icon green"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="user-details-wrapper">
                        <div class="user-profile">
                            <img src="<%= url_for("/img") %>/c.jpg"  alt="" data-src="<%= url_for("/img") %>/c.jpg" data-src-retina<%= url_for("/img") %>c2x.jpg" width="35" height="35">
                        </div>
                        <div class="user-details">
                            <div class="user-name">
                                David Nester
                            </div>
                            <div class="user-more">
                                Busy, Do not disturb
                            </div>
                        </div>
                        <div class="user-details-status-wrapper">
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-details-count-wrapper">
                            <div class="status-icon red"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-widget">
            <div class="side-widget-title">more friends</div>
            <div class="side-widget-content" id="friends-list">
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/d.jpg"  alt="" data-src="<%= url_for("/img") %>/d.jpg" data-src-retina<%= url_for("/img") %>d2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            Jane Smith
                        </div>
                        <div class="user-more">
                            Hello you there?
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">

                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon green"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/h.jpg"  alt="" data-src="<%= url_for("/img") %>/h.jpg" data-src-retina<%= url_for("/img") %>h2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            David Nester
                        </div>
                        <div class="user-more">
                            Busy, Do not disturb
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">
                        <div class="clearfix"></div>
                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon red"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/c.jpg"  alt="" data-src="<%= url_for("/img") %>/c.jpg" data-src-retina<%= url_for("/img") %>c2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            Jane Smith
                        </div>
                        <div class="user-more">
                            Hello you there?
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">

                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon green"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/h.jpg"  alt="" data-src="<%= url_for("/img") %>/h.jpg" data-src-retina<%= url_for("/img") %>h2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            David Nester
                        </div>
                        <div class="user-more">
                            Busy, Do not disturb
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">
                        <div class="clearfix"></div>
                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon red"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>





</body>

</html>