<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Hoàng Khang - ERP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<!-- BEGIN PLUGIN CSS -->
<%= stylesheet_link_tag "pace-theme-flash.css" %>
<%= stylesheet_link_tag "jquery.sidr.light.css" %>
<%= stylesheet_link_tag "bootstrap-checkbox.css" %>
<%= stylesheet_link_tag "select2.css" %>
<%= stylesheet_link_tag "datepicker.css" %>
<%= stylesheet_link_tag "bootstrap-timepicker.css" %>
<%= stylesheet_link_tag "bootstrap-colorpicker.css" %>
<%= stylesheet_link_tag "bootstrap-checkbox.css" %>
<%= stylesheet_link_tag "ios7-switch.css" %>
<%= stylesheet_link_tag "jquery.sidr.light.css" %>
<%= stylesheet_link_tag "/javascripts/fancybox/jquery.fancybox.css" %>
<%= stylesheet_link_tag "/javascripts/datatable/css/jquery.dataTables.min.css" %>
<!-- END PLUGIN CSS -->

<!-- BEGIN CORE CSS FRAMEWORK -->
<%= stylesheet_link_tag "bootstrap.min.css" %>
<%= stylesheet_link_tag "bootstrap-theme.min.css" %>
<%= stylesheet_link_tag "font-awesome.css" %>
<%= stylesheet_link_tag "animate.min.css" %>
<!-- END CORE CSS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<%= stylesheet_link_tag "style.css?v=17" %>
<%= stylesheet_link_tag "responsive.css" %>
<%= stylesheet_link_tag "custom-icon-set.css" %>
<!-- END CSS TEMPLATE -->


<!-- END CHAT --> 
<!-- END CONTAINER --> 
		
<!-- BEGIN CORE JS FRAMEWORK-->
<%= javascript_include_tag "jquery-1.8.3.min.js" %>
<%= javascript_include_tag "jquery_ujs.js" %>
<%= javascript_include_tag "jquery-ui-1.10.1.custom.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "breakpoints.js" %>
<%= javascript_include_tag "jquery.unveil.min.js" %>
<!-- END CORE JS FRAMEWORK --> 
<!-- BEGIN PAGE LEVEL JS -->
<%= javascript_include_tag "jquery.sidr.min.js" %>
<%= javascript_include_tag "jqueryblockui.js" %>
<%= javascript_include_tag "bootstrap-datepicker.js" %>
<%= javascript_include_tag "bootstrap-timepicker.min.js" %>
<%= javascript_include_tag "bootstrap-colorpicker.js" %>
<%= javascript_include_tag "jquery.inputmask.min.js" %>
<%= javascript_include_tag "inputmask/inputmask.js" %>
<%= javascript_include_tag "inputmask/jquery.inputmask.js" %>
<%= javascript_include_tag "inputmask/inputmask.numeric.extensions.js" %>
<%= javascript_include_tag "autoNumeric.js" %>
<%= javascript_include_tag "ios7-switch.js" %>
<%= javascript_include_tag "wysihtml5-0.3.0.js" %>
<%= javascript_include_tag "bootstrap-wysihtml5.js" %>
<%= javascript_include_tag "bootstrap-tagsinput.min.js" %>
<%= javascript_include_tag "dropzone.min.js" %>
<%= javascript_include_tag "jquery.animateNumbers.js" %>
<%= javascript_include_tag "pace.min.js" %>
<%= javascript_include_tag "bootstrap-datepicker.js" %>
<%= javascript_include_tag "select2.min.js" %>
<%= javascript_include_tag "jquery.slimscroll.min.js" %>
<%= javascript_include_tag "jquery.bootstrap.wizard.min.js" %>
<%= javascript_include_tag "jquery.validate.min.js" %>
<%= javascript_include_tag "jqueryblockui.js" %>
<%= javascript_include_tag "jquery.sidr.min.js" %>
<%= javascript_include_tag "jquery-sparkline.js" %>
<%= javascript_include_tag "jquery.animateNumbers.js" %>
<%= javascript_include_tag "jquery.filtertable.js" %>
<%= javascript_include_tag "fancybox/jquery.fancybox.js" %>
<%= javascript_include_tag "jquery.number.min.js" %>
<%= javascript_include_tag "jquery.nicefileinput.min.js" %>
<%= javascript_include_tag "/javascripts/datatable/js/jquery.dataTables.min.js" %>


<!-- END PAGE LEVEL PLUGINS -->

<%= render "layouts/head_script" %>

<script>
	$(document).ready(function() {
		//notification
		update_notification();
		setInterval('update_notification()', 10000);
		$('.notification_button').on("click", function() {
			setTimeout('read_notification()', 5000);
		});
		
		$('#main-tab a[rel="tab1hellowWorld"]').parent().find(".but-del").click(function (e) {
			closeTab("tab1hellowWorld")
		});
		//$('#main-tab a[rel="tab1hellowWorld"]').parent().find(".but-reload").click(function (e) {
		//	reloadTab("tab1hellowWorld")
		//});
		
		//$(document).on("click","'.page-sidebar ul li ul.sub-menu li a'",function() {
		//	$('#main-menu-toggle').trigger("click");
		//});
	});
</script>

<%= javascript_include_tag "form_validations.js" %>
<%= javascript_include_tag "form_elements.js" %>
<!-- BEGIN CORE TEMPLATE JS -->
<%= javascript_include_tag "core.js" %>
<%= javascript_include_tag "demo.js" %>
<!-- END CORE TEMPLATE JS --> 



<%= csrf_meta_tags %>


<style>
	/* generic table styling */
	

	/* filter-table specific styling */
	td.alt { background-color: #ffc !important; background-color: rgba(255, 255, 0, 0.2) !important; }
</style>






<%= javascript_include_tag "jquery.form.js" %>

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="main-frame-page">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
	<div class="header-seperation"> 
		<ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
		 <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
		</ul>
      <!-- BEGIN LOGO -->	
		<a href="<%= url_for("/") %>">
			<!--<img src="<%= url_for("/img") %>/logo.png" class="logo" alt=""  data-src="<%= url_for("/img") %>/logo.png" data-src-retina<%= url_for("/img") %>logo2x.png" width="106" height="21"/>-->
			<span class="logo-text">HK-ERP</span>
		
		</a>
      <!-- END LOGO --> 
      <ul class="nav pull-right notifcation-center">	
        <li class="dropdown" id="header_task_bar"> <a href="<%= url_for("/") %>" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
        <li class="dropdown" id="header_inbox_bar" style="display: none" > <a href="#email" class="dropdown-toggle" > <div class="iconset top-messages"></div>  <span class="badge" id="msgs-badge">2</span> </a></li>
		<li class="dropdown" id="portrait-chat-toggler" style="display:none"> <a href="#sidr" class="chat-menu-toggle"> <div class="iconset top-chat-white "></div> </a> </li>        
      </ul>
      </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
	  <div class="pull-left"> 
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
            <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
        </ul>
        <ul class="nav quick-section" style="display: none">
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-reload"></div>
            </a> </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-tiles"></div>
            </a> </li>
			<li class="m-r-10 input-prepend inside search-form no-boarder">
				<span class="add-on"> <span class="iconset top-search"></span></span>
				 <input name="" type="text"  class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
			</li>
		  </ul>
	  </div>
	 <!-- END TOP NAVIGATION MENU -->
	 <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right"> 
		<div class="chat-toggler notification_button">	
				<a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
					<div class="user-details"> 
						<div class="username">
						    <span class="badge badge-important notification_count"></span> 
							Logged in as <span class="bold">
							<%= current_user.short_name %>
						      </span>
						</div>						
					</div> 
					<div class="iconset top-down-arrow"></div>
				</a>	
				<div id="notification-list" style="display:none">
					<div style="width:300px" class="top_notification">
						
						
						<% current_user.notification_top.each do |notification| %>
							<div class="notification-messages info" onclick="window.location='<%= notification.url %>'">
									<% if !notification.icon.nil? %>
										<div class="iconholder">
											<i class="<%= notification.icon %>"></i>
										</div>
									<% elsif !notification.sender.nil? %>
										<div class="user-profile">
											<img width="35" height="35" data-src-retina="<%= notification.sender.avatar(:square2x) %>" data-src="<%= notification.sender.avatar(:square) %>" alt="" src="<%= notification.sender.avatar(:square) %>">
										</div>
									<% end %>
									<!--<div class="user-profile">
										<img src="<%= url_for("/img") %>/d.jpg"  alt="" data-src="<%= url_for("/img") %>/d.jpg" data-src-retina<%= url_for("/img") %>d2x.jpg" width="35" height="35">
									</div>-->
									<div class="message-wrapper">
										<div class="heading">
											<%= notification.display_title %>
										</div>
										<div class="description">
											<%= notification.display_description %>
										</div>
										<div class="date pull-left">
										<%= time_ago_in_words(notification.created_at) %>
										</div>										
									</div>
									<div class="clearfix"></div>									
							</div>
						<% end %>
						
					</div>				
				</div>
				<div class="profile-pic"> 
					<img src="<%= current_user.avatar(:square) %>"  alt="" data-src="<%= current_user.avatar(:square2x) %>" data-src-retina="<%= current_user.avatar(:square2x) %>" width="35" height="35" /> 
				</div>       			
			</div>
		 <ul class="nav quick-section ">
			<li class="quicklinks">
				<a class="feedback-top tab_page" href="<%= feedbacks_path(tab_page: 1) %>" title="Feedback">
					<i class="icon-smile"></i>
				</a>
			</li>
			<li class="quicklinks"> 
				<a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">						
					<div class="iconset top-settings-dark "></div> 	
				</a>
				<ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
					<li>
						<%= link_to 'Edit profile', edit_user_registration_path(tab_page: 1), class: "tab_page", title: "Edit Profile" %>
					</li>
					<li>
						<%= link_to 'Activity Logs', activity_log_users_url(tab_page: 1), class: "tab_page", title: "Activity Logs" %>
					</li>
                  <!--<li>		    
					<a href="email.html"> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a>
                  </li>-->
                  <li class="divider"></li>                
                  <li>
		    
		    <%= link_to destroy_user_session_path, method: :delete do %>
		      <i class="icon-off"></i>&nbsp;&nbsp;Log Out
		    <% end %>
		    
		   
		  </li>
               </ul>
			</li> 
			<li class="quicklinks" style="display: none"> <span class="h-seperate"></span></li> 
			<li class="quicklinks" style="display: none"> 	
			<a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" ><div class="iconset top-chat-dark "><span class="badge badge-important hide" id="chat-message-count">1</span></div>
			</a> 
				<div class="simple-chat-popup chat-menu-toggle hide" >
					<div class="simple-chat-popup-arrow"></div><div class="simple-chat-popup-inner">
						 <div style="width:100px">
						 <div class="semi-bold">David Nester</div>
						 <div class="message">Hey you there </div>
						</div>
					</div>
				</div>
			</li> 
		</ul>
      </div>
	   <!-- END CHAT TOGGLER -->
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>

<!-- END HEADER --> 
<!-- BEGIN CONTAINER -->
<div class="page-container row"> 
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
   <div class="user-info-wrapper">	
	<div class="profile-wrapper">
		<img src="<%= current_user.avatar(:square) %>"  alt="" data-src="<%= current_user.avatar(:square) %>" data-src-retina="<%= current_user.avatar(:square2x) %>" width="69" height="69" />
	</div>
    <div class="user-info">
      <div class="greeting" style="font-weight: normal">Welcome</div>
      <div class="username"><span class="semi-bold"><%= current_user.short_name %></span></div>
      <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
    </div>
   </div>
  <!-- END MINI-PROFILE -->
  
  <!-- BEGIN MINI-WIGETS -->

   <!-- END MINI-WIGETS -->
   
   <!-- BEGIN SIDEBAR MENU -->	
    <p class="menu-title">BROWSE <span class="pull-right"><a href="javascript:;"><i class="icon-refresh"></i></a></span></p>
    <ul>
	<% if current_user.has_role? "accountant" %>
	    <li class="start<% if ["accounting","payment_records"].include?(params[:controller]) %> active open<% end %>">
		<%= link_to orders_url do %>
		  <i class="icon-list-alt"></i>
		  <span class="title" onclick="">Accounting</span>
		  <span class="arrow<% if params[:purchase] != "1" && ["orders"].include?(params[:controller]) && params[:action] != "purchase_orders" %> open<% end %>"></span>
		  <span class="badge badge-important pull-right alert-level1"><%= Notification.accounting_alert %></span>
		<% end %>
		<ul class="sub-menu">
		  <li<% if ["accounting"].include?(params[:controller]) && ["index"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Statistics', "/accountings?tab_page=1", class: "tab_page" %></li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["statistic_sales"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Sales Statistics', "/accounting/statistic_sales?tab_page=1", class: "tab_page" %></li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["statistic_purchase"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Purchase Statistics', "/accounting/statistic_purchase?tab_page=1", class: "tab_page" %></li>
		  
		  <li<% if ["payment_records"].include?(params[:controller]) && ["statistics"].include?(params[:action]) %> class="active"<% end %>>
			<%= link_to 'Pay/Recieve Statistics', statistics_payment_records_path(tab_page: 1), class: "tab_page" %>			
		  </li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["statistic_stock"].include?(params[:action]) %> class="active"<% end %>>
			<%= link_to 'Stock Statistics', "accounting/statistic_stock?tab_page=1", class: "tab_page" %>			
		  </li>
		  
		  <li<% if ["accounting"].include?(params[:controller]) && ["orders"].include?(params[:action]) && !params[:purchase] %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.sales_payment_alert %></span>
			<%= link_to 'Sales Orders', "/accountings/orders?tab_page=1", class: "tab_page" %>			
		  </li>
		  <li<% if ["accounting"].include?(params[:controller]) && ["orders"].include?(params[:action]) && params[:purchase] %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.purchase_payment_alert %></span>
			<%= link_to 'Purchase Orders', "/accountings/orders?purchase=1&tab_page=1", class: "tab_page" %>
		  </li>
		  
		  <li<% if ["payment_records"].include?(params[:controller]) && ["custom_payments"].include?(params[:action]) %> class="active"<% end %>>
			<%= link_to 'Custom Pay/Recieve', custom_payments_payment_records_path(tab_page: 1), class: "tab_page" %>			
		  </li>
		</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "salesperson" %>
	    <li class="start<% if params[:purchase] != "1" && ["orders"].include?(params[:controller]) && ["index"].include?(params[:action]) %> active open<% end %>">
		<%= link_to orders_url do %>
		  <i class="icon-signout"></i>
		  <span class="title" onclick="">Sales</span>
		  <span class="arrow<% if params[:purchase] != "1" && ["orders"].include?(params[:controller]) && params[:action] != "purchase_orders" %> open<% end %>"></span>
		  <span class="badge badge-important pull-right alert-level1"><%= Notification.sales_alert(current_user) %></span>
		<% end %>
		<ul class="sub-menu">
		  <li<% if params[:purchase] != "1" && params[:controller] == "orders" && ["index"].include?(params[:action]) %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.price_confirmed_sales_order_alert(current_user) %></span>
			<%= link_to 'Customer Orders', orders_url(tab_page: 1), class: "tab_page" %>
		  </li>	      
		</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "purchaser" %>
	    <li class="start<% if ["orders"].include?(params[:controller]) && (params[:purchase] == "1" || ["purchase_orders","pricing_orders"].include?(params[:action])) %> active open<% end %>">
		<%= link_to orders_url do %>
		  <i class="icon-reorder"></i>
		  <span class="title" onclick="">Purchase</span>
		  <span class="arrow<% if params[:purchase] == "1" || ["purchase_orders"].include?(params[:action]) %> open<% end %>"></span>
			<span class="badge badge-important pull-right alert-level1"><%= Notification.purchase_alert %></span>
		<% end %>
		<ul class="sub-menu">
		    
		    <li<% if ["pricing_orders"].include?(params[:action]) %> class="active"<% end %>>
				<span class="badge badge-important pull-right alert-level2"><%= Notification.items_confirmed_sales_order_alert %></span>
				<%= link_to 'Pricing Orders', pricing_orders_orders_url(tab_page:1), class: "tab_page" %>
				
		    </li>
		    
		    <li<% if ["orders"].include?(params[:controller]) && (params[:purchase] == "1" || ["purchase_orders"].include?(params[:action])) %> class="active"<% end %>><%= link_to 'Supplier Orders', purchase_orders_orders_path(tab_page:1), class: "tab_page" %></li>
		</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role?("storage_manager") || current_user.has_role?("salesperson") || current_user.has_role?("purchaser") %>
	    <li class="start<% if ["products", "categories", "manufacturers", "deliveries"].include?(params[:controller]) %> active open<% end %>">
		<%= link_to products_url do %>
		  <i class="icon-archive"></i>
		  <span class="title">Storage</span>
		  <span class="arrow<% if ["products", "categories", "manufacturers"].include?(params[:controller]) %> open<% end %>"></span>
		  <span class="badge badge-important pull-right alert-level1"><%= Notification.delivery_alert if current_user.has_role?('storage_manager') %></span>
		<% end %>
		<ul class="sub-menu">
		    
		    <% if current_user.has_role?("storage_manager") %>
			<li<% if ["deliveries"].include?(params[:controller]) && ["index","show"].include?(params[:action]) && !params[:purchase] %> class="active"<% end %>>
			    <span class="badge badge-important pull-right alert-level2"><%= Notification.sales_delivery_alert %></span>
				<%= link_to 'Sales Deliveries', deliveries_url(tab_page:1), class: "tab_page" %>
				
			</li>		    
			<li<% if ["deliveries"].include?(params[:controller]) && ["index","show"].include?(params[:action]) && params[:purchase] %> class="active"<% end %>>
			<span class="badge badge-important pull-right alert-level2"><%= Notification.purchase_delivery_alert %></span>
			    <%= link_to 'Purchase Deliveries', deliveries_url(purchase: true, tab_page:1), class: "tab_page" %>
			</li>
		    <% end %>
		    
		    <li<% if ["products"].include?(params[:controller]) && ["index"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Product list', products_url(tab_page: 1), class: "tab_page" %></li>
			<% if can? :warranty_check, Product %>
				<li<% if ["products"].include?(params[:controller]) && ["warranty_check"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Warranty Check', warranty_check_products_url(tab_page: 1), class: "tab_page" %></li>
			<% end %>
		    <li<% if params[:controller] == "categories" %> class="active"<% end %>><%= link_to 'Catgories', categories_url(tab_page:1), class: "tab_page" %></li>
		    <li<% if params[:controller] == "manufacturers" %> class="active"<% end %>><%= link_to 'Manufacturers', manufacturers_url(tab_page:1), class: "tab_page" %></li>
			<% if can? :statistics, Product %>
				<li<% if params[:controller] == "products" && params[:action] == "statistics" %> class="active"<% end %>><%= link_to 'Statistics', statistics_products_url(tab_page:1), class: "tab_page" %></li>
			<% end %>
		</ul>
	    </li>
	<% end %>
	
	<% if can? :read, Contact %>
	    <li <% if params[:controller] == "contacts" %> class="active open"<% end %>>
	      <%= link_to contacts_url do %>
		<i class="icon-book"></i>
		<span class="title">Address Book</span>
		<span class="arrow<% if params[:controller] == "contacts" %> open<% end %>"></span>
	      <% end %>
	      <ul class="sub-menu">
			<li<% if params[:controller] == "contacts" %> class="active"<% end %>><%= link_to 'Contacts', contacts_url(tab_page:1), class: "tab_page" %></li>
			
	      </ul>
	    </li>
	<% end %>
	
	<% if can? :view_attendance, Checkinout %>
	    <li <% if params[:controller] == "checkinouts" || params[:controller] == "checkinout_requests" %> class="active open"<% end %>>
	      <%= link_to checkinouts_url do %>
		<i class="icon-calendar"></i>
		<span class="title">Attendance</span>
		<span class="arrow<% if params[:controller] == "checkinouts" %> open<% end %>"></span>
	      <% end %>
	      <ul class="sub-menu">
		  <li<% if params[:controller] == "checkinouts" && params[:action] == "index" %> class="active"<% end %>>
		      <%= link_to 'Monthly Attendance Reports', checkinouts_url(tab_page:1), class: "tab_page" %>
		  </li>	    	    
		  <li<% if params[:controller] == "checkinout_requests" %> class="active"<% end %>>
		      <%= link_to 'Attendance Requests', checkinout_requests_url(tab_page:1), class: "tab_page" %>
		  </li>
		    <% if can? :import, Checkinout %>
			<li<% if params[:controller] == "checkinouts" && params[:action] == "import" %> class="active"<% end %>>
			    <%= link_to 'Import', import_checkinouts_url(tab_page:1), class: "tab_page" %>
			</li>
		    <% end %>
	      </ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "user" %>
	    <li <% if params[:controller] == "commission_programs" %> class="active open"<% end %>>
				<%= link_to contacts_url do %>
				  <i class="icon-money"></i>
				  <span class="title">Commission</span>
				  <span class="arrow<% if params[:controller] == "users" %> open<% end %>"></span>
				<% end %>
				<ul class="sub-menu">
					<li<% if params[:controller] == "commission_programs" && params[:action] == "statistics" %> class="active"<% end %>>
						<%= link_to 'Statistics', statistics_commission_programs_path(tab_page:1), class: "tab_page" %>
					</li>
					<% if can? :create, CommissionProgram %>
						<li<% if params[:controller] == "commission_programs" && params[:action] == "index" %> class="active"<% end %>>
							<%= link_to 'Programs', commission_programs_path(tab_page:1), class: "tab_page" %>
						</li>
					<% end %>
				  
				</ul>
	    </li>
	<% end %>
	
	<% if current_user.has_role? "admin" %>
		<li <% if params[:controller] == "worksheets" %> class="active open"<% end %>>
			<%= link_to worksheets_url do %>
			  <i class="icon-car"></i>
			  <span class="title">Worksheet</span>
			  <span class="arrow<% if params[:controller] == "worksheets" %> open<% end %>"></span>
			<% end %>
			<ul class="sub-menu">
			  <li<% if params[:controller] == "worksheets" && params[:action] == "index" %> class="active"<% end %>><%= link_to 'Worksheet Management', worksheets_path(tab_page:1), class: "tab_page" %></li>
			  <li<% if params[:controller] == "worksheet_expenses" && params[:action] == "index" %> class="active"<% end %>><%= link_to 'Worksheet Expense', worksheet_expenses_path(tab_page:1), class: "tab_page" %></li>
			</ul>
	    </li>
		
	    <li <% if params[:controller] == "users" %> class="active open"<% end %>>
			<%= link_to contacts_url do %>
			  <i class="icon-cogs"></i>
			  <span class="title">System</span>
			  <span class="arrow<% if params[:controller] == "users" %> open<% end %>"></span>
			<% end %>
			<ul class="sub-menu">
			  <li<% if params[:controller] == "users" && params[:action] == "index" %> class="active"<% end %>><%= link_to 'Users', users_path(tab_page:1), class: "tab_page" %></li>
			  <li<% if ["backup"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Backup', "/admin/users/backup?tab_page=1", class: "tab_page" %></li>
			  <li<% if ["restore"].include?(params[:action]) %> class="active"<% end %>><%= link_to 'Restore', "/admin/users/restore?tab_page=1", class: "tab_page" %></li>
			</ul>
	    </li>
	<% end %>
	
    </ul>
	<div class="side-bar-widgets" style="display:none">
	<p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
	<ul class="folders" >
		  <li><a href="#"><div class="status-icon green"></div> My quick tasks </a> </li>
		  <li><a href="#"><div class="status-icon red"></div> To do list </a> </li>
		  <li><a href="#"><div class="status-icon blue"></div> Projects </a> </li>
		  <li class="folder-input" style="display:none"><input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" ></li>
	</ul>
	<p class="menu-title">PROJECTS </p>
		<div class="status-widget">
			<div class="status-widget-wrapper">
				<div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
				<p>Redesign home page</p>
			</div>
		</div>
		<div class="status-widget">
			<div class="status-widget-wrapper">
				<div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
				<p>Statistical report</p>
			</div>
		</div>
	</div>
	<a href="#" class="scrollup">Scroll</a>
	<div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  </div>
   <div class="footer-widget">		
	<div class="progress transparent progress-small no-radius no-margin">
		<div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="79%" style="width: 79%;"></div>		
	</div>
	<div class="pull-right">
		<div class="details-status">
		<span class="animate-number" data-value="86" data-animation-duration="560">86</span>%
	</div>	
	<a href="lockscreen.html"><i class="icon-off"></i></a></div>
  </div>
  <!-- END SIDEBAR --> 
  <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="portlet-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                     <h3>Widget Settings</h3>

                </div>
                <div class="modal-body">Widget settings form goes here</div>
            </div>
            <div class="clearfix"></div>
            <div class="content">
	      
	      
	      
		  
		  <ul class="nav nav-tabs" id="main-tab">
            <li class="active">
				
				<a style="min-width: auto" href="#tab1hellowWorld" rel="tab1hellowWorld">
					<i class="icon-home" style="display: inline-block;
    font-size: 20px;"></i>
					<i style="" class="but but-del icon-remove-sign"></i>
					<!--<i class="but but-reload icon-refresh"></i>-->
				</a>
			</li>
            
            
          </ul>
          <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1hellowWorld" style="padding: 19px !important">
				<% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
				<% if alert %><p class="alert"><%= alert %></p><% end %>
				<%= yield %> 
            </div>
			
          </div>
	      
	      
	    </div>
            <!-- END PAGE -->
        </div>
 </div>
<!-- BEGIN CHAT --> 
<div id="sidr">
    <div class="chat-window-wrapper">
        <div class="chat-header">
            <div class="pull-left">
                <input type="text" placeholder="search">
            </div>
            <div class="pull-right">
                <a href="#" class="" ><div class="iconset top-settings-dark "></div> </a>
            </div>
        </div>
        <div class="side-widget">
            <div class="side-widget-title">group chats</div>
            <div class="side-widget-content">
                <div id="groups-list">
                    <ul class="groups" >
                        <li><a href="#"><div class="status-icon green"></div>Office work</a></li>
                        <li><a href="#"><div class="status-icon green"></div>Personal vibes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side-widget">
            <div class="side-widget-title">favourites</div>
            <div id="favourites-list">
                <div class="side-widget-content" >
                    <div class="user-details-wrapper active">
                        <div class="user-profile">
                            <img src="<%= url_for("/img") %>/d.jpg"  alt="" data-src="<%= url_for("/img") %>/d.jpg" data-src-retina<%= url_for("/img") %>d2x.jpg" width="35" height="35">
                        </div>
                        <div class="user-details">
                            <div class="user-name">
                                Jane Smith
                            </div>
                            <div class="user-more">
                                Hello you there?
                            </div>
                        </div>
                        <div class="user-details-status-wrapper">
                            <span class="badge badge-important">3</span>
                        </div>
                        <div class="user-details-count-wrapper">
                            <div class="status-icon green"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="user-details-wrapper">
                        <div class="user-profile">
                            <img src="<%= url_for("/img") %>/c.jpg"  alt="" data-src="<%= url_for("/img") %>/c.jpg" data-src-retina<%= url_for("/img") %>c2x.jpg" width="35" height="35">
                        </div>
                        <div class="user-details">
                            <div class="user-name">
                                David Nester
                            </div>
                            <div class="user-more">
                                Busy, Do not disturb
                            </div>
                        </div>
                        <div class="user-details-status-wrapper">
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-details-count-wrapper">
                            <div class="status-icon red"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-widget">
            <div class="side-widget-title">more friends</div>
            <div class="side-widget-content" id="friends-list">
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/d.jpg"  alt="" data-src="<%= url_for("/img") %>/d.jpg" data-src-retina<%= url_for("/img") %>d2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            Jane Smith
                        </div>
                        <div class="user-more">
                            Hello you there?
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">

                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon green"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/h.jpg"  alt="" data-src="<%= url_for("/img") %>/h.jpg" data-src-retina<%= url_for("/img") %>h2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            David Nester
                        </div>
                        <div class="user-more">
                            Busy, Do not disturb
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">
                        <div class="clearfix"></div>
                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon red"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/c.jpg"  alt="" data-src="<%= url_for("/img") %>/c.jpg" data-src-retina<%= url_for("/img") %>c2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            Jane Smith
                        </div>
                        <div class="user-more">
                            Hello you there?
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">

                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon green"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="user-details-wrapper">
                    <div class="user-profile">
                        <img src="<%= url_for("/img") %>/h.jpg"  alt="" data-src="<%= url_for("/img") %>/h.jpg" data-src-retina<%= url_for("/img") %>h2x.jpg" width="35" height="35">
                    </div>
                    <div class="user-details">
                        <div class="user-name">
                            David Nester
                        </div>
                        <div class="user-more">
                            Busy, Do not disturb
                        </div>
                    </div>
                    <div class="user-details-status-wrapper">
                        <div class="clearfix"></div>
                    </div>
                    <div class="user-details-count-wrapper">
                        <div class="status-icon red"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>





</body>

</html>