<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Webarch - Responsive Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />

<!-- BEGIN CORE CSS FRAMEWORK -->
<%= stylesheet_link_tag "pace-theme-flash.css" %>
<%= stylesheet_link_tag "bootstrap.min.css" %>
<%= stylesheet_link_tag "bootstrap-theme.min.css" %>
<%= stylesheet_link_tag "font-awesome.css" %>
<%= stylesheet_link_tag "animate.min.css" %>
<!-- END CORE CSS FRAMEWORK -->
<!-- BEGIN CSS TEMPLATE -->
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "responsive.css" %>
<%= stylesheet_link_tag "custom-icon-set.css" %>
<!-- END CSS TEMPLATE -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top">
<div class="container">
  <div class="row login-container column-seperation">
    
    <div class="col-md-5 col-md-offset-1">
          <h2>Sign in to webarch</h2>
          <p>Use Facebook, Twitter or your email to sign in.<br>
            <a href="#">Sign up Now!</a> for a webarch account,It's free and always will be..</p>
          <br>

		   <button class="btn btn-block btn-info col-md-8" type="button">
            <span class="pull-left"><i class="icon-facebook"></i></span>
            <span class="bold">Login with Facebook</span> </button>
		   <button class="btn btn-block btn-success col-md-8" type="button">
            <span class="pull-left"><i class="icon-twitter"></i></span>
            <span class="bold">Login with Twitter</span>
		    </button>
        </div>
        <div class="col-md-5 "> <br>
    
    
        <% if notice %><p class="notice"><%= notice %></p><% end %>
	<% if alert %><p class="alert"><%= alert %></p><% end %>
    
        <%= yield %> 
  
    </div>
  
  </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
<%= javascript_include_tag "jquery-1.8.3.min.js" %>
<%= javascript_include_tag "bootstrap.min.js" %>
<%= javascript_include_tag "pace.min.js" %>
<%= javascript_include_tag "jquery.validate.min.js" %>
<%= javascript_include_tag "login.js" %>
<!-- BEGIN CORE TEMPLATE JS -->
<!-- END CORE TEMPLATE JS -->
</body>
</html>